infrastructure/step_function.json
{
  "Comment": "Alpha Engine Saturday Pipeline — orchestrates weekly data collection, RAG ingestion, research, predictor training, backtesting, and evaluation sequentially with fail-fast error handling. DataPhase1 and RAGIngestion are independent SF states (split 2026-05-06 after a RAG-side import bug failed under the DataPhase1 label, masking that the data layer was healthy). Backtester and Evaluator are independent SF states (split 2026-05-07 — plan: alpha-engine-docs/private/evaluator-split-260507.md — for failure isolation, per-stage email, and independent CW heartbeats). Each runs on its own spot — accepts +1 bootstrap cycle (~7 min) per split in exchange for failure isolation, redrive granularity, and per-step health markers. RAG still runs before Research so the knowledge base is fresh. Backtester runs AFTER predictor training (depends on model weights); Evaluator runs after Backtester (reads same-cohort backtest artifacts). Supports partial execution via boolean skip_* flags on input (e.g. {\"skip_data_phase1\": true, \"skip_rag_ingestion\": true, \"skip_evaluator\": true}); a missing flag is treated as false, so scheduled runs are unaffected.",
  "StartAt": "InitializeInput",
  "States": {

    "InitializeInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the execution input so manual invocations don't have to pass every field. Scheduled EventBridge runs pass sns_topic_arn + ec2_instance_id explicitly; manual runs for partial-execution testing often omit sns_topic_arn, which previously caused HandleFailure/NotifyComplete to error on missing JSONPath. States.JsonMerge with user-input as the second arg lets explicit values win.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.StringToJson('{\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'), $$.Execution.Input, false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckSkipDataPhase1"
    },

    "CheckSkipDataPhase1": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_data_phase1\": true} routes past DataPhase1 directly to the next skip-gate (CheckSkipRAGIngestion). Missing flag = run as normal.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_data_phase1", "IsPresent": true},
            {"Variable": "$.skip_data_phase1", "BooleanEquals": true}
          ],
          "Next": "CheckSkipRAGIngestion"
        }
      ],
      "Default": "DataPhase1"
    },

    "DataPhase1": {
      "Type": "Task",
      "Comment": "Weekly data collection (morning-enrich + Phase 1 + universe-prune) on a dedicated spot EC2. RAG ingestion lives in the separate RAGIngestion state — split 2026-05-06 so a RAG failure no longer hides under the DataPhase1 label and so redrive granularity matches actual workloads.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_data_weekly.sh --data-only 2>&1 | tee /var/log/data-weekly.log"
          ],
          "executionTimeout": ["5400"]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_result",
      "Next": "WaitForDataPhase1"
    },

    "WaitForDataPhase1": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.data_phase1_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_poll",
      "Next": "CheckDataPhase1Status"
    },

    "CheckDataPhase1Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipRAGIngestion"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "InProgress",
          "Next": "DataPhase1Wait"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Pending",
          "Next": "DataPhase1Wait"
        }
      ],
      "Default": "ExtractDataPhase1Error"
    },

    "DataPhase1Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForDataPhase1"
    },

    "CheckSkipRAGIngestion": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_rag_ingestion\": true} routes past RAG ingestion directly to CheckSkipResearch. Missing flag = run as normal. Useful when DataPhase1 ran fresh but the RAG corpus is already current.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_rag_ingestion", "IsPresent": true},
            {"Variable": "$.skip_rag_ingestion", "BooleanEquals": true}
          ],
          "Next": "CheckSkipResearch"
        }
      ],
      "Default": "RAGIngestion"
    },

    "RAGIngestion": {
      "Type": "Task",
      "Comment": "Weekly RAG ingestion (SEC filings, 8-Ks, earnings, theses) on its own spot EC2. Same dispatcher (always-on micro) that ran DataPhase1; a fresh spot instance is launched here so this state has its own watchdog budget and per-state health marker. ~7 min extra bootstrap vs the prior bundled design — accepted in exchange for failure isolation. Origin of split: 2026-05-06 SF run where alpha-engine-lib v0.3.0 had bare `from rag.X` imports inside retrieval.py that fired during RRC dedup; failure was labeled DataPhase1 even though the data layer was healthy.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_data_weekly.sh --rag-only 2>&1 | tee /var/log/rag-ingestion.log"
          ],
          "executionTimeout": ["3600"]
        },
        "TimeoutSeconds": 3600
      },
      "TimeoutSeconds": 3660,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.rag_ingestion_result",
      "Next": "WaitForRAGIngestion"
    },

    "WaitForRAGIngestion": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.rag_ingestion_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.rag_ingestion_poll",
      "Next": "CheckRAGIngestionStatus"
    },

    "CheckRAGIngestionStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipResearch"
        },
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "InProgress",
          "Next": "RAGIngestionWait"
        },
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "Pending",
          "Next": "RAGIngestionWait"
        }
      ],
      "Default": "ExtractRAGIngestionError"
    },

    "RAGIngestionWait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForRAGIngestion"
    },

    "CheckSkipResearch": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_research\": true} bypasses the research Lambda and jumps to DataPhase2's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_research", "IsPresent": true},
            {"Variable": "$.skip_research", "BooleanEquals": true}
          ],
          "Next": "CheckSkipDataPhase2"
        }
      ],
      "Default": "Research"
    },

    "Research": {
      "Type": "Task",
      "Comment": "Research Lambda — generates signals.json",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-runner:live",
        "Payload": {
          "weekly_run": true,
          "force": true
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.research_result",
      "Next": "CheckResearchStatus"
    },

    "CheckResearchStatus": {
      "Type": "Choice",
      "Comment": "Verify research returned OK (not ERROR)",
      "Choices": [
        {
          "Variable": "$.research_result.Payload.status",
          "StringEquals": "OK",
          "Next": "CheckSkipDataPhase2"
        },
        {
          "Variable": "$.research_result.Payload.status",
          "StringEquals": "SKIPPED",
          "Next": "CheckSkipDataPhase2"
        }
      ],
      "Default": "ExtractResearchError"
    },

    "CheckSkipDataPhase2": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_data_phase2\": true} bypasses the Phase 2 Lambda and jumps to PredictorTraining's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_data_phase2", "IsPresent": true},
            {"Variable": "$.skip_data_phase2", "BooleanEquals": true}
          ],
          "Next": "CheckSkipPredictorTraining"
        }
      ],
      "Default": "DataPhase2"
    },

    "DataPhase2": {
      "Type": "Task",
      "Comment": "Phase 2: alternative data for promoted tickers (Lambda)",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-data-collector:live",
        "Payload": {
          "phase": 2
        }
      },
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase2_result",
      "Next": "CheckSkipPredictorTraining"
    },

    "CheckSkipPredictorTraining": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_predictor_training\": true} bypasses GBM retrain and jumps to DriftDetection's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_predictor_training", "IsPresent": true},
            {"Variable": "$.skip_predictor_training", "BooleanEquals": true}
          ],
          "Next": "CheckSkipDriftDetection"
        }
      ],
      "Default": "PredictorTraining"
    },

    "PredictorTraining": {
      "Type": "Task",
      "Comment": "GBM retrain on spot instance (launched from always-on EC2)",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-predictor",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_train.sh --full-only 2>&1 | tee /var/log/predictor-training.log"
          ],
          "executionTimeout": ["5400"]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_result",
      "Next": "WaitForPredictorTraining"
    },

    "WaitForPredictorTraining": {
      "Type": "Task",
      "Comment": "Poll SSM command until predictor training complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.predictor_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_poll",
      "Next": "CheckPredictorStatus"
    },

    "CheckPredictorStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipDriftDetection"
        },
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "InProgress",
          "Next": "PredictorWait"
        },
        {
          "Variable": "$.predictor_poll.Status",
          "StringEquals": "Pending",
          "Next": "PredictorWait"
        }
      ],
      "Default": "ExtractPredictorError"
    },

    "PredictorWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForPredictorTraining"
    },

    "CheckSkipDriftDetection": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_drift_detection\": true} bypasses drift detection and jumps to Backtester's skip-gate.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_drift_detection", "IsPresent": true},
            {"Variable": "$.skip_drift_detection", "BooleanEquals": true}
          ],
          "Next": "CheckSkipBacktester"
        }
      ],
      "Default": "DriftDetection"
    },

    "DriftDetection": {
      "Type": "Task",
      "Comment": "Feature + prediction drift check on spot EC2 (non-blocking). Micro is the dispatcher; launcher clones data + predictor on a fresh spot, runs monitoring.drift_detector, terminates.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_drift_detection.sh 2>&1 | tee /var/log/drift-detection.log"
          ],
          "executionTimeout": ["1200"]
        },
        "TimeoutSeconds": 1200
      },
      "TimeoutSeconds": 1260,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Drift detection is non-blocking — continue to backtester",
          "Next": "CheckSkipBacktester",
          "ResultPath": "$.drift_error"
        }
      ],
      "ResultPath": "$.drift_result",
      "Next": "CheckSkipBacktester"
    },

    "CheckSkipBacktester": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_backtester\": true} bypasses ONLY the Backtester state (backtest + parity); the Evaluator state still runs and gracefully degrades on missing same-cohort artifacts (evaluate.py logs a WARNING and continues — verified against the 2026-05-07 v1 validation run, where `Simulation artifact not found in S3: backtest/2026-05-07/sweep_df.parquet — evaluator will run without it` shows up cleanly). Routes to CheckSkipEvaluator so {\"skip_evaluator\": true} composes orthogonally: (a) neither flag → both run, (b) skip_backtester only → Evaluator runs against any pre-existing backtest/{date}/ artifacts, (c) skip_evaluator only → Backtester runs without grading, (d) both → both skipped. Eval-judge chain downstream is preserved in all four cases via CheckSkipEvaluator → CheckSkipEvalJudge (the 2026-05-03 silent-bypass fix is still pinned — both CheckSkipEvaluator paths converge to CheckSkipEvalJudge). The legacy {\"freeze_evaluator\": true} input is not honored; freeze-evaluator is a spot CLI flag (--freeze-evaluator) invoked manually outside the SF.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_backtester", "IsPresent": true},
            {"Variable": "$.skip_backtester", "BooleanEquals": true}
          ],
          "Next": "CheckSkipEvaluator"
        }
      ],
      "Default": "Backtester"
    },

    "Backtester": {
      "Type": "Task",
      "Comment": "Backtest + parity on spot instance (after predictor training). Post-2026-05-07 the evaluator stage was split into a separate Evaluator SF state for failure isolation + per-stage email + independent heartbeat (plan: alpha-engine-docs/private/evaluator-split-260507.md). spot_backtest.sh is invoked with --skip-stages=evaluator so this state runs only backtest + parity; the Evaluator state runs evaluate.py against the same backtest/{date}/ S3 prefix. If this state fails, Evaluator is NOT entered (preserves the 4/24 anti-auto-promote-garbage rule).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-backtester",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_backtest.sh --skip-stages=evaluator 2>&1 | tee /var/log/backtester.log"
          ],
          "executionTimeout": ["7200"]
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_result",
      "Next": "WaitForBacktester"
    },

    "WaitForBacktester": {
      "Type": "Task",
      "Comment": "Poll SSM command until backtester complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.backtester_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_poll",
      "Next": "CheckBacktesterStatus"
    },

    "CheckBacktesterStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipEvaluator"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "InProgress",
          "Next": "BacktesterWait"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Pending",
          "Next": "BacktesterWait"
        }
      ],
      "Default": "ExtractBacktesterError"
    },

    "BacktesterWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForBacktester"
    },

    "CheckSkipEvaluator": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_evaluator\": true} bypasses ONLY the Evaluator state (evaluate.py against today's backtest+parity artifacts) and routes to CheckSkipEvalJudge so the LLM-judge eval-pipeline downstream still fires. Use this when iterating on evaluator code mid-week without re-running the 121-min backtest. To skip the entire backtester+evaluator pair, use {\"skip_backtester\": true} on CheckSkipBacktester instead.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_evaluator", "IsPresent": true},
            {"Variable": "$.skip_evaluator", "BooleanEquals": true}
          ],
          "Next": "CheckSkipEvalJudge"
        }
      ],
      "Default": "Evaluator"
    },

    "Evaluator": {
      "Type": "Task",
      "Comment": "Evaluator on a separate spot instance (split from Backtester 2026-05-07 — plan: alpha-engine-docs/private/evaluator-split-260507.md). Reads s3://alpha-engine-research/backtest/{RUN_DATE}/ artifacts produced by the prior Backtester state and runs evaluate.py --mode all --upload, which sends the per-signal grading email and auto-applies optimizer configs. Reuses spot_backtest.sh with --skip-stages=backtest,parity; the script is the canonical dispatch surface (existing CSV vocabulary). Live-apply mode by default; for diagnostic-only off-cycle runs, invoke spot_backtest.sh manually with --freeze-evaluator and --skip-stages=backtest,parity.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-backtester",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "bash infrastructure/spot_backtest.sh --skip-stages=backtest,parity 2>&1 | tee /var/log/evaluator.log"
          ],
          "executionTimeout": ["3600"]
        },
        "TimeoutSeconds": 3600
      },
      "TimeoutSeconds": 3660,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry). Mirrors Backtester retry posture for symmetry."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.evaluator_result",
      "Next": "WaitForEvaluator"
    },

    "WaitForEvaluator": {
      "Type": "Task",
      "Comment": "Poll SSM command until evaluator complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.evaluator_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.evaluator_poll",
      "Next": "CheckEvaluatorStatus"
    },

    "CheckEvaluatorStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipEvalJudge"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "InProgress",
          "Next": "EvaluatorWait"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Pending",
          "Next": "EvaluatorWait"
        }
      ],
      "Default": "ExtractEvaluatorError"
    },

    "EvaluatorWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForEvaluator"
    },

    "CheckSkipEvalJudge": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_eval_judge\": true} bypasses the LLM-as-judge eval step (typically used for ad-hoc reruns where eval cost is unwanted). Skipping the judge does NOT skip rationale clustering — they're independent observability paths (clustering reads decision_artifacts/, judge reads its own _eval/), so we route to CheckSkipRationaleClustering instead of bypassing both.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_eval_judge", "IsPresent": true},
            {"Variable": "$.skip_eval_judge", "BooleanEquals": true}
          ],
          "Next": "CheckSkipRationaleClustering"
        }
      ],
      "Default": "ComputeEvalCadence"
    },

    "ComputeEvalCadence": {
      "Type": "Pass",
      "Comment": "Extract day-of-month + ISO date from the SF execution start time so the next Choice state can branch the LLM-as-judge two-tier sampling. day_of_month <= 07 ⇒ first Saturday of the month ⇒ force_sonnet_pass=true (monthly Sonnet sweep per ROADMAP §1626). All other Saturdays run Haiku-only with the per-artifact <3 escalation gate inside the Lambda.",
      "Parameters": {
        "day_of_month.$": "States.ArrayGetItem(States.StringSplit(States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0), '-'), 2)",
        "eval_date.$": "States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0)"
      },
      "ResultPath": "$.eval_cadence",
      "Next": "CheckMonthlyCadence"
    },

    "CheckMonthlyCadence": {
      "Type": "Choice",
      "Comment": "First-Saturday-of-the-month detection via lexicographic compare on the zero-padded day-of-month string ('01'..'07' < '08'). Lexicographic ordering is correct here because all values are zero-padded 2-char strings.",
      "Choices": [
        {
          "Variable": "$.eval_cadence.day_of_month",
          "StringLessThan": "08",
          "Next": "EvalJudgeFirstSaturday"
        }
      ],
      "Default": "EvalJudgeWeekly"
    },

    "EvalJudgeFirstSaturday": {
      "Type": "Task",
      "Comment": "Monthly Sonnet sweep — force_sonnet_pass=true causes the Lambda to evaluate every captured artifact with both Haiku and Sonnet (regardless of Haiku's per-artifact <3 escalation gate). Calibration insurance: catches the case where Haiku consistently scores 5/5 and would otherwise hide a real regression.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-eval-judge:live",
        "Payload": {
          "force_sonnet_pass": true,
          "date.$": "$.eval_cadence.eval_date"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Eval is observability — failures must NOT halt the pipeline. The handler already returns OK/PARTIAL/ERROR rather than throwing on per-artifact issues; this Catch covers infra-level failures (Lambda timeout, transient AWS errors).",
          "Next": "EvalRollingMean",
          "ResultPath": "$.eval_judge_error"
        }
      ],
      "ResultPath": "$.eval_judge_result",
      "Next": "EvalRollingMean"
    },

    "EvalJudgeWeekly": {
      "Type": "Task",
      "Comment": "Weekly Haiku-only judge run with per-artifact <3 escalation to Sonnet for borderline outputs. Per-artifact rather than batch-level escalation keeps weekly judging cost bounded while preserving diagnostic depth where it matters.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-eval-judge:live",
        "Payload": {
          "force_sonnet_pass": false,
          "date.$": "$.eval_cadence.eval_date"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Eval is observability — failures must NOT halt the pipeline.",
          "Next": "EvalRollingMean",
          "ResultPath": "$.eval_judge_error"
        }
      ],
      "ResultPath": "$.eval_judge_result",
      "Next": "EvalRollingMean"
    },

    "EvalRollingMean": {
      "Type": "Task",
      "Comment": "Rolling-4-week-mean derived metric Lambda (PR 4b) — runs after both eval-judge branches converge. Reads AlphaEngine/Eval/agent_quality_score for the trailing 28 days, computes the mean per (judged_agent_id, criterion, judge_model) combo, and emits agent_quality_score_4w_mean which a CloudWatch alarm fires against (per ROADMAP §1634). Runs every Saturday — even on weeks where eval-judge had infra failures, the mean across the prior 4 weeks of available data is still the most-current calibration signal.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-eval-rolling-mean:live",
        "Payload": {
          "end_time_iso.$": "$$.Execution.StartTime"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Eval observability layer — failures must NOT halt the pipeline.",
          "Next": "CheckSkipRationaleClustering",
          "ResultPath": "$.eval_rolling_mean_error"
        }
      ],
      "ResultPath": "$.eval_rolling_mean_result",
      "Next": "CheckSkipRationaleClustering"
    },

    "CheckSkipRationaleClustering": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_rationale_clustering\": true} bypasses the cross-week rationale clustering Lambda (used during ad-hoc reruns where corpus is in a known-bad state, while iterating on extraction logic, or for post-incident reruns where stale outputs shouldn't hit CloudWatch). Standalone invocation of the Lambda is always available regardless of this flag.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_rationale_clustering", "IsPresent": true},
            {"Variable": "$.skip_rationale_clustering", "BooleanEquals": true}
          ],
          "Next": "CheckSkipReplayConcordance"
        }
      ],
      "Default": "RationaleClustering"
    },

    "RationaleClustering": {
      "Type": "Task",
      "Comment": "Cross-week rationale clustering Lambda (ROADMAP P0, 2026-05-05). Reads decision_artifacts/ for the trailing 8 weeks, clusters rationales per agent_id via TF-IDF char n-grams + greedy single-linkage with digit-normalization, emits CW metric agent_rationale_template_concentration (% of rationales in top-3 clusters; >0.7 indicates template-generation), and persists per-agent analysis JSON to decision_artifacts/_analysis/{agent_id}/{YYYY-WW}.json. Runs every Saturday after EvalRollingMean — same image-share + observability framing.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-rationale-clustering:live",
        "Payload": {
          "end_time_iso.$": "$$.Execution.StartTime"
        }
      },
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Eval observability layer — failures must NOT halt the pipeline.",
          "Next": "CheckSkipReplayConcordance",
          "ResultPath": "$.rationale_clustering_error"
        }
      ],
      "ResultPath": "$.rationale_clustering_result",
      "Next": "CheckSkipReplayConcordance"
    },

    "CheckSkipReplayConcordance": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_replay_concordance\": true} bypasses the cheap-model concordance Lambda (used for ad-hoc reruns where Anthropic spend is unwanted, or while iterating on the comparison scorers in alpha-engine-backtester replay/comparison.py). Independent of skip_rationale_clustering and skip_counterfactual — the three are independent agent-justification signals. Standalone invocation of the Lambda is always available regardless of this flag.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_replay_concordance", "IsPresent": true},
            {"Variable": "$.skip_replay_concordance", "BooleanEquals": true}
          ],
          "Next": "CheckSkipCounterfactual"
        }
      ],
      "Default": "ReplayConcordance"
    },

    "ReplayConcordance": {
      "Type": "Task",
      "Comment": "Weekly cheap-model concordance Lambda (ROADMAP P0, agent-justification gate signal #3). Replays each captured DecisionArtifact in the trailing 8-week window under the configured target model(s) via langchain_anthropic.with_structured_output against the canonical agent_schemas Pydantic contract; aggregates agreement_score per (agent_id_base, target_model); emits CW metric agent_cheap_model_concordance; persists per-target summary JSON to decision_artifacts/_replay_summary/{YYYY-MM-DD}/{target_model}.json. Default target: claude-haiku-4-5 (Sonnet→Haiku concordance ≈ \"is the larger model earning its cost?\"). Runs every Saturday after RationaleClustering.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-replay-concordance:live",
        "Payload": {
          "end_time_iso.$": "$$.Execution.StartTime",
          "target_models": ["claude-haiku-4-5"],
          "window_days": 56,
          "max_artifacts": 150
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Eval observability layer — concordance failure must NOT halt the pipeline. Same Catch pattern as eval-judge / eval-rolling-mean / rationale-clustering.",
          "Next": "CheckSkipCounterfactual",
          "ResultPath": "$.replay_concordance_error"
        }
      ],
      "ResultPath": "$.replay_concordance_result",
      "Next": "CheckSkipCounterfactual"
    },

    "CheckSkipCounterfactual": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_counterfactual\": true} bypasses the counterfactual rule fit Lambda (used for ad-hoc reruns while iterating on the per-agent feature extractors in alpha-engine-backtester replay/counterfactual.py). Independent of skip_rationale_clustering and skip_replay_concordance — the three are independent agent-justification signals. Standalone invocation of the Lambda is always available regardless of this flag.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_counterfactual", "IsPresent": true},
            {"Variable": "$.skip_counterfactual", "BooleanEquals": true}
          ],
          "Next": "SaturdayHealthCheck"
        }
      ],
      "Default": "Counterfactual"
    },

    "Counterfactual": {
      "Type": "Task",
      "Comment": "Weekly counterfactual rule fit Lambda (ROADMAP P0, agent-justification gate signal #2 — does the agent reduce to a 3-deep decision tree?). Trains DecisionTreeClassifier(max_depth=3) per supported agent on (input → decision) pairs from the trailing 8-week decision_artifacts/ corpus; emits CW metric agent_counterfactual_rule_fit per (judged_agent_id); persists per-agent JSON to decision_artifacts/_counterfactual/{agent_id_base}/{YYYY-WW}.json including tree_text + feature_importances. v1 covers ic_cio + macro_economist; other agents emit UNSUPPORTED markers. $0 ongoing — no LLM calls. Runs every Saturday after ReplayConcordance.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-replay-counterfactual:live",
        "Payload": {
          "end_time_iso.$": "$$.Execution.StartTime",
          "window_days": 56,
          "max_depth": 3
        }
      },
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Eval observability layer — counterfactual failure must NOT halt the pipeline. Same Catch pattern as the rest of the agent-justification triple.",
          "Next": "SaturdayHealthCheck",
          "ResultPath": "$.counterfactual_error"
        }
      ],
      "ResultPath": "$.counterfactual_result",
      "Next": "SaturdayHealthCheck"
    },

    "SaturdayHealthCheck": {
      "Type": "Task",
      "Comment": "Check data freshness after full pipeline — non-blocking (alerts on failure but does not halt). Runs from alpha-engine-dashboard post-2026-04-16 health_checker migration.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-dashboard pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "python health_checker.py --alert 2>&1 | tee /var/log/health-check.log"
          ],
          "executionTimeout": ["60"]
        },
        "TimeoutSeconds": 60
      },
      "TimeoutSeconds": 90,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Health check failure is non-blocking — continue to notify",
          "Next": "NotifyComplete",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_result",
      "Next": "WaitForSaturdayHealthCheck"
    },

    "WaitForSaturdayHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.health_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Non-blocking — continue to substrate check even if freshness polling fails. SaturdayHealthCheck (artifact freshness) and WeeklySubstrateHealthCheck (row-driven inventory validation) are independent observability paths; both must run.",
          "Next": "WeeklySubstrateHealthCheck",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_poll",
      "Next": "WeeklySubstrateHealthCheck"
    },

    "WeeklySubstrateHealthCheck": {
      "Type": "Task",
      "Comment": "Phase 2 → 3 transparency-substrate health check. Validates every row of the transparency inventory (alpha-engine-lib transparency_inventory.yaml) — agent decisions, predictor decisions, trade lineage, risk events, P&L attribution, config changes, data quality, agent quality, pipeline execution. Per-row CloudWatch metrics emit to AlphaEngine/Substrate so individual rows have their own alarms. Non-blocking (alerts on failure but does not halt pipeline) — same pattern as SaturdayHealthCheck. The Sat SF passes --cadence weekly which sweeps weekly + daily rows; the weekday EOD SF runs --cadence daily on the daily-only subset (PR #178 — DailySubstrateHealthCheck state).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-dashboard pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "pip install --quiet --upgrade -r requirements.txt",
            "python -m alpha_engine_lib.transparency --cadence weekly --alert 2>&1 | tee /var/log/substrate-health-check.log"
          ],
          "executionTimeout": ["180"]
        },
        "TimeoutSeconds": 180
      },
      "TimeoutSeconds": 240,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Substrate check failure is non-blocking — continue to notify. Per-row CloudWatch alarms catch row-level failures; this Catch only fires on infra/SSM failure.",
          "Next": "NotifyComplete",
          "ResultPath": "$.substrate_check_error"
        }
      ],
      "ResultPath": "$.substrate_check_result",
      "Next": "WaitForWeeklySubstrateHealthCheck"
    },

    "WaitForWeeklySubstrateHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.substrate_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": ["Ssm.InvocationDoesNotExistException"],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Non-blocking — continue even if polling fails. Row-level alarms still page on failure regardless of polling outcome.",
          "Next": "NotifyComplete",
          "ResultPath": "$.substrate_check_error"
        }
      ],
      "ResultPath": "$.substrate_check_poll",
      "Next": "NotifyComplete"
    },

    "NotifyComplete": {
      "Type": "Task",
      "Comment": "Success notification via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline — SUCCESS",
        "Message": "All steps completed successfully. Check dashboard for results."
      },
      "ResultPath": "$.notify_result",
      "End": true
    },

    "ExtractDataPhase1Error": {
      "Type": "Pass",
      "Comment": "Normalize DataPhase1 SSM non-Success poll into $.error so HandleFailure's States.Format template has something to serialize (the soft-failure path from CheckDataPhase1Status.Default does not populate $.error — only Task Catch blocks do).",
      "Parameters": {
        "phase": "DataPhase1",
        "source": "CheckDataPhase1Status.Default",
        "poll.$": "$.data_phase1_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractRAGIngestionError": {
      "Type": "Pass",
      "Comment": "Normalize RAGIngestion SSM non-Success poll into $.error. Mirrors ExtractDataPhase1Error — the soft-failure path from CheckRAGIngestionStatus.Default does not populate $.error, only Task Catch blocks do.",
      "Parameters": {
        "phase": "RAGIngestion",
        "source": "CheckRAGIngestionStatus.Default",
        "poll.$": "$.rag_ingestion_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractResearchError": {
      "Type": "Pass",
      "Comment": "Normalize Research Lambda soft-failure payload (status != OK) into $.error. Research handler always returns {status, date, error} on the ERROR path so copying the whole Payload is safe and preserves the real traceback string.",
      "Parameters": {
        "phase": "Research",
        "source": "CheckResearchStatus.Default",
        "payload.$": "$.research_result.Payload"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractPredictorError": {
      "Type": "Pass",
      "Comment": "Normalize PredictorTraining SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "PredictorTraining",
        "source": "CheckPredictorStatus.Default",
        "poll.$": "$.predictor_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractBacktesterError": {
      "Type": "Pass",
      "Comment": "Normalize Backtester SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Backtester",
        "source": "CheckBacktesterStatus.Default",
        "poll.$": "$.backtester_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "ExtractEvaluatorError": {
      "Type": "Pass",
      "Comment": "Normalize Evaluator SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Evaluator",
        "source": "CheckEvaluatorStatus.Default",
        "poll.$": "$.evaluator_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },

    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS — pipeline halts",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline — FAILED",
        "Message.$": "States.Format('Pipeline failed. Error: {}. Use Step Functions console to redrive from failed step.', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline steps failed. Check CloudWatch logs and redrive from the Step Functions console."
    }
  }
}
