infrastructure/step_function_modelzoo.json
{
  "Comment": "Alpha Engine ModelZoo Sunday Pipeline (alpha-engine-config-I2545, Phase 3 of the weekly-SF load-reduction plan) \u2014 the ModelZoo rotation (ResolveZooSpecs \u2192 ModelZooTrainMap \u2192 ModelZooSelect, up to 4 concurrent EC2-spot training boxes) moved OFF Saturday to its own Sunday 09:00 UTC trigger (Brian-ruled 2026-07-14: full-day retry headroom before Monday 12:45 UTC preopen). Triggered directly by EventBridge (ModelZooSundayTrigger, cron(0 9 ? * SUN *)) \u2014 NOT started by the Saturday SF, unlike the advisory child. Ends with a re-invoke of the crucible-evaluator grading Lambda (GradingLambdaReGrade) as the persistent-dash re-grade (Brian-ruled 2026-07-14: the grading Lambda is stateless/pull-based and keys to trading_day, so a Sunday run updates the SAME Friday card the Saturday run wrote \u2014 full re-grade, not tile-scoped, no new eval micromodule). Internal state order and every lifted state's Payload/Retry/Catch semantics are PRESERVED byte-for-byte from step_function.json \u2014 only the terminal edges (BranchBComplete \u2192 GradingLambdaReGrade) were rewired, since this child has no Parallel join of its own. run_date is the Sunday execution's own calendar date (see InitializeModelZooInput's Comment for why this is correct for the grading tail, and the flagged, NOT-closed cross-repo audit gap for the zoo Task states' own internal date handling). Deploy path mirrors step_function.json's single-writer contract (config#2273). Failure visibility: TopLevel TimeoutSeconds=21600 (6h \u2014 ResolveZooSpecs 11min + ModelZooTrainMap's 91min-per-spec ceiling at MaxConcurrency 4 + ModelZooSelect's 91min ceiling + the grading tail, with headroom; well inside the ~27h Sunday-09:00-UTC-to-Monday-12:45-UTC retry window) yields TIMED_OUT on a hang, matched by the saturday-sf-watch-dispatcher registration (see PIPELINES in infrastructure/lambdas/saturday-sf-watch-dispatcher/index.py). A genuine SF-engine-level error is caught by the single-branch Parallel wrapper and alerted via ModelZooHandleFailure \u2192 ModelZooFailExecution, mirroring the parent SF's failure-handling shape in miniature. Retry-ladder convention (config#2279): the three lifted spot-stage sendCommand states (ResolveZooSpecs/TrainSpecDispatch/ModelZooSelect) keep their declared gold 4+2 jittered ladder verbatim \u2014 verified by tests/test_sf_retry_ladder_convention.py.",
  "StartAt": "InitializeModelZooInput",
  "TimeoutSeconds": 21600,
  "States": {
    "InitializeModelZooInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the child execution input, mirroring the parent SF's InitializeInput idiom. run_date is stamped from $$.Execution.StartTime \u2014 the SUNDAY execution's OWN calendar date, which is DELIBERATE and correct for the ONE consumer that reads $.run_date in this child (GradingLambdaReGrade): trading_day = last_closed_trading_day(now) is backward-looking (CLAUDE.md date convention), and neither Saturday nor Sunday is a trading day, so BOTH resolve to the identical last-closed Friday trading_day \u2014 a Sunday run correctly updates the SAME report_card.json the Saturday run wrote, per Brian's 2026-07-14 ruling. IMPORTANT CAVEAT (flagged, not resolved, by this build \u2014 see alpha-engine-config-I2545's original body, 'audit the promotion/alert code for date-coupling before moving'): the lifted ResolveZooSpecs / ModelZooTrainMap / ModelZooSelect Task states do NOT reference $.run_date at all in this SF (verified \u2014 none of their Payload/commands read it); their artifact dating is entirely internal to alpha-engine-predictor's box-side scripts (training.model_zoo / spot_train.sh --model-zoo-*). If those scripts derive 'today' via wall-clock date() rather than proper trading-day math, moving this rotation from Saturday to Sunday could misdate their artifacts \u2014 this is a cross-repo (alpha-engine-predictor) audit this SF-only change cannot verify and does NOT close; tracked as a follow-up rather than assumed safe.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.JsonMerge(States.StringToJson('{\"preflight_args\":\"\",\"research_dry\":false,\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'),States.StringToJson(States.Format('{\"run_date\":\"{}\"}',States.ArrayGetItem(States.StringSplit($$.Execution.StartTime,'T'),0))),false),$$.Execution.Input,false)"
      },
      "OutputPath": "$.merged",
      "Next": "ModelZooPipelineWrapper"
    },
    "ModelZooPipelineWrapper": {
      "Type": "Parallel",
      "Comment": "Single-branch wrapper giving the ModelZoo Sunday pipeline a machine-level catch-all WITHOUT altering any lifted state's own Payload/Retry/Catch (every lifted state's own failure path is already best-effort/non-fatal by original design \u2014 'the rotation must NEVER fail the branch'). This Catch is a backstop for a genuine SF-engine-level error only.",
      "Branches": [
        {
          "StartAt": "ResolveZooSpecs",
          "States": {
            "ResolveZooSpecs": {
              "Type": "Task",
              "Comment": "config#1083 PARALLEL fan-out, step 1 (dispatcher SSM on the box, fast, NO spot): resolve the spec ids this rotation should train via list-rotation-specs, emitting a JSON array on stdout (the budget-N stalest active specs). The preamble (git pull + config stage) is redirected to stderr so StandardOutputContent is JUST the array, which ParseZooSpecs lifts into $.zoo_specs (the Map ItemsPath). BEST-EFFORT: a resolve/parse failure routes to PublishModelZooFailureImmediate then BranchBComplete (the champion already trained+promoted; the rotation must NEVER fail the Saturday SF).",
              "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
              "Parameters": {
                "DocumentName": "AWS-RunShellScript",
                "InstanceIds.$": "$.ec2_instance_id",
                "Parameters": {
                  "commands.$": "States.Array('set -eo pipefail','{ sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main; sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main; sudo -u ec2-user cp --remove-destination /home/ec2-user/alpha-engine-config/experiments/reference/predictor/predictor.yaml /home/ec2-user/alpha-engine-predictor/config/predictor.yaml; } 1>&2','cd /home/ec2-user/alpha-engine-predictor','export HOME=/home/ec2-user','export AWS_REGION=us-east-1 AWS_DEFAULT_REGION=us-east-1','export ALPHA_ENGINE_EXPERIMENT_ID=reference','/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m training.model_zoo list-rotation-specs --bucket alpha-engine-research 2>/dev/null')",
                  "executionTimeout": [
                    "600"
                  ]
                },
                "TimeoutSeconds": 600
              },
              "TimeoutSeconds": 660,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "States.Timeout"
                  ],
                  "Comment": "config#2279: declared spot-stage sendCommand convention \u2014 the 4+2 jittered ladder (mirrors MorningEnrich/DataPhase1/RAGIngestion, the gold standard). SAFE to widen here: this state's Retry fires only when the SendCommand API call itself failed (throttle/5xx/dead dispatch box) \u2014 BEFORE the launcher command ever ran, so no spot was launched and no partial S3 writes exist; post-delivery outcomes are owned by the WaitFor* poll loop + Check*Status gate, which this ladder never re-enters.",
                  "MaxAttempts": 4,
                  "IntervalSeconds": 30,
                  "BackoffRate": 2.0,
                  "MaxDelaySeconds": 300,
                  "JitterStrategy": "FULL"
                },
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "config#2279: catch-all transient tier \u2014 same idempotency argument as the tier above.",
                  "MaxAttempts": 2,
                  "IntervalSeconds": 30,
                  "BackoffRate": 2.0,
                  "MaxDelaySeconds": 300,
                  "JitterStrategy": "FULL"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort: resolve failure must NEVER fail the branch. Alert (not silent) then converge to BranchBComplete.",
                  "Next": "PublishModelZooFailureImmediate",
                  "ResultPath": "$.model_zoo_error"
                }
              ],
              "ResultPath": "$.resolve_zoo_result",
              "Next": "WaitResolveZoo"
            },
            "WaitResolveZoo": {
              "Type": "Task",
              "Comment": "Poll the ResolveZooSpecs SSM command; capture StandardOutputContent (the JSON spec-id array).",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
              "Parameters": {
                "CommandId.$": "$.resolve_zoo_result.Command.CommandId",
                "InstanceId.$": "$.ec2_instance_id[0]"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Ssm.InvocationDoesNotExistException",
                    "Ssm.InvocationDoesNotExist"
                  ],
                  "MaxAttempts": 10,
                  "IntervalSeconds": 30,
                  "BackoffRate": 1.5
                },
                {
                  "ErrorEquals": [
                    "Ssm.SdkClientException",
                    "States.Timeout"
                  ],
                  "MaxAttempts": 2,
                  "IntervalSeconds": 5,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort: poll failure routes via the alert, never to BranchBFailed.",
                  "Next": "PublishModelZooFailureImmediate",
                  "ResultPath": "$.model_zoo_error"
                }
              ],
              "ResultSelector": {
                "Status.$": "$.Status",
                "ResponseCode.$": "$.ResponseCode",
                "StatusDetails.$": "$.StatusDetails",
                "StandardErrorContent.$": "$.StandardErrorContent",
                "StandardOutputContent.$": "$.StandardOutputContent"
              },
              "ResultPath": "$.resolve_zoo_poll",
              "Next": "CheckResolveZooStatus"
            },
            "CheckResolveZooStatus": {
              "Type": "Choice",
              "Comment": "Success leads to ParseZooSpecs (lift the JSON array); InProgress/Pending wait; anything else alerts then BranchBComplete (best-effort).",
              "Choices": [
                {
                  "Variable": "$.resolve_zoo_poll.Status",
                  "StringEquals": "InProgress",
                  "Next": "ResolveZooWait"
                },
                {
                  "Variable": "$.resolve_zoo_poll.Status",
                  "StringEquals": "Pending",
                  "Next": "ResolveZooWait"
                },
                {
                  "Variable": "$.resolve_zoo_poll.Status",
                  "StringEquals": "Success",
                  "Next": "ParseZooSpecs"
                }
              ],
              "Default": "ExtractModelZooResolveError"
            },
            "ExtractModelZooResolveError": {
              "Type": "Pass",
              "Comment": "Normalize ResolveZooSpecs SSM non-Success poll into $.model_zoo_error. Mirrors ExtractPredictorError/ExtractSignalsEnvelopeError/ExtractRAGIngestionError \u2014 CheckResolveZooStatus.Default does not populate $.model_zoo_error the way a Task Catch's ResultPath does, and PublishModelZooFailureImmediate's Message calls States.JsonToString($.model_zoo_error): a direct Choice->Task jump on this edge died with States.Runtime ('$.model_zoo_error could not be found'), masking the real zoo-resolve failure behind an opaque meta-error (observed live 2026-07-10, execution offcycle-shell-20260710-220932; config#2160 arc).",
              "Parameters": {
                "phase": "ModelZooResolve",
                "source": "CheckResolveZooStatus.Default",
                "poll.$": "$.resolve_zoo_poll"
              },
              "ResultPath": "$.model_zoo_error",
              "Next": "PublishModelZooFailureImmediate"
            },
            "ResolveZooWait": {
              "Type": "Wait",
              "Seconds": 15,
              "Next": "WaitResolveZoo"
            },
            "ParseZooSpecs": {
              "Type": "Pass",
              "Comment": "config#1083: lift the resolved JSON spec-id array (StandardOutputContent of ResolveZooSpecs) into $.zoo_specs for the Map ItemsPath. Reached ONLY after CheckResolveZooStatus=Success, where the SSM command exited 0 and stdout is the CLI json.dumps(ids) output - always a valid JSON array (possibly empty, which runs zero Map iterations; ModelZooSelect then handles the empty pool). A Pass state cannot carry a Catch (it cannot throw); the upstream poll-status gate is the failure boundary - any non-success ResolveZooSpecs outcome routes to PublishModelZooFailureImmediate BEFORE this state is reached.",
              "Parameters": {
                "zoo_specs.$": "States.StringToJson($.resolve_zoo_poll.StandardOutputContent)"
              },
              "ResultPath": "$.parsed_zoo",
              "Next": "ModelZooTrainMap"
            },
            "ModelZooTrainMap": {
              "Type": "Map",
              "Comment": "config#1083 PARALLEL fan-out, step 2: train one challenger PER spec id, each on its OWN memory-isolated spot, concurrently. MaxConcurrency 4 bounds in-flight spots. PER-ITERATION ERROR ISOLATION (the key robustness property): each iteration ends in a branch-local Pass terminal (TrainSpecOK / TrainSpecFailed, both End:true) recording status as DATA so an iteration NEVER throws; a single challenger crashing (OOM / KeyError / spot interruption) does NOT abort its siblings; selection proceeds with the survivors. ToleratedFailurePercentage 100 is a defense-in-depth backstop (iterations already self-terminate as success). ItemSelector threads ec2_instance_id + preflight_args + the per-item spec id into each iteration.",
              "ItemsPath": "$.parsed_zoo.zoo_specs",
              "MaxConcurrency": 4,
              "ToleratedFailurePercentage": 100,
              "ItemSelector": {
                "spec_id.$": "$$.Map.Item.Value",
                "ec2_instance_id.$": "$.ec2_instance_id",
                "preflight_args.$": "$.preflight_args"
              },
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "TrainSpecDispatch",
                "States": {
                  "TrainSpecDispatch": {
                    "Type": "Task",
                    "Comment": "Launch a dedicated spot for THIS spec via spot_train.sh --model-zoo-spec <id>. Dispatcher SSM on the box (the script launches the actual spot internally). Honors $.preflight_args for shell-run dry mode.",
                    "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
                    "Parameters": {
                      "DocumentName": "AWS-RunShellScript",
                      "InstanceIds.$": "$.ec2_instance_id",
                      "Parameters": {
                        "commands.$": "States.Array('set -eo pipefail','cd /home/ec2-user/alpha-engine-predictor','export HOME=/home/ec2-user','export AWS_REGION=us-east-1 AWS_DEFAULT_REGION=us-east-1','export ALPHA_ENGINE_EXPERIMENT_ID=reference',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m krepis.ssm_log_capture run --slug predictor-model-zoo-spec --log /var/log/predictor-model-zoo-spec.log -- bash infrastructure/spot_train.sh --model-zoo-spec {}{}',$.spec_id,$.preflight_args))",
                        "executionTimeout": [
                          "5400"
                        ]
                      },
                      "TimeoutSeconds": 5400
                    },
                    "TimeoutSeconds": 5460,
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "States.TaskFailed",
                          "States.Timeout"
                        ],
                        "Comment": "config#2279: declared spot-stage sendCommand convention \u2014 the 4+2 jittered ladder (mirrors MorningEnrich/DataPhase1/RAGIngestion, the gold standard). SAFE to widen here: this state's Retry fires only when the SendCommand API call itself failed (throttle/5xx/dead dispatch box) \u2014 BEFORE the launcher command ever ran, so no spot was launched and no partial S3 writes exist; post-delivery outcomes are owned by the WaitFor* poll loop + Check*Status gate, which this ladder never re-enters.",
                        "MaxAttempts": 4,
                        "IntervalSeconds": 30,
                        "BackoffRate": 2.0,
                        "MaxDelaySeconds": 300,
                        "JitterStrategy": "FULL"
                      },
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "Comment": "config#2279: catch-all transient tier \u2014 same idempotency argument as the tier above.",
                        "MaxAttempts": 2,
                        "IntervalSeconds": 30,
                        "BackoffRate": 2.0,
                        "MaxDelaySeconds": 300,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "Comment": "This spec dispatch failed; record as data, do NOT throw (sibling iterations must proceed).",
                        "Next": "TrainSpecFailed",
                        "ResultPath": "$.error"
                      }
                    ],
                    "ResultPath": "$.train_spec_result",
                    "Next": "WaitTrainSpec"
                  },
                  "WaitTrainSpec": {
                    "Type": "Task",
                    "Comment": "Poll this spec SSM command until complete.",
                    "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
                    "Parameters": {
                      "CommandId.$": "$.train_spec_result.Command.CommandId",
                      "InstanceId.$": "$.ec2_instance_id[0]"
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Ssm.InvocationDoesNotExistException",
                          "Ssm.InvocationDoesNotExist"
                        ],
                        "MaxAttempts": 10,
                        "IntervalSeconds": 30,
                        "BackoffRate": 1.5
                      },
                      {
                        "ErrorEquals": [
                          "Ssm.SdkClientException",
                          "States.Timeout"
                        ],
                        "MaxAttempts": 2,
                        "IntervalSeconds": 5,
                        "BackoffRate": 1.5
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "Comment": "Poll failure for this spec; record as data, never throw.",
                        "Next": "TrainSpecFailed",
                        "ResultPath": "$.error"
                      }
                    ],
                    "ResultSelector": {
                      "Status.$": "$.Status",
                      "ResponseCode.$": "$.ResponseCode",
                      "StatusDetails.$": "$.StatusDetails",
                      "StandardErrorContent.$": "$.StandardErrorContent"
                    },
                    "ResultPath": "$.train_spec_poll",
                    "Next": "CheckTrainSpecStatus"
                  },
                  "CheckTrainSpecStatus": {
                    "Type": "Choice",
                    "Comment": "Success leads to TrainSpecOK; InProgress/Pending wait; anything else (this spec spot OOM/errored) leads to TrainSpecFailed (recorded as data, NOT a throw, so siblings proceed - the per-spec isolation win).",
                    "Choices": [
                      {
                        "Variable": "$.train_spec_poll.Status",
                        "StringEquals": "InProgress",
                        "Next": "TrainSpecWait"
                      },
                      {
                        "Variable": "$.train_spec_poll.Status",
                        "StringEquals": "Pending",
                        "Next": "TrainSpecWait"
                      },
                      {
                        "Variable": "$.train_spec_poll.Status",
                        "StringEquals": "Success",
                        "Next": "TrainSpecOK"
                      }
                    ],
                    "Default": "TrainSpecFailed"
                  },
                  "TrainSpecWait": {
                    "Type": "Wait",
                    "Seconds": 60,
                    "Next": "WaitTrainSpec"
                  },
                  "TrainSpecOK": {
                    "Type": "Pass",
                    "Comment": "This spec trained + registered its challenger. End:true so the Map iteration SUCCEEDS (never cancels sibling iterations).",
                    "Parameters": {
                      "spec_status": "OK",
                      "spec_id.$": "$.spec_id"
                    },
                    "End": true
                  },
                  "TrainSpecFailed": {
                    "Type": "Pass",
                    "Comment": "This spec training failed (spot OOM / KeyError / interruption). Records status as DATA + End:true so the iteration SUCCEEDS in SF terms - the failure is isolated to THIS spec, siblings proceed, and ModelZooSelect simply finds this spec challenger absent from the registry (tolerated). The full failure log is on the box (predictor-model-zoo-spec.log) + durable in S3 via ssm_log_capture (config#272).",
                    "Parameters": {
                      "spec_status": "FAILED",
                      "spec_id.$": "$.spec_id"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.zoo_train_results",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Backstop ONLY for a genuine Map-engine error (iterations never throw - they end success with status data). Best-effort: alert then BranchBComplete (the champion is already live). ModelZooSelect will still run on whatever registered.",
                  "Next": "PublishModelZooFailureImmediate",
                  "ResultPath": "$.model_zoo_error"
                }
              ],
              "Next": "ModelZooSelect"
            },
            "ModelZooSelect": {
              "Type": "Task",
              "Comment": "config#1083 PARALLEL fan-out, step 3 (ONE spot, after the Map joins): select over whatever spec-* challengers registered for the date (failed Map iterations are simply absent - tolerated), write the leaderboard to BOTH the dated key AND latest.json, promote the winner if MODEL_ZOO_AUTO_PROMOTE_WINNER, and send the ONE consolidated digest. BEST-EFFORT: every failure path routes to PublishModelZooFailureImmediate then BranchBComplete (the champion already trained+promoted; the rotation must NEVER fail the Saturday SF). The base champion-arch retrain (PredictorTraining) ran first and competes in the same pool.",
              "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
              "Parameters": {
                "DocumentName": "AWS-RunShellScript",
                "InstanceIds.$": "$.ec2_instance_id",
                "Parameters": {
                  "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','sudo -u ec2-user cp --remove-destination /home/ec2-user/alpha-engine-config/experiments/reference/predictor/predictor.yaml /home/ec2-user/alpha-engine-predictor/config/predictor.yaml','cd /home/ec2-user/alpha-engine-predictor','export HOME=/home/ec2-user','export AWS_REGION=us-east-1 AWS_DEFAULT_REGION=us-east-1','export ALPHA_ENGINE_EXPERIMENT_ID=reference',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m krepis.ssm_log_capture run --slug predictor-model-zoo-select --log /var/log/predictor-model-zoo-select.log -- bash infrastructure/spot_train.sh --model-zoo-select{}',$.preflight_args))",
                  "executionTimeout": [
                    "5400"
                  ]
                },
                "TimeoutSeconds": 5400
              },
              "TimeoutSeconds": 5460,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "States.Timeout"
                  ],
                  "Comment": "config#2279: declared spot-stage sendCommand convention \u2014 the 4+2 jittered ladder (mirrors MorningEnrich/DataPhase1/RAGIngestion, the gold standard). SAFE to widen here: this state's Retry fires only when the SendCommand API call itself failed (throttle/5xx/dead dispatch box) \u2014 BEFORE the launcher command ever ran, so no spot was launched and no partial S3 writes exist; post-delivery outcomes are owned by the WaitFor* poll loop + Check*Status gate, which this ladder never re-enters.",
                  "MaxAttempts": 4,
                  "IntervalSeconds": 30,
                  "BackoffRate": 2.0,
                  "MaxDelaySeconds": 300,
                  "JitterStrategy": "FULL"
                },
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "config#2279: catch-all transient tier \u2014 same idempotency argument as the tier above.",
                  "MaxAttempts": 2,
                  "IntervalSeconds": 30,
                  "BackoffRate": 2.0,
                  "MaxDelaySeconds": 300,
                  "JitterStrategy": "FULL"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort: a select failure must NEVER fail the branch. Alert (not silent) then converge to BranchBComplete.",
                  "Next": "PublishModelZooFailureImmediate",
                  "ResultPath": "$.model_zoo_error"
                }
              ],
              "ResultPath": "$.model_zoo_result",
              "Next": "WaitForModelZoo"
            },
            "WaitForModelZoo": {
              "Type": "Task",
              "Comment": "Poll the ModelZooSelect SSM command until complete.",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
              "Parameters": {
                "CommandId.$": "$.model_zoo_result.Command.CommandId",
                "InstanceId.$": "$.ec2_instance_id[0]"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Ssm.InvocationDoesNotExistException",
                    "Ssm.InvocationDoesNotExist"
                  ],
                  "MaxAttempts": 10,
                  "IntervalSeconds": 30,
                  "BackoffRate": 1.5
                },
                {
                  "ErrorEquals": [
                    "Ssm.SdkClientException",
                    "States.Timeout"
                  ],
                  "MaxAttempts": 2,
                  "IntervalSeconds": 5,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort: poll failure must not fail the branch - but must not be SILENT either (the base retrain deferred its email to the zoo digest). Alert via PublishModelZooFailureImmediate, then converge to BranchBComplete.",
                  "Next": "PublishModelZooFailureImmediate",
                  "ResultPath": "$.model_zoo_error"
                }
              ],
              "ResultSelector": {
                "Status.$": "$.Status",
                "ResponseCode.$": "$.ResponseCode",
                "StatusDetails.$": "$.StatusDetails",
                "StandardErrorContent.$": "$.StandardErrorContent"
              },
              "ResultPath": "$.model_zoo_poll",
              "Next": "CheckModelZooStatus"
            },
            "CheckModelZooStatus": {
              "Type": "Choice",
              "Comment": "Any non-success routes to PublishModelZooFailureImmediate (SNS alert) then BranchBComplete - selection is best-effort and its failure is logged on the box (predictor-model-zoo-select.log); the champion is already live. The alert is required because PREDICTOR_DEFER_TRAINING_EMAIL=1 deferred the base retrain email to the zoo digest, so a silent zoo failure would otherwise mean zero email for the run.",
              "Choices": [
                {
                  "Variable": "$.model_zoo_poll.Status",
                  "StringEquals": "InProgress",
                  "Next": "ModelZooWait"
                },
                {
                  "Variable": "$.model_zoo_poll.Status",
                  "StringEquals": "Pending",
                  "Next": "ModelZooWait"
                },
                {
                  "Variable": "$.model_zoo_poll.Status",
                  "StringEquals": "Success",
                  "Next": "GradingLambdaReGrade"
                }
              ],
              "Default": "ExtractModelZooSelectError"
            },
            "ExtractModelZooSelectError": {
              "Type": "Pass",
              "Comment": "Normalize ModelZooSelect SSM non-Success poll into $.model_zoo_error. Mirrors ExtractPredictorError/ExtractSignalsEnvelopeError/ExtractRAGIngestionError \u2014 CheckModelZooStatus.Default does not populate $.model_zoo_error the way a Task Catch's ResultPath does, and PublishModelZooFailureImmediate's Message calls States.JsonToString($.model_zoo_error): a direct Choice->Task jump on this edge died with States.Runtime ('$.model_zoo_error could not be found'), masking the real zoo-select failure behind an opaque meta-error (observed live 2026-07-10, execution offcycle-shell-20260710-220932; config#2160 arc).",
              "Parameters": {
                "phase": "ModelZooSelect",
                "source": "CheckModelZooStatus.Default",
                "poll.$": "$.model_zoo_poll"
              },
              "ResultPath": "$.model_zoo_error",
              "Next": "PublishModelZooFailureImmediate"
            },
            "PublishModelZooFailureImmediate": {
              "Type": "Task",
              "Comment": "Fire an SNS failure alert when the model-zoo rotation fails/times-out. REQUIRED for fallback safety: PredictorTraining now exports PREDICTOR_DEFER_TRAINING_EMAIL=1, so the base champion-arch retrain DEFERS its per-run training email to the consolidated zoo digest (sent at the end of run_rotation_and_select). If the zoo then fails, NEITHER email goes out \u2014 without this alert the run would be SILENT. Best-effort like the predictor early-signal alert: an SNS publish failure is caught and still routes to BranchBComplete (the champion already trained+promoted; the rotation is non-critical, so a zoo failure must NEVER fail the branch).",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn.$": "$.sns_topic_arn",
                "Subject.$": "States.Format('Alpha Engine Saturday{} Pipeline \u2014 ModelZooRotation FAILED (zoo digest email may be missing)', $.pipeline_label)",
                "Message.$": "States.Format('The model-zoo rotation failed or timed out. The base champion-arch retrain already trained+promoted and DEFERRED its training email to the zoo digest (PREDICTOR_DEFER_TRAINING_EMAIL=1), so the consolidated digest email may NOT have been sent for this run \u2014 review predictor-model-zoo.log on the spot and predictor/model_zoo/leaderboard/. The branch will still complete (the champion is live); the rotation is best-effort. Error: {}', States.JsonToString($.model_zoo_error))"
              },
              "ResultPath": null,
              "Next": "GradingLambdaReGrade",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort: a failed SNS publish must not prevent the branch from completing. The champion is already live.",
                  "ResultPath": null,
                  "Next": "GradingLambdaReGrade"
                }
              ]
            },
            "ModelZooWait": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "WaitForModelZoo"
            },
            "GradingLambdaReGrade": {
              "Type": "Task",
              "Comment": "Persistent-dash re-grade (Brian's 2026-07-14 ruling on alpha-engine-config-I2545): the crucible-evaluator grading Lambda is stateless / full-rebuild-per-invoke and keys its report_card.json to trading_day, NOT calendar date \u2014 a Sunday invocation resolves to the SAME Friday trading_day the Saturday run's ReportCard already wrote, updating that card in place with whatever the zoo rotation just changed (e.g. a newly promoted champion). No new eval micromodule needed; this is a full re-grade, not tile-scoped. Same FunctionName/ Payload shape as the parent Saturday SF's ReportCard state (step_function.json) by design \u2014 same Lambda, same contract. dry_run.$=$.research_dry so a dry-run invocation of this SF (manual testing) doesn't persist a degenerate card, mirroring ReportCard's own preflight-aware convention. NON-FATAL (I2545 build item 2): its Catch routes to PublishGradingDegradedAlert rather than failing the zoo run \u2014 the rotation/promotion already completed and must not be invalidated by an advisory grading failure. alpha-engine-config-I2556 (2026-07-14): Payload now carries \"snapshot\": false \u2014 this Sunday re-grade only refreshes the standing latest.json, never a second same-week dated snapshot (the Saturday advisory child SF's ReportCard, step_function_advisory.json, is the one weekly-freeze invocation that passes \"snapshot\": true). Evaluator-side handler support ships separately (I2556, crucible-evaluator); an unrecognized event field is ignored harmlessly by the CURRENT handler.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-evaluator:live",
                "Payload": {
                  "date.$": "$.run_date",
                  "dry_run.$": "$.research_dry",
                  "snapshot": false
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 30,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Advisory re-grade is non-fatal \u2014 the zoo rotation/promotion already completed and must not be invalidated by a grading failure. Alert (not silent) then converge to the terminal notify.",
                  "Next": "PublishGradingDegradedAlert",
                  "ResultPath": "$.report_card_error"
                }
              ],
              "ResultPath": "$.report_card_result",
              "Next": "ModelZooSundayNotifyComplete"
            },
            "PublishGradingDegradedAlert": {
              "Type": "Task",
              "Comment": "Mirrors the parent SF's PublishReportCardDegraded shape exactly (config#2302 discipline: hardcoded Subject/Message constants, best-effort Catch). WARNING severity \u2014 the model-zoo rotation/promotion is unaffected; only the persistent-dash re-grade degraded.",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn.$": "$.sns_topic_arn",
                "Subject": "Alpha Engine ModelZoo Sunday Pipeline \u2014 ReportCard re-grade WARNING",
                "Message": "The Sunday persistent-dash re-grade (ReportCard Lambda re-invoked after the model-zoo rotation) failed \u2014 see $.report_card_error on the execution record for detail. This is NON-FATAL: the model-zoo rotation/promotion already completed; only the dashboard's trading_day card was not refreshed with this run's outcome. View pipeline status: https://console.nousergon.ai/pipeline-status"
              },
              "ResultPath": "$.report_card_degraded_notify",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort alert \u2014 a publish failure must not block the non-fatal advisory path this alert decorates.",
                  "ResultPath": "$.report_card_degraded_notify_error",
                  "Next": "ModelZooSundayNotifyComplete"
                }
              ],
              "Next": "ModelZooSundayNotifyComplete"
            },
            "ModelZooSundayNotifyComplete": {
              "Type": "Task",
              "Comment": "Sunday ModelZoo child SF (alpha-engine-config-I2545) success notifier. Mirrors the parent Saturday SF's NotifyComplete exactly (config#1819: constants-only Subject/Message, best-effort Catch).",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn.$": "$.sns_topic_arn",
                "Subject": "Alpha Engine ModelZoo Sunday Pipeline \u2014 SUCCESS",
                "Message": "The Sunday model-zoo rotation (resolve \u2192 train \u2192 select, with auto-promote if MODEL_ZOO_AUTO_PROMOTE_WINNER) and the persistent-dash re-grade completed. Any individual-stage degradation was already alerted separately. View pipeline status: https://console.nousergon.ai/pipeline-status"
              },
              "ResultPath": "$.notify_result",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "config#1819 \u2014 best-effort: a SUCCESS-path notifier must never fail an otherwise-succeeded child execution.",
                  "ResultPath": "$.notify_error",
                  "Next": "ModelZooSundayNotifyCompleteDegraded"
                }
              ],
              "End": true
            },
            "ModelZooSundayNotifyCompleteDegraded": {
              "Type": "Pass",
              "Comment": "config#1819 \u2014 records the caught publish failure as execution DATA, mirroring the parent SF's NotifyCompleteDegraded.",
              "Parameters": {
                "degraded": true,
                "source": "ModelZooSundayNotifyComplete",
                "error.$": "$.notify_error"
              },
              "ResultPath": "$.notify_degraded",
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ModelZooNormalizeFailureContext",
          "ResultPath": "$.error"
        }
      ],
      "End": true
    },
    "ModelZooNormalizeFailureContext": {
      "Type": "Pass",
      "Comment": "Single Catch/Next funnel before ModelZooHandleFailure, mirroring the parent SF's NormalizeFailureContext (config#1819 class).",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.StringToJson('{\"error\":{\"phase\":\"Unknown\",\"source\":\"ModelZooNormalizeFailureContext\",\"detail\":\"no $.error was set by the upstream Catch\"},\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'),$,false)"
      },
      "OutputPath": "$.merged",
      "Next": "ModelZooHandleFailure"
    },
    "ModelZooHandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS \u2014 ModelZoo Sunday child pipeline halted on a genuine SF-engine-level error escaping the wrapper Parallel (every lifted state's OWN failure path is best-effort/non-fatal by design). Hardcoded Subject constant (config#1819 class).",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine ModelZoo Sunday Pipeline \u2014 FAILED",
        "Message.$": "States.Format('ModelZoo Sunday Pipeline failed at the SF-engine level (this is a backstop path \u2014 the rotation stages are individually best-effort by design). Error: {}. Full-day retry headroom exists before Monday 12:45 UTC preopen (trigger-time ruling 2026-07-14). View pipeline status: https://console.nousergon.ai/pipeline-status', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "ModelZooFailExecution"
    },
    "ModelZooFailExecution": {
      "Type": "Fail",
      "Error": "ModelZooPipelineFailure",
      "Cause": "The ModelZoo Sunday child SF failed at the SF-engine level. Check CloudWatch Logs (/aws/stepfunctions/ne-modelzoo-sunday-pipeline) for details. Full-day retry headroom exists before Monday 12:45 UTC preopen \u2014 a fresh execution can be started manually before then."
    }
  }
}
