infrastructure/step_function_daily.json
{
  "Comment": "Alpha Engine Weekday Pipeline — morning polygon enrichment, predictor inference, executor start. Runs Mon-Fri 6:05 AM PT (13:05 UTC). MorningEnrich (added 2026-04-24) overwrites the prior trading day's ArcticDB row with polygon's authoritative OHLCV+VWAP before predictor inference reads it — fixes the 2026-04-17→2026-04-23 silent VWAP outage where the EOD yfinance pass was the only source. EOD yfinance collection runs via the post-close EOD SF on ae-trading. Policy: all SSM steps run on ae-trading (trading_instance_id); ae-dashboard is reserved for Streamlit + nginx + spot-launcher only.",
  "StartAt": "InitializeInput",
  "States": {
    "InitializeInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the execution input so manual invocations don't have to pass every field. Scheduled EventBridge runs pass sns_topic_arn + trading_instance_id explicitly; manual reruns (which happened multiple times 2026-04-23) often omit sns_topic_arn, which caused HandleFailure to error on missing $.sns_topic_arn JSONPath. Mirrors the Saturday SF InitializeInput pattern — States.JsonMerge with user-input as the second arg lets explicit values win.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.StringToJson('{\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'), $$.Execution.Input, false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckMutexRole"
    },
    "CheckMutexRole": {
      "Type": "Choice",
      "Comment": "L274 SF MutualExclusionGuard — gate at SF entry point. Allowlist cadence-roles (daily / weekly / eod / shell-run) acquire the DynamoDB mutex; absent/operator/recovery/smoke/backfill/operator-replay roles bypass entirely (operator-initiated runs are deliberately concurrent with cadence runs). Closes the architectural hole the L286a/b producer-side universe_writer_lock covers for manual daily_append invocations — that lock guards the data writer; this Choice guards the SF entry point. Together they cover both halves of single-writer-per-cadence-cell. Trigger of record: 2026-05-26 duplicate-EventBridge-target incident (PR #322 closed the SPECIFIC dup-target shape via CI; this mutex closes the broader class — operator double-paste / EB internal retry-on-throttle / cross-region replay / future shapes the CI chokepoint misses).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.pipeline_role",
              "IsPresent": true
            },
            {
              "Or": [
                {
                  "Variable": "$.pipeline_role",
                  "StringEquals": "daily"
                },
                {
                  "Variable": "$.pipeline_role",
                  "StringEquals": "weekly"
                },
                {
                  "Variable": "$.pipeline_role",
                  "StringEquals": "eod"
                },
                {
                  "Variable": "$.pipeline_role",
                  "StringEquals": "shell-run"
                }
              ]
            }
          ],
          "Next": "AcquireMutex"
        }
      ],
      "Default": "DeployDriftCheck"
    },
    "AcquireMutex": {
      "Type": "Task",
      "Comment": "L274 — DynamoDB conditional PUT. mutex_key = '{state-machine-name}#{pipeline_role}#{YYYY-MM-DDTHH:MM}' (UTC minute bucket parsed from $$.Execution.StartTime). Two duplicate cron-fired executions started in the same minute produce identical keys; the second loses with ConditionalCheckFailedException → MutexConflict Fail. No TTL / no release: the date+minute in the key is itself the staleness window — a successfully-acquired key is naturally single-use because no future execution can land in the same past minute-bucket. Item accumulation ~<1000/yr; PAY_PER_REQUEST cost negligible.",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName": "alpha-engine-sf-execution-mutex",
        "Item": {
          "mutex_key": {
            "S.$": "States.Format('{}#{}#{}:{}', $$.StateMachine.Name, $.pipeline_role, States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, ':'), 0), States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, ':'), 1))"
          },
          "execution_arn": {
            "S.$": "$$.Execution.Id"
          },
          "started_at": {
            "S.$": "$$.Execution.StartTime"
          },
          "state_machine": {
            "S.$": "$$.StateMachine.Name"
          },
          "pipeline_role": {
            "S.$": "$.pipeline_role"
          }
        },
        "ConditionExpression": "attribute_not_exists(mutex_key)"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException"
          ],
          "Comment": "Mutex held by another concurrent execution in the same minute bucket — the duplicate-trigger case we are explicitly protecting against. Fail loud so the dup is visible in SF execution history + SNS alert (HandleFailure picks it up via MutexConflict's terminal Fail).",
          "Next": "MutexConflict",
          "ResultPath": "$.mutex_conflict"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Fail-open: DynamoDB outage / IAM drift / transient SDK error must NOT block a real trading cadence run. The mutex is best-effort architectural insurance; per feedback_no_silent_fails 'secondary observability hung off a primary path' carve-out, the primary deliverable survives a mutex-side failure. The error is captured in $.mutex_error for forensic review via SF execution history; CW alarm wiring deferred (operator-decision when first non-Conditional-Check mutex error appears).",
          "Next": "DeployDriftCheck",
          "ResultPath": "$.mutex_error"
        }
      ],
      "ResultPath": "$.mutex_result",
      "Next": "DeployDriftCheck"
    },
    "MutexConflict": {
      "Type": "Fail",
      "Error": "MutexConflict",
      "Cause": "L274: another SF execution with the same state-machine + pipeline_role + start-minute already holds the mutex. Most likely cause: duplicate EventBridge target fan-out (PR #322 closes the specific CFN-vs-deploy-script shape; this Fail catches the broader class). Forensic: check execution history for the prior holder's executionArn via DynamoDB GetItem on the mutex_key in $.mutex_conflict."
    },
    "DeployDriftCheck": {
      "Type": "Task",
      "Comment": "Verify the deployed SF definition + CloudFormation stack SHAs match alpha-engine-data@main HEAD. Halts the pipeline when infrastructure code has merged but deploy-infrastructure.sh never ran. Degraded modes (missing stamps, GitHub outage) set has_drift=false so legacy artifacts and API outages do not block trading-hours runs.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_deploy_drift"
        }
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 15,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.drift_result",
      "Next": "DeployDriftGate"
    },
    "DeployDriftGate": {
      "Type": "Choice",
      "Comment": "Hard-fail when the drift probe reports has_drift=true. Surfaces deploy lag loudly instead of silently running new SF definitions against stale Lambda images (or vice versa).",
      "Choices": [
        {
          "Variable": "$.drift_result.Payload.has_drift",
          "BooleanEquals": true,
          "Next": "HandleFailure"
        }
      ],
      "Default": "TradingDayGate"
    },
    "TradingDayGate": {
      "Type": "Task",
      "Comment": "NYSE trading-day gate, run BEFORE StartExecutorEC2. Invokes the predictor Lambda (action=check_trading_day) — pure calendar math, no box dependency. Replaces the prior on-box SSM trading_calendar check whose stdout was unreliably captured on a just-cold-booted instance (2026-06-30 false trading-day-check failure alert; config#1430). On holiday the box is never booted.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_trading_day"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "TradingDayGateFailed",
          "ResultPath": "$.trading_day_gate_error"
        }
      ],
      "ResultPath": "$.trading_day_gate",
      "Next": "TradingDayGateChoice"
    },
    "TradingDayGateChoice": {
      "Type": "Choice",
      "Comment": "Holiday/weekend (is_trading_day=false) -> skip without ever booting the box. Trading day or any non-false result -> proceed. Fail-open to trading matches the prior fail-soft posture: missing a real trading day is worse than a wasted holiday boot.",
      "Choices": [
        {
          "Variable": "$.trading_day_gate.Payload.is_trading_day",
          "BooleanEquals": false,
          "Next": "NotifyHolidaySkip"
        }
      ],
      "Default": "StartExecutorEC2"
    },
    "TradingDayGateFailed": {
      "Type": "Task",
      "Comment": "Trading-day gate Lambda failed for infrastructure reasons — alert and proceed (assume trading day). Predictor inference + downstream remain gated on enrichment success.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — Trading Day Gate Failed (Proceeding)",
        "Message.$": "States.Format('Trading-day gate Lambda failed (infra error, not a holiday detection). Pipeline proceeding as trading day. Error: {}', States.JsonToString($.trading_day_gate_error))"
      },
      "ResultPath": "$.trading_day_gate_error_notify",
      "Next": "StartExecutorEC2"
    },
    "ChronicGapSelfHeal": {
      "Type": "Task",
      "Comment": "Best-effort chronic-polygon-gap yfinance self-heal (BF-B/BRK-B/MOG-A/PSTG — polygon doesn't reliably serve them) + polygon-recovery / constituents-drift alarms. SPLIT OUT of MorningEnrich 2026-06-11: inline, an unbounded yf.download hang ran out MorningEnrich's SSM executionTimeout and SIGKILLed the whole command, discarding ~20 min of completed daily_append and failing the weekday pipeline (no predictions that day). Per the standing rule (a best-effort downstream step must never force re-running a completed upstream task — same rule that split MorningEnrich out of DataPhase1), this runs as its OWN FAIL-SOFT state: short executionTimeout, and the Catch + CheckChronicGapStatus Default both route to PredictorInference so a heal failure/hang can never block the trading path. Runs before PredictorInference so the healed chronic rows are fresh for inference; postflight remains the load-bearing freshness gate.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "export ALPHA_ENGINE_DEPLOYED=1",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "trap 'aws s3 cp /var/log/chronic-gap-heal.log \"s3://alpha-engine-research/_ssm_logs/chronic-gap-heal/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "bash scripts/ensure_lib_pin.sh /home/ec2-user/alpha-engine-data 2>&1 | tee -a /var/log/chronic-gap-heal.log",
            "python weekly_collector.py --chronic-gap-heal 2>&1 | tee -a /var/log/chronic-gap-heal.log"
          ],
          "executionTimeout": [
            "300"
          ]
        },
        "TimeoutSeconds": 300
      },
      "TimeoutSeconds": 360,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Fail-soft — a chronic-gap heal failure (incl. the SSM-timeout SIGKILL it used to cause) must never block predictions. Proceed to PredictorInference.",
          "Next": "CheckSkipPredictorInference",
          "ResultPath": "$.chronic_gap_error"
        }
      ],
      "ResultPath": "$.chronic_gap_result",
      "Next": "WaitForChronicGap"
    },
    "WaitForChronicGap": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.chronic_gap_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Fail-soft — a poll failure proceeds to PredictorInference, no heal that day.",
          "Next": "CheckSkipPredictorInference",
          "ResultPath": "$.chronic_gap_error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.chronic_gap_poll",
      "Next": "CheckChronicGapStatus"
    },
    "CheckChronicGapStatus": {
      "Type": "Choice",
      "Comment": "Chronic-gap heal is fail-soft: any TERMINAL status (Success OR failure OR timeout) proceeds to PredictorInference; only keep polling while InProgress/Pending. This is the inverse of CheckMorningEnrichStatus (which HandleFailures on non-success) — MorningEnrich is load-bearing, this best-effort heal is not.",
      "Choices": [
        {
          "Variable": "$.chronic_gap_poll.Status",
          "StringEquals": "InProgress",
          "Next": "ChronicGapWait"
        },
        {
          "Variable": "$.chronic_gap_poll.Status",
          "StringEquals": "Pending",
          "Next": "ChronicGapWait"
        }
      ],
      "Default": "CheckSkipPredictorInference"
    },
    "ChronicGapWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "WaitForChronicGap"
    },
    "NotifyHolidaySkip": {
      "Type": "Task",
      "Comment": "Notify that the pipeline was skipped — TradingDayGate reported is_trading_day=false (NYSE holiday/weekend). The executor box was never started (gate runs before StartExecutorEC2).",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — Skipped (Market Holiday)",
        "Message": "Daily pipeline skipped — NYSE is closed today (market holiday or weekend). No inference or trading. The executor box was not started."
      },
      "ResultPath": "$.holiday_notify",
      "End": true
    },
    "StartExecutorEC2": {
      "Type": "Task",
      "Comment": "Start ae-trading (t3.small) early — needed for both DailyData (data collection) and RunMorningPlanner (executor). No-op if already running.",
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Parameters": {
        "InstanceIds.$": "$.trading_instance_id"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.ec2_start_result",
      "Next": "WaitForInstanceReady"
    },
    "WaitForInstanceReady": {
      "Type": "Wait",
      "Comment": "Initial settle before polling for SSM-agent registration. EC2 stopped→running takes ~15-25s; polling describeInstanceInformation any earlier just burns API calls.",
      "Seconds": 15,
      "Next": "InitSSMPollCounter"
    },
    "InitSSMPollCounter": {
      "Type": "Pass",
      "Comment": "Initialize attempts counter for the SSM-readiness poll loop.",
      "Result": {
        "attempts": 0
      },
      "ResultPath": "$.ssm_poll",
      "Next": "DescribeInstanceInfo"
    },
    "DescribeInstanceInfo": {
      "Type": "Task",
      "Comment": "Poll SSM-agent registration on the trading instance. Replaces the prior fixed Wait 60s, which was insufficient on cold-boot t3.small (race observed 2026-05-05 morning — Ssm.InvalidInstanceIdException at the first SSM step because PingStatus had not yet flipped to Online when the SSM SendCommand fired). SSMReadyChoice routes to CheckSkipMorningEnrich (the first morning work gate; the NYSE holiday check now runs BEFORE the box boots via TradingDayGate, config#1430) when PingStatus=Online or HandleFailure when the bounded retry budget (~3 min) is exhausted.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "$.trading_instance_id"
          }
        ]
      },
      "TimeoutSeconds": 15,
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.SdkClientException",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.ssm_describe_result",
      "Next": "SSMReadyChoice"
    },
    "SSMReadyChoice": {
      "Type": "Choice",
      "Comment": "PingStatus=Online → CheckSkipMorningEnrich (the NYSE holiday gate already ran pre-boot via TradingDayGate, config#1430). Otherwise wait + retry up to 12 attempts (~3 min total budget). Hard-fail when budget exhausted (per feedback_no_silent_fails — agent not registering after 3 min indicates a real boot problem, not just timing).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ssm_describe_result.InstanceInformationList[0].PingStatus",
              "IsPresent": true
            },
            {
              "Variable": "$.ssm_describe_result.InstanceInformationList[0].PingStatus",
              "StringEquals": "Online"
            }
          ],
          "Next": "CheckSkipMorningEnrich"
        },
        {
          "Variable": "$.ssm_poll.attempts",
          "NumericGreaterThanEquals": 12,
          "Next": "HandleFailure"
        }
      ],
      "Default": "WaitSSMPoll"
    },
    "WaitSSMPoll": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "IncrementSSMPoll"
    },
    "IncrementSSMPoll": {
      "Type": "Pass",
      "Parameters": {
        "attempts.$": "States.MathAdd($.ssm_poll.attempts, 1)"
      },
      "ResultPath": "$.ssm_poll",
      "Next": "DescribeInstanceInfo"
    },
    "PredictorInference": {
      "Type": "Task",
      "Comment": "Run daily GBM predictions + morning briefing email",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "predict"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_result",
      "Next": "CheckPredictorCoverage"
    },
    "CheckPredictorCoverage": {
      "Type": "Task",
      "Comment": "Self-healing coverage gate: detect buy_candidates in signals.json that lack a prediction row. Primary guard against the 2026-04-20 silent-veto-bypass bug. If any are missing, ReinvokePredictor scores them and RecheckCoverage verifies before we proceed to executor.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_coverage"
        }
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 15,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.coverage_result",
      "Next": "CoverageGapChoice"
    },
    "CoverageGapChoice": {
      "Type": "Choice",
      "Comment": "If buy_candidates have unscored tickers, re-invoke the predictor with --tickers. Otherwise advance to PredictorHealthCheck.",
      "Choices": [
        {
          "Variable": "$.coverage_result.Payload.has_gap",
          "BooleanEquals": true,
          "Next": "ReinvokePredictor"
        }
      ],
      "Default": "PredictorHealthCheck"
    },
    "ReinvokePredictor": {
      "Type": "Task",
      "Comment": "Supplemental-scoring re-invoke for the tickers CheckPredictorCoverage flagged as missing. Predictor merges the new predictions into predictions/{date}.json (re-ranks the union).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "predict",
          "tickers.$": "$.coverage_result.Payload.missing_tickers"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.reinvoke_result",
      "Next": "RecheckCoverage"
    },
    "RecheckCoverage": {
      "Type": "Task",
      "Comment": "Second coverage check after ReinvokePredictor. If the gap persists (e.g. some ticker genuinely cannot be scored), bail out instead of looping — HandleFailure fires the SNS alert.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_coverage"
        }
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 15,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.coverage_recheck_result",
      "Next": "FinalCoverageGate"
    },
    "FinalCoverageGate": {
      "Type": "Choice",
      "Comment": "After one re-invocation attempt, either coverage is complete (proceed) or we have a deeper problem (fail). No further retry loop — prevents runaway invocations if a ticker is un-scorable by the model.",
      "Choices": [
        {
          "Variable": "$.coverage_recheck_result.Payload.has_gap",
          "BooleanEquals": true,
          "Next": "HandleFailure"
        }
      ],
      "Default": "PredictorHealthCheck"
    },
    "PredictorHealthCheck": {
      "Type": "Task",
      "Comment": "Daily predictor model health — IC, hit rate, calibration, retrain triggers",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-health-check:live",
        "Payload": {
          "action": "check"
        }
      },
      "TimeoutSeconds": 180,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Predictor health check is non-blocking — continue to morning planner. Executor's own upstream-health gate catches real data-freshness problems before placing orders.",
          "Next": "CheckSkipMorningPlanner",
          "ResultPath": "$.predictor_health_error"
        }
      ],
      "ResultPath": "$.predictor_health_result",
      "Next": "CheckSkipMorningPlanner"
    },
    "RunMorningPlanner": {
      "Type": "Task",
      "Comment": "Run morning order-book planner via SSM",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "export ALPHA_ENGINE_DEPLOYED=1",
            "cd /home/ec2-user/alpha-engine",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "/home/ec2-user/alpha-engine/infrastructure/wait-for-ibgateway.sh",
            "trap 'aws s3 cp /var/log/executor.log \"s3://alpha-engine-research/_ssm_logs/executor/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python executor/main.py 2>&1 | tee -a /var/log/executor.log"
          ],
          "executionTimeout": [
            "300"
          ]
        },
        "TimeoutSeconds": 300
      },
      "TimeoutSeconds": 360,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.planner_result",
      "Next": "WaitForMorningPlanner"
    },
    "WaitForMorningPlanner": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.planner_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.planner_poll",
      "Next": "CheckMorningPlannerStatus"
    },
    "CheckMorningPlannerStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipRunDaemon"
        },
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningPlannerWait"
        },
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningPlannerWait"
        }
      ],
      "Default": "HandleFailure"
    },
    "MorningPlannerWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "WaitForMorningPlanner"
    },
    "RunDaemon": {
      "Type": "Task",
      "Comment": "Restart the intraday daemon via SSM",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "export ALPHA_ENGINE_DEPLOYED=1",
            "sudo systemctl restart alpha-engine-daemon.service",
            "echo 'Daemon restarted'"
          ],
          "executionTimeout": [
            "30"
          ]
        },
        "TimeoutSeconds": 30
      },
      "TimeoutSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Daemon restart failure is non-fatal — systemd boot trigger is backup",
          "Next": "PipelineComplete",
          "ResultPath": "$.daemon_error"
        }
      ],
      "ResultPath": "$.daemon_result",
      "Next": "PipelineComplete"
    },
    "CheckSkipMorningEnrich": {
      "Type": "Choice",
      "Comment": "Per-task rerun gate. Input {\"skip_morning_enrich\": true} routes past the entire data phase (enrich + Arctic append, now on the ephemeral spot box per config#1767) straight to CheckSkipChronicGapHeal; missing flag = run as normal. The old on-trading MorningEnrich/MorningArcticAppend SSM states were relocated to the data spot (LaunchMorningEnrichSpot ...) so the always-on ae-trading box no longer does the ~30-50 min data fetch + ArcticDB append (config#1767).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_morning_enrich",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_morning_enrich",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipChronicGapHeal"
        }
      ],
      "Default": "LaunchMorningEnrichSpot"
    },
    "LaunchMorningEnrichSpot": {
      "Type": "Task",
      "Comment": "config#1767: invoke alpha-engine-data-spot-dispatcher to run MorningEnrich (polygon daily_closes fetch + prune) on an ephemeral spot box, NOT on ae-trading. Returns {data_spot:{launched,instance_id,command_id,...}}. The Arctic write of the enriched row happens in the following MorningArcticAppend spot workload — both run on the spot box (S3/ArcticDB), never the trading box.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-data-spot-dispatcher",
        "Payload": {
          "workload": "morning-enrich"
        }
      },
      "TimeoutSeconds": 420,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "FAIL-OPEN (config#1767 #4): a data-spot launch failure must NOT block daemon start. Record it as data and continue to the predictor path; mirrors Saturday ResearchPredictorParallel.",
          "Next": "ExtractDataSpotError",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.morning_enrich_launch",
      "Next": "CheckMorningEnrichSpotLaunched"
    },
    "CheckMorningEnrichSpotLaunched": {
      "Type": "Choice",
      "Comment": "launched:true -> poll; launched:false (DATA_SPOT_DISPATCH_ENABLED kill-switch) -> skip the whole data phase to the continue path.",
      "Choices": [
        {
          "Variable": "$.morning_enrich_launch.Payload.data_spot.launched",
          "BooleanEquals": true,
          "Next": "PollMorningEnrichSpot"
        }
      ],
      "Default": "CheckSkipChronicGapHeal"
    },
    "PollMorningEnrichSpot": {
      "Type": "Task",
      "Comment": "Poll the async data-spot SSM command to a terminal status. Bounded by the on-box watchdog (DATA_SPOT_MAX_RUNTIME_SECONDS) + the spot-orphan-reaper, mirroring the groom SF PollGroomCommand convention.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.morning_enrich_launch.Payload.data_spot.command_id",
        "InstanceId.$": "$.morning_enrich_launch.Payload.data_spot.instance_id"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ExtractDataSpotError",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.morning_enrich_poll",
      "Next": "CheckMorningEnrichSpotStatus"
    },
    "CheckMorningEnrichSpotStatus": {
      "Type": "Choice",
      "Comment": "Success -> the Arctic append spot workload; InProgress/Pending/Delayed -> wait; ANY other terminal status -> ExtractDataSpotError -> CONTINUE (fail-open: a data fetch failure must not block daemon start, config#1767 #4). NOTE this is the inverse of the OLD on-trading CheckMorningEnrichStatus, which HandleFailure'd — the data phase is now decoupled/fail-open, no longer gating the daemon.",
      "Choices": [
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Success",
          "Next": "LaunchMorningArcticAppendSpot"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningEnrichSpotWait"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningEnrichSpotWait"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Delayed",
          "Next": "MorningEnrichSpotWait"
        }
      ],
      "Default": "ExtractDataSpotError"
    },
    "MorningEnrichSpotWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "PollMorningEnrichSpot"
    },
    "LaunchMorningArcticAppendSpot": {
      "Type": "Task",
      "Comment": "config#1767: invoke alpha-engine-data-spot-dispatcher to run the ArcticDB daily_append (builders/daily_append.py via weekly_collector --morning-arctic-append) on the ephemeral spot box. The Arctic/S3 write runs ON THE SPOT via its alpha-engine-executor-profile, NOT on the trading box (config#1767 #1).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-data-spot-dispatcher",
        "Payload": {
          "workload": "morning-arctic-append"
        }
      },
      "TimeoutSeconds": 420,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "FAIL-OPEN (config#1767 #4): a data-spot launch failure must NOT block daemon start. Record it as data and continue to the predictor path; mirrors Saturday ResearchPredictorParallel.",
          "Next": "ExtractDataSpotError",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.arctic_append_launch",
      "Next": "CheckMorningArcticAppendSpotLaunched"
    },
    "CheckMorningArcticAppendSpotLaunched": {
      "Type": "Choice",
      "Comment": "launched:true -> poll; launched:false kill-switch -> continue.",
      "Choices": [
        {
          "Variable": "$.arctic_append_launch.Payload.data_spot.launched",
          "BooleanEquals": true,
          "Next": "PollMorningArcticAppendSpot"
        }
      ],
      "Default": "CheckSkipChronicGapHeal"
    },
    "PollMorningArcticAppendSpot": {
      "Type": "Task",
      "Comment": "Poll the Arctic-append data-spot SSM command.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.arctic_append_launch.Payload.data_spot.command_id",
        "InstanceId.$": "$.arctic_append_launch.Payload.data_spot.instance_id"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ExtractDataSpotError",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.arctic_append_poll",
      "Next": "CheckMorningArcticAppendSpotStatus"
    },
    "CheckMorningArcticAppendSpotStatus": {
      "Type": "Choice",
      "Comment": "Success -> continue to the predictor path; InProgress/Pending/Delayed -> wait; ANY other terminal status -> ExtractDataSpotError -> CONTINUE (fail-open).",
      "Choices": [
        {
          "Variable": "$.arctic_append_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipChronicGapHeal"
        },
        {
          "Variable": "$.arctic_append_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningArcticAppendSpotWait"
        },
        {
          "Variable": "$.arctic_append_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningArcticAppendSpotWait"
        },
        {
          "Variable": "$.arctic_append_poll.Status",
          "StringEquals": "Delayed",
          "Next": "MorningArcticAppendSpotWait"
        }
      ],
      "Default": "ExtractDataSpotError"
    },
    "MorningArcticAppendSpotWait": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "PollMorningArcticAppendSpot"
    },
    "ExtractDataSpotError": {
      "Type": "Pass",
      "Comment": "FAIL-OPEN normalizer (config#1767 #4). A data-spot launch/poll failure or non-Success terminal status lands here. Record the failure as DATA (not a thrown error), best-effort alert, then CONTINUE to the predictor/daemon path — a data-phase failure must NOT block daemon start. Mirrors the Saturday ResearchPredictorParallel branch-error pattern (record-as-data, do not hard-fail the pipeline).",
      "Parameters": {
        "phase": "DataSpot",
        "source": "CheckMorningEnrich/ArcticAppendSpotStatus or launch Catch"
      },
      "ResultPath": "$.data_spot_error",
      "Next": "PublishDataSpotFailureImmediate"
    },
    "PublishDataSpotFailureImmediate": {
      "Type": "Task",
      "Comment": "Best-effort SNS alert that the data spot failed — surfaces the miss WITHOUT blocking the daemon. Its own Catch also routes to the continue path so even an SNS failure cannot hard-fail the pipeline (mirrors Saturday PublishResearchFailureImmediate).",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Data Spot — FAILED (fail-open, daemon continues)",
        "Message.$": "States.Format('Weekday data-spot phase failed but the pipeline continued to daemon start (fail-open, config#1767). Detail: {}', States.JsonToString($.data_spot_error))"
      },
      "ResultPath": "$.data_spot_failure_notify",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": null,
          "Next": "CheckSkipChronicGapHeal"
        }
      ],
      "Next": "CheckSkipChronicGapHeal"
    },
    "CheckSkipChronicGapHeal": {
      "Type": "Choice",
      "Comment": "Per-task rerun gate (L4606). Input {\"skip_chronic_gap_heal\": true} routes past ChronicGapSelfHeal to the next gate (CheckSkipPredictorInference); missing flag = run as normal. The heal is already best-effort/fail-soft, so skipping it on a rerun is always safe. Per feedback_preflight_fast_fail_before_expensive_work.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_chronic_gap_heal",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_chronic_gap_heal",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipPredictorInference"
        }
      ],
      "Default": "ChronicGapSelfHeal"
    },
    "CheckSkipPredictorInference": {
      "Type": "Choice",
      "Comment": "Per-task rerun gate (L4606). Input {\"skip_predictor_inference\": true} routes past PredictorInference (and its coverage/health sub-chain) to the next gate (CheckSkipMorningPlanner); missing flag = run as normal. Skip only when predictions/{date}.json already exists from a prior run. Per feedback_preflight_fast_fail_before_expensive_work.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_predictor_inference",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_predictor_inference",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipMorningPlanner"
        }
      ],
      "Default": "PredictorInference"
    },
    "CheckSkipMorningPlanner": {
      "Type": "Choice",
      "Comment": "Per-task rerun gate (L4606). Input {\"skip_morning_planner\": true} routes past RunMorningPlanner to the next gate (CheckSkipRunDaemon); missing flag = run as normal. The planner writes the order book but places no orders, so re-running it is normally safe; skip is for reruns where the book is already current. Per feedback_preflight_fast_fail_before_expensive_work.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_morning_planner",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_morning_planner",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipRunDaemon"
        }
      ],
      "Default": "RunMorningPlanner"
    },
    "CheckSkipRunDaemon": {
      "Type": "Choice",
      "Comment": "Per-task rerun gate (L4606). Input {\"skip_run_daemon\": true} routes past RunDaemon (the daemon restart) directly to PipelineComplete; missing flag = run as normal. Per feedback_preflight_fast_fail_before_expensive_work.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_run_daemon",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_run_daemon",
              "BooleanEquals": true
            }
          ],
          "Next": "PipelineComplete"
        }
      ],
      "Default": "RunDaemon"
    },
    "PipelineComplete": {
      "Type": "Succeed"
    },
    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — FAILED",
        "Message.$": "States.Format('Weekday pipeline failed. State: {}. View the failing state + per-state detail at https://console.nousergon.ai/pipeline-status', States.JsonToString($))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },
    "FailExecution": {
      "Type": "Fail",
      "Error": "DailyPipelineFailure",
      "Cause": "One or more weekday pipeline steps failed."
    }
  }
}
