infrastructure/step_function_daily.json
{
  "Comment": "Alpha Engine Weekday Pipeline — morning polygon enrichment, predictor inference, executor start. Runs Mon-Fri 6:05 AM PT (13:05 UTC). MorningEnrich (added 2026-04-24) overwrites the prior trading day's ArcticDB row with polygon's authoritative OHLCV+VWAP before predictor inference reads it — fixes the 2026-04-17→2026-04-23 silent VWAP outage where the EOD yfinance pass was the only source. EOD yfinance collection runs via the post-close EOD SF on ae-trading. Policy: all SSM steps run on ae-trading (trading_instance_id); ae-dashboard is reserved for Streamlit + nginx + spot-launcher only.",
  "StartAt": "InitializeInput",
  "States": {

    "InitializeInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the execution input so manual invocations don't have to pass every field. Scheduled EventBridge runs pass sns_topic_arn + trading_instance_id explicitly; manual reruns (which happened multiple times 2026-04-23) often omit sns_topic_arn, which caused HandleFailure to error on missing $.sns_topic_arn JSONPath. Mirrors the Saturday SF InitializeInput pattern — States.JsonMerge with user-input as the second arg lets explicit values win.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.StringToJson('{\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'), $$.Execution.Input, false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckMutexRole"
    },

    "CheckMutexRole": {
      "Type": "Choice",
      "Comment": "L274 SF MutualExclusionGuard — gate at SF entry point. Allowlist cadence-roles (daily / weekly / eod / shell-run) acquire the DynamoDB mutex; absent/operator/recovery/smoke/backfill/operator-replay roles bypass entirely (operator-initiated runs are deliberately concurrent with cadence runs). Closes the architectural hole the L286a/b producer-side universe_writer_lock covers for manual daily_append invocations — that lock guards the data writer; this Choice guards the SF entry point. Together they cover both halves of single-writer-per-cadence-cell. Trigger of record: 2026-05-26 duplicate-EventBridge-target incident (PR #322 closed the SPECIFIC dup-target shape via CI; this mutex closes the broader class — operator double-paste / EB internal retry-on-throttle / cross-region replay / future shapes the CI chokepoint misses).",
      "Choices": [
        {
          "And": [
            {"Variable": "$.pipeline_role", "IsPresent": true},
            {
              "Or": [
                {"Variable": "$.pipeline_role", "StringEquals": "daily"},
                {"Variable": "$.pipeline_role", "StringEquals": "weekly"},
                {"Variable": "$.pipeline_role", "StringEquals": "eod"},
                {"Variable": "$.pipeline_role", "StringEquals": "shell-run"}
              ]
            }
          ],
          "Next": "AcquireMutex"
        }
      ],
      "Default": "DeployDriftCheck"
    },

    "AcquireMutex": {
      "Type": "Task",
      "Comment": "L274 — DynamoDB conditional PUT. mutex_key = '{state-machine-name}#{pipeline_role}#{YYYY-MM-DDTHH:MM}' (UTC minute bucket parsed from $$.Execution.StartTime). Two duplicate cron-fired executions started in the same minute produce identical keys; the second loses with ConditionalCheckFailedException → MutexConflict Fail. No TTL / no release: the date+minute in the key is itself the staleness window — a successfully-acquired key is naturally single-use because no future execution can land in the same past minute-bucket. Item accumulation ~<1000/yr; PAY_PER_REQUEST cost negligible.",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName": "alpha-engine-sf-execution-mutex",
        "Item": {
          "mutex_key": {
            "S.$": "States.Format('{}#{}#{}:{}', $$.StateMachine.Name, $.pipeline_role, States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, ':'), 0), States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, ':'), 1))"
          },
          "execution_arn": {"S.$": "$$.Execution.Id"},
          "started_at": {"S.$": "$$.Execution.StartTime"},
          "state_machine": {"S.$": "$$.StateMachine.Name"},
          "pipeline_role": {"S.$": "$.pipeline_role"}
        },
        "ConditionExpression": "attribute_not_exists(mutex_key)"
      },
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "Comment": "Mutex held by another concurrent execution in the same minute bucket — the duplicate-trigger case we are explicitly protecting against. Fail loud so the dup is visible in SF execution history + SNS alert (HandleFailure picks it up via MutexConflict's terminal Fail).",
          "Next": "MutexConflict",
          "ResultPath": "$.mutex_conflict"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Fail-open: DynamoDB outage / IAM drift / transient SDK error must NOT block a real trading cadence run. The mutex is best-effort architectural insurance; per feedback_no_silent_fails 'secondary observability hung off a primary path' carve-out, the primary deliverable survives a mutex-side failure. The error is captured in $.mutex_error for forensic review via SF execution history; CW alarm wiring deferred (operator-decision when first non-Conditional-Check mutex error appears).",
          "Next": "DeployDriftCheck",
          "ResultPath": "$.mutex_error"
        }
      ],
      "ResultPath": "$.mutex_result",
      "Next": "DeployDriftCheck"
    },

    "MutexConflict": {
      "Type": "Fail",
      "Error": "MutexConflict",
      "Cause": "L274: another SF execution with the same state-machine + pipeline_role + start-minute already holds the mutex. Most likely cause: duplicate EventBridge target fan-out (PR #322 closes the specific CFN-vs-deploy-script shape; this Fail catches the broader class). Forensic: check execution history for the prior holder's executionArn via DynamoDB GetItem on the mutex_key in $.mutex_conflict."
    },

    "DeployDriftCheck": {
      "Type": "Task",
      "Comment": "Verify the deployed SF definition + CloudFormation stack SHAs match alpha-engine-data@main HEAD. Halts the pipeline when infrastructure code has merged but deploy-infrastructure.sh never ran. Degraded modes (missing stamps, GitHub outage) set has_drift=false so legacy artifacts and API outages do not block trading-hours runs.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_deploy_drift"
        }
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 15,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.drift_result",
      "Next": "DeployDriftGate"
    },

    "DeployDriftGate": {
      "Type": "Choice",
      "Comment": "Hard-fail when the drift probe reports has_drift=true. Surfaces deploy lag loudly instead of silently running new SF definitions against stale Lambda images (or vice versa).",
      "Choices": [
        {
          "Variable": "$.drift_result.Payload.has_drift",
          "BooleanEquals": true,
          "Next": "HandleFailure"
        }
      ],
      "Default": "StartExecutorEC2"
    },

    "CheckTradingDay": {
      "Type": "Task",
      "Comment": "Skip pipeline on NYSE holidays. Runs on ae-trading via the alpha-engine-lib trading_calendar module (no repo clone needed — lib is installed in alpha-engine venv).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "cd /home/ec2-user/alpha-engine",
            "source .venv/bin/activate",
            "python -m alpha_engine_lib.trading_calendar"
          ],
          "executionTimeout": ["30"]
        },
        "TimeoutSeconds": 30
      },
      "TimeoutSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TradingDayCheckFailed",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.trading_day_result",
      "Next": "WaitForTradingDayCheck"
    },

    "WaitForTradingDayCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.trading_day_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TradingDayCheckFailed",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.trading_day_poll",
      "Next": "CheckTradingDayResult"
    },

    "CheckTradingDayResult": {
      "Type": "Choice",
      "Comment": "Check SSM status first (InProgress/Pending = poll again), then check stdout for TRADING_DAY vs MARKET_CLOSED marker. Script always exits 0 — Failed means a real error.",
      "Choices": [
        {
          "Variable": "$.trading_day_poll.Status",
          "StringEquals": "InProgress",
          "Next": "TradingDayCheckWait"
        },
        {
          "Variable": "$.trading_day_poll.Status",
          "StringEquals": "Pending",
          "Next": "TradingDayCheckWait"
        },
        {
          "Variable": "$.trading_day_poll.Status",
          "StringEquals": "Failed",
          "Next": "TradingDayCheckFailed"
        },
        {
          "And": [
            {
              "Variable": "$.trading_day_poll.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$.trading_day_poll.StandardOutputContent",
              "StringMatches": "*MARKET_CLOSED*"
            }
          ],
          "Next": "StopExecutorOnHoliday"
        },
        {
          "And": [
            {
              "Variable": "$.trading_day_poll.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$.trading_day_poll.StandardOutputContent",
              "StringMatches": "*TRADING DAY*"
            }
          ],
          "Next": "MorningEnrich"
        }
      ],
      "Default": "TradingDayCheckFailed"
    },

    "MorningEnrich": {
      "Type": "Task",
      "Comment": "Polygon morning enrichment — overwrites the prior trading day's daily_closes parquet + ArcticDB row with polygon's authoritative OHLCV+VWAP. Hard-fails on PolygonForbiddenError (no yfinance fallback masks polygon outages). Predictor inference reads ArcticDB right after this step and must see polygon-corrected data, so failure → HandleFailure (do NOT proceed to PredictorInference with stale yfinance values). See alpha-engine-data/collectors/daily_closes.py for source-mode contract. Timeout 1800s: 2026-04-27 the prior 720s cap killed the wrapper after the universe append's actual write completed (~12 min); bumping to 30 min absorbs the daily_append tail without masking real hangs (predictor still gated on Success status).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "trap 'aws s3 cp /var/log/morning-enrich.log \"s3://alpha-engine-research/_ssm_logs/morning-enrich/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python weekly_collector.py --morning-enrich 2>&1 | tee -a /var/log/morning-enrich.log"
          ],
          "executionTimeout": ["1800"]
        },
        "TimeoutSeconds": 1800
      },
      "TimeoutSeconds": 1860,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.morning_enrich_result",
      "Next": "WaitForMorningEnrich"
    },

    "WaitForMorningEnrich": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.morning_enrich_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.morning_enrich_poll",
      "Next": "CheckMorningEnrichStatus"
    },

    "CheckMorningEnrichStatus": {
      "Type": "Choice",
      "Comment": "Block predictor inference until polygon enrichment confirms the prior trading day's row is overwritten with authoritative VWAP. SSM Failed → HandleFailure (must not proceed to inference on uncorrected data per feedback_no_silent_fails).",
      "Choices": [
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Success",
          "Next": "PredictorInference"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningEnrichWait"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningEnrichWait"
        }
      ],
      "Default": "HandleFailure"
    },

    "MorningEnrichWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "WaitForMorningEnrich"
    },

    "TradingDayCheckWait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "WaitForTradingDayCheck"
    },

    "TradingDayCheckFailed": {
      "Type": "Task",
      "Comment": "Trading day check failed for infrastructure reasons — alert and proceed (assume trading day). Routes to MorningEnrich same as the trading-day success path; predictor inference still gated on enrichment success.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — Trading Day Check Failed (Proceeding)",
        "Message.$": "States.Format('Trading day check failed (SSM error, not a holiday detection). Pipeline proceeding as trading day. State: {}', States.JsonToString($))"
      },
      "ResultPath": "$.trading_day_error_notify",
      "Next": "MorningEnrich"
    },

    "StopExecutorOnHoliday": {
      "Type": "Task",
      "Comment": "Stop ae-trading on holidays — we started it speculatively before CheckTradingDay, so clean up.",
      "Resource": "arn:aws:states:::aws-sdk:ec2:stopInstances",
      "Parameters": {
        "InstanceIds.$": "$.trading_instance_id"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Stop failure non-fatal — EventBridge Scheduler at 1:30 PM PT is the backstop.",
          "Next": "NotifyHolidaySkip",
          "ResultPath": "$.holiday_stop_error"
        }
      ],
      "ResultPath": "$.holiday_stop_result",
      "Next": "NotifyHolidaySkip"
    },

    "NotifyHolidaySkip": {
      "Type": "Task",
      "Comment": "Notify that pipeline was skipped — trading_calendar stdout contains MARKET_CLOSED",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — Skipped (Market Holiday)",
        "Message": "Daily pipeline skipped — NYSE is closed today (market holiday or weekend). No inference or trading. ae-trading stopped."
      },
      "ResultPath": "$.holiday_notify",
      "End": true
    },

    "StartExecutorEC2": {
      "Type": "Task",
      "Comment": "Start ae-trading (t3.small) early — needed for both DailyData (data collection) and RunMorningPlanner (executor). No-op if already running.",
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Parameters": {
        "InstanceIds.$": "$.trading_instance_id"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 2,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.ec2_start_result",
      "Next": "WaitForInstanceReady"
    },

    "WaitForInstanceReady": {
      "Type": "Wait",
      "Comment": "Initial settle before polling for SSM-agent registration. EC2 stopped→running takes ~15-25s; polling describeInstanceInformation any earlier just burns API calls.",
      "Seconds": 15,
      "Next": "InitSSMPollCounter"
    },

    "InitSSMPollCounter": {
      "Type": "Pass",
      "Comment": "Initialize attempts counter for the SSM-readiness poll loop.",
      "Result": {"attempts": 0},
      "ResultPath": "$.ssm_poll",
      "Next": "DescribeInstanceInfo"
    },

    "DescribeInstanceInfo": {
      "Type": "Task",
      "Comment": "Poll SSM-agent registration on the trading instance. Replaces the prior fixed Wait 60s, which was insufficient on cold-boot t3.small (race observed 2026-05-05 morning — Ssm.InvalidInstanceIdException at CheckTradingDay because PingStatus had not yet flipped to Online when the SSM SendCommand fired). SSMReadyChoice routes to CheckTradingDay when PingStatus=Online or HandleFailure when the bounded retry budget (~3 min) is exhausted.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "$.trading_instance_id"
          }
        ]
      },
      "TimeoutSeconds": 15,
      "Retry": [
        {
          "ErrorEquals": ["Ssm.SdkClientException", "States.Timeout"],
          "MaxAttempts": 2,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.ssm_describe_result",
      "Next": "SSMReadyChoice"
    },

    "SSMReadyChoice": {
      "Type": "Choice",
      "Comment": "PingStatus=Online → CheckTradingDay. Otherwise wait + retry up to 12 attempts (~3 min total budget). Hard-fail when budget exhausted (per feedback_no_silent_fails — agent not registering after 3 min indicates a real boot problem, not just timing).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ssm_describe_result.InstanceInformationList[0].PingStatus",
              "IsPresent": true
            },
            {
              "Variable": "$.ssm_describe_result.InstanceInformationList[0].PingStatus",
              "StringEquals": "Online"
            }
          ],
          "Next": "CheckTradingDay"
        },
        {
          "Variable": "$.ssm_poll.attempts",
          "NumericGreaterThanEquals": 12,
          "Next": "HandleFailure"
        }
      ],
      "Default": "WaitSSMPoll"
    },

    "WaitSSMPoll": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "IncrementSSMPoll"
    },

    "IncrementSSMPoll": {
      "Type": "Pass",
      "Parameters": {
        "attempts.$": "States.MathAdd($.ssm_poll.attempts, 1)"
      },
      "ResultPath": "$.ssm_poll",
      "Next": "DescribeInstanceInfo"
    },

    "PredictorInference": {
      "Type": "Task",
      "Comment": "Run daily GBM predictions + morning briefing email",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "predict"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_result",
      "Next": "CheckPredictorCoverage"
    },

    "CheckPredictorCoverage": {
      "Type": "Task",
      "Comment": "Self-healing coverage gate: detect buy_candidates in signals.json that lack a prediction row. Primary guard against the 2026-04-20 silent-veto-bypass bug. If any are missing, ReinvokePredictor scores them and RecheckCoverage verifies before we proceed to executor.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_coverage"
        }
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 15,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.coverage_result",
      "Next": "CoverageGapChoice"
    },

    "CoverageGapChoice": {
      "Type": "Choice",
      "Comment": "If buy_candidates have unscored tickers, re-invoke the predictor with --tickers. Otherwise advance to PredictorHealthCheck.",
      "Choices": [
        {
          "Variable": "$.coverage_result.Payload.has_gap",
          "BooleanEquals": true,
          "Next": "ReinvokePredictor"
        }
      ],
      "Default": "PredictorHealthCheck"
    },

    "ReinvokePredictor": {
      "Type": "Task",
      "Comment": "Supplemental-scoring re-invoke for the tickers CheckPredictorCoverage flagged as missing. Predictor merges the new predictions into predictions/{date}.json (re-ranks the union).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "predict",
          "tickers.$": "$.coverage_result.Payload.missing_tickers"
        }
      },
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.reinvoke_result",
      "Next": "RecheckCoverage"
    },

    "RecheckCoverage": {
      "Type": "Task",
      "Comment": "Second coverage check after ReinvokePredictor. If the gap persists (e.g. some ticker genuinely cannot be scored), bail out instead of looping — HandleFailure fires the SNS alert.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_coverage"
        }
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 15,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.coverage_recheck_result",
      "Next": "FinalCoverageGate"
    },

    "FinalCoverageGate": {
      "Type": "Choice",
      "Comment": "After one re-invocation attempt, either coverage is complete (proceed) or we have a deeper problem (fail). No further retry loop — prevents runaway invocations if a ticker is un-scorable by the model.",
      "Choices": [
        {
          "Variable": "$.coverage_recheck_result.Payload.has_gap",
          "BooleanEquals": true,
          "Next": "HandleFailure"
        }
      ],
      "Default": "PredictorHealthCheck"
    },

    "PredictorHealthCheck": {
      "Type": "Task",
      "Comment": "Daily predictor model health — IC, hit rate, calibration, retrain triggers",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-health-check:live",
        "Payload": {
          "action": "check"
        }
      },
      "TimeoutSeconds": 180,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Predictor health check is non-blocking — continue to morning planner. Executor's own upstream-health gate catches real data-freshness problems before placing orders.",
          "Next": "RunMorningPlanner",
          "ResultPath": "$.predictor_health_error"
        }
      ],
      "ResultPath": "$.predictor_health_result",
      "Next": "RunMorningPlanner"
    },

    "RunMorningPlanner": {
      "Type": "Task",
      "Comment": "Run morning order-book planner via SSM",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "cd /home/ec2-user/alpha-engine",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "/home/ec2-user/alpha-engine/infrastructure/wait-for-ibgateway.sh",
            "trap 'aws s3 cp /var/log/executor.log \"s3://alpha-engine-research/_ssm_logs/executor/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python executor/main.py 2>&1 | tee -a /var/log/executor.log"
          ],
          "executionTimeout": ["300"]
        },
        "TimeoutSeconds": 300
      },
      "TimeoutSeconds": 360,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.planner_result",
      "Next": "WaitForMorningPlanner"
    },

    "WaitForMorningPlanner": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.planner_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.planner_poll",
      "Next": "CheckMorningPlannerStatus"
    },

    "CheckMorningPlannerStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "Success",
          "Next": "RunDaemon"
        },
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningPlannerWait"
        },
        {
          "Variable": "$.planner_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningPlannerWait"
        }
      ],
      "Default": "HandleFailure"
    },

    "MorningPlannerWait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "WaitForMorningPlanner"
    },

    "RunDaemon": {
      "Type": "Task",
      "Comment": "Restart the intraday daemon via SSM",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "sudo systemctl restart alpha-engine-daemon.service",
            "echo 'Daemon restarted'"
          ],
          "executionTimeout": ["30"]
        },
        "TimeoutSeconds": 30
      },
      "TimeoutSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Daemon restart failure is non-fatal — systemd boot trigger is backup",
          "Next": "PipelineComplete",
          "ResultPath": "$.daemon_error"
        }
      ],
      "ResultPath": "$.daemon_result",
      "Next": "RunDailyNews"
    },

    "RunDailyNews": {
      "Type": "Task",
      "Comment": "Secondary daily news pull for the held + tracked universe (robodashboard holdings ∪ AE signals universe). Writes data/news_aggregates_daily/ for the robodashboard morning brief + AE consumers. Runs AFTER RunDaemon so it never delays the trading path. FAIL-SOFT: news must never fail the weekday SF — the Catch here, the WaitForDailyNews Catch, and the CheckDailyNewsStatus Default all route to PipelineComplete. ~50-70-ticker pull, concurrent fan-in via AsyncNewsAggregator (sources overlap), Polygon-bound at 5 req/min ≈ 12-14 min; executionTimeout 1800s gives headroom over that floor (bumped from 1200s 2026-06-09 — the sync aggregator summed sources sequentially and TimedOut every weekday, silently producing nothing; ROADMAP L4573).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.trading_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "export FLOW_DOCTOR_ENABLED=1",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "source .venv/bin/activate",
            "trap 'aws s3 cp /var/log/daily-news.log \"s3://alpha-engine-research/_ssm_logs/daily-news/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python -m collectors.daily_news 2>&1 | tee -a /var/log/daily-news.log"
          ],
          "executionTimeout": ["1800"]
        }
      },
      "TimeoutSeconds": 1860,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Daily news is secondary — a send failure must not fail the SF.",
          "Next": "PipelineComplete",
          "ResultPath": "$.daily_news_error"
        }
      ],
      "ResultPath": "$.daily_news_result",
      "Next": "WaitForDailyNews"
    },

    "WaitForDailyNews": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.daily_news_result.Command.CommandId",
        "InstanceId.$": "$.trading_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 10,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Fail-soft — a poll failure ends the SF cleanly, no news that day.",
          "Next": "PipelineComplete",
          "ResultPath": "$.daily_news_error"
        }
      ],
      "ResultPath": "$.daily_news_poll",
      "Next": "CheckDailyNewsStatus"
    },

    "CheckDailyNewsStatus": {
      "Type": "Choice",
      "Comment": "Daily news is fail-soft: any terminal status (Success OR failure) ends the SF via PipelineComplete; only keep polling while InProgress/Pending.",
      "Choices": [
        {
          "Variable": "$.daily_news_poll.Status",
          "StringEquals": "InProgress",
          "Next": "DailyNewsWait"
        },
        {
          "Variable": "$.daily_news_poll.Status",
          "StringEquals": "Pending",
          "Next": "DailyNewsWait"
        }
      ],
      "Default": "PipelineComplete"
    },

    "DailyNewsWait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForDailyNews"
    },

    "PipelineComplete": {
      "Type": "Succeed"
    },

    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Weekday Pipeline — FAILED",
        "Message.$": "States.Format('Weekday pipeline failed. State: {}', States.JsonToString($))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },

    "FailExecution": {
      "Type": "Fail",
      "Error": "DailyPipelineFailure",
      "Cause": "One or more weekday pipeline steps failed."
    }
  }
}
