infrastructure/step_function_backtest_eval.json
{
  "Comment": "Alpha Engine Backtest+Eval pipeline (config#830) \u2014 standalone Step Function that runs ONLY Backtester (SSM \u2192 spot_backtest.sh --mode=param-sweep) \u2192 Evaluator (SSM \u2192 spot_backtest.sh --skip-stages=backtest,parity) \u2192 NotifyComplete, reusing the exact state definitions from the Saturday SF (alpha-engine-saturday-pipeline). Purpose: when only backtester or evaluator CODE changes, re-run those two stages off the existing weekly data/research/training artifacts WITHOUT the ~80 min of upstream pipeline (DataPhase1 + RAG + Research + DataPhase2 + PredictorTraining). AWS Step Functions only supports redrive from FAILED executions, so re-running unchanged-but-SUCCEEDED upstream stages was previously impossible from the Saturday SF \u2014 the stopgap was the local-blocking infrastructure/spot_backtest_and_evaluate.sh shell chain (crucible-backtester), which this SF replaces for orchestrated mid-week reruns. Trigger manually from the console/CLI; the script stays for local dev. Pass {\"ec2_instance_id\": [\"i-...\"]} (sns_topic_arn + run_date default in InitializeInput). Deliberately omits PredictorBacktest / parity / health-check / report-card / director \u2014 those belong to the full Saturday run.",
  "StartAt": "InitializeInput",
  "States": {
    "InitializeInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the execution input so manual mid-week reruns only need to pass ec2_instance_id. Seeds sns_topic_arn (alerts topic), pipeline_label=' Backtest+Eval' (so HandleFailure surfaces 'Alpha Engine Backtest+Eval Pipeline \u2014 FAILED'), preflight_args='' (non-dry spot-command suffix, kept so the Backtester/Evaluator States.Format references resolve identically to the Saturday SF), and run_date=date($$.Execution.StartTime) so the Backtester and Evaluator stages key off ONE backtest/{date}/ S3 prefix (same single-date fix as the Saturday SF). User-passed values win via States.JsonMerge with the execution input as the last (highest-precedence) arg.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.JsonMerge(States.StringToJson('{\"preflight_args\":\"\",\"pipeline_label\":\" Backtest+Eval\",\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'),States.StringToJson(States.Format('\\{\"run_date\":\"{}\"\\}',States.ArrayGetItem(States.StringSplit($$.Execution.StartTime,'T'),0))),false),$$.Execution.Input,false)"
      },
      "OutputPath": "$.merged",
      "Next": "Backtester"
    },
    "Backtester": {
      "Type": "Task",
      "Comment": "Backtest SIMULATION-ONLY stage (10y simulate + param sweep) on spot instance, after predictor training. L4472 phase-split (2026-05-31, ROADMAP L4472): the monolithic Backtester state ran simulate+param_sweep+predictor-backtest+Phase4+optimizer/cov/gamma in ONE SSM command whose SUMMED runtime exceeded the SSM execution timeout on a fresh date (L4470). This state now runs ONLY the simulation pipeline via --mode=param-sweep; the predictor-backtest+Phase4 block runs in the new PredictorBacktest state and the optimizer/cov/gamma block in PortfolioOptimizerBacktest, each with its own SSM timeout + independent redrive. --no-pit-parity here so pit_parity runs exactly once (in PredictorBacktest, where it belongs). State name kept as Backtester (lower-churn \u2014 preserves DriftDetection's Next/Catch edges + skip_backtester gate semantics; skip_backtester still skips the whole backtest-family by routing past CheckSkipParity to CheckSkipEvaluator). Mirrors the 2026-05-07/05-16 simulate/parity/evaluator split precedent (plans evaluator-split-260507.md + preflight-task-split-260516.md). All states key off the same backtest/{date}/ S3 prefix. If this state fails, PredictorBacktest is NOT entered (preserves the 4/24 anti-auto-promote-garbage rule).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "7200"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m nousergon_lib.ssm_log_capture run --slug backtester --log /var/log/backtester.log -- bash infrastructure/spot_backtest.sh --mode=param-sweep --no-pit-parity --skip-stages=parity,evaluator{}',$.preflight_args))"
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_result",
      "Next": "WaitForBacktester"
    },
    "WaitForBacktester": {
      "Type": "Task",
      "Comment": "Poll SSM command until backtester complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.backtester_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.backtester_poll",
      "Next": "CheckBacktesterStatus"
    },
    "CheckBacktesterStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipEvaluator"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "InProgress",
          "Next": "BacktesterWait"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Pending",
          "Next": "BacktesterWait"
        }
      ],
      "Default": "ExtractBacktesterError"
    },
    "BacktesterWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForBacktester"
    },
    "ExtractBacktesterError": {
      "Type": "Pass",
      "Comment": "Normalize Backtester SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Backtester",
        "source": "CheckBacktesterStatus.Default",
        "poll.$": "$.backtester_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "CheckSkipEvaluator": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_evaluator\": true} bypasses the Evaluator stage and routes straight to NotifyComplete (useful for a backtester-only mid-week rerun).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_evaluator",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_evaluator",
              "BooleanEquals": true
            }
          ],
          "Next": "NotifyComplete"
        }
      ],
      "Default": "Evaluator"
    },
    "Evaluator": {
      "Type": "Task",
      "Comment": "Evaluator on a separate spot instance (split from Backtester 2026-05-07 \u2014 plan: alpha-engine-docs/private/evaluator-split-260507.md). Reads s3://alpha-engine-research/backtest/{RUN_DATE}/ artifacts produced by the prior Backtester state and runs evaluate.py --mode all --upload, which sends the per-signal grading email and auto-applies optimizer configs. Reuses spot_backtest.sh with --skip-stages=backtest,parity; the script is the canonical dispatch surface (existing CSV vocabulary). Live-apply mode by default; for diagnostic-only off-cycle runs, invoke spot_backtest.sh manually with --freeze-evaluator and --skip-stages=backtest,parity.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "3600"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m nousergon_lib.ssm_log_capture run --slug evaluator --log /var/log/evaluator.log -- bash infrastructure/spot_backtest.sh --skip-stages=backtest,parity{}',$.preflight_args))"
        },
        "TimeoutSeconds": 3600
      },
      "TimeoutSeconds": 3660,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry). Mirrors Backtester retry posture for symmetry."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.evaluator_result",
      "Next": "WaitForEvaluator"
    },
    "WaitForEvaluator": {
      "Type": "Task",
      "Comment": "Poll SSM command until evaluator complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.evaluator_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.evaluator_poll",
      "Next": "CheckEvaluatorStatus"
    },
    "CheckEvaluatorStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Success",
          "Next": "NotifyComplete"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "InProgress",
          "Next": "EvaluatorWait"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Pending",
          "Next": "EvaluatorWait"
        }
      ],
      "Default": "ExtractEvaluatorError"
    },
    "EvaluatorWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForEvaluator"
    },
    "ExtractEvaluatorError": {
      "Type": "Pass",
      "Comment": "Normalize Evaluator SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Evaluator",
        "source": "CheckEvaluatorStatus.Default",
        "poll.$": "$.evaluator_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "NotifyComplete": {
      "Type": "Task",
      "Comment": "Success notification via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline \u2014 SUCCESS",
        "Message": "All steps completed successfully. Check dashboard for results."
      },
      "ResultPath": "$.notify_result",
      "End": true,
      "Subject": "Alpha Engine Backtest+Eval Pipeline \u2014 SUCCESS",
      "Message": "Mid-week backtester + evaluator rerun completed successfully. Check dashboard / the per-signal grading email for results."
    },
    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS \u2014 pipeline halts. Subject/Message parameterized via States.Format on $.pipeline_label (=' Backtest+Eval' from InitializeInput) so failures surface 'Alpha Engine Backtest+Eval Pipeline \u2014 FAILED'. Redrive from the failed step via the Step Functions console.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject.$": "States.Format('Alpha Engine Saturday{} Pipeline \u2014 FAILED', $.pipeline_label)",
        "Message.$": "States.Format('Saturday{} Pipeline failed. Error: {}. Use Step Functions console to redrive from failed step.', $.pipeline_label, States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },
    "FailExecution": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline steps failed. Check CloudWatch logs and redrive from the Step Functions console."
    }
  }
}