infrastructure/step_function.json
{
  "Comment": "Alpha Engine Saturday Pipeline \u2014 orchestrates weekly data collection, RAG ingestion, research, eval-judge + agent-justification triple, predictor training, backtesting, and evaluation sequentially with fail-fast error handling. MorningEnrich, DataPhase1 and RAGIngestion are independent SF states (RAG split 2026-05-06 after a RAG-side import bug failed under the DataPhase1 label, masking that the data layer was healthy; MorningEnrich split out of DataPhase1 2026-05-16 by the preflight-task-split so a phase1 failure never re-runs the completed ~28-min morning-enrich \u2014 plan alpha-engine-docs/private/preflight-task-split-260516.md). Backtester and Evaluator are independent SF states (split 2026-05-07 \u2014 plan: alpha-engine-docs/private/evaluator-split-260507.md \u2014 for failure isolation, per-stage email, and independent CW heartbeats). The eval-judge chain (EvalJudge \u2192 EvalRollingMean \u2192 RationaleClustering \u2192 ReplayConcordance \u2192 Counterfactual) runs after DataPhase2 and BEFORE PredictorTraining (reorder shipped 2026-05-07 evening) so its persisted S3 artifacts (decision_artifacts/_eval/, _clustering/, _concordance/, _counterfactual/) are available when Evaluator generates the weekly email \u2014 pre-reorder the judge chain ran AFTER Evaluator, so its results were never visible in the operator's primary review surface. Each spot-bearing state runs on its own spot \u2014 accepts +1 bootstrap cycle (~7 min) per split in exchange for failure isolation, redrive granularity, and per-step health markers. RAG still runs before Research so the knowledge base is fresh. Judge chain only reads decision_artifacts/ written by Research, so it has no dependency on Predictor or Backtester output. Backtester runs AFTER predictor training (depends on model weights); Evaluator runs after Backtester (reads same-cohort backtest artifacts). Supports partial execution via boolean skip_* flags on input (e.g. {\"skip_data_phase1\": true, \"skip_rag_ingestion\": true, \"skip_evaluator\": true}); a missing flag is treated as false, so scheduled runs are unaffected.",
  "StartAt": "InitializeInput",
  "States": {
    "InitializeInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the execution input so manual invocations don't have to pass every field. Scheduled EventBridge runs pass sns_topic_arn + ec2_instance_id explicitly; manual runs for partial-execution testing often omit sns_topic_arn, which previously caused HandleFailure/NotifyComplete to error on missing JSONPath. States.JsonMerge with user-input as the second arg lets explicit values win. | 2026-05-17: also stamps run_date = date($$.Execution.StartTime) so every spot stage of one execution keys backtest/{date}/ off ONE date (fixes the Backtester=05-17 vs Evaluator=05-18 UTC-midnight split). User-passed run_date still wins. | 2026-05-18 (shell-run keystone): also seeds the dry-path control vars at their NON-DRY identity values — preflight_args=\"\" (empty spot-command suffix), research_dry=false, data_phase2_dry=false, regime_action=\"produce\". These exist on EVERY run so the spot States.Format / Lambda Payload .$ references always resolve; on the real Saturday run (no shell_run) they hold these identity values, making every spot command string byte-identical to pre-keystone and every Lambda Payload behaviourally identical (handlers default dry_run_llm/dry_run to false; regime action 'produce' is the pre-keystone hardcoded value). ApplyShellRunDefaults (shell_run=true only) overrides them with the dry values. innermost defaults blob is merged UNDER run_date which is merged UNDER sns_topic_arn which is merged UNDER the user input, so user/ApplyShellRunDefaults values always win.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.JsonMerge(States.StringToJson('{\"preflight_args\":\"\",\"research_dry\":false,\"data_phase2_dry\":false,\"regime_action\":\"produce\",\"pipeline_label\":\"\",\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'),States.StringToJson(States.Format('\\{\"run_date\":\"{}\"\\}',States.ArrayGetItem(States.StringSplit($$.Execution.StartTime,'T'),0))),false),$$.Execution.Input,false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckSkipLibPinDriftCheck"
    },
    "CheckSkipLibPinDriftCheck": {
      "Type": "Choice",
      "Comment": "Skip-gate (L4517). {\"skip_lib_pin_drift_check\": true} bypasses the preventive cross-repo lib-pin drift check — e.g. an operator rerun where pins are known-good.",
      "Choices": [
        {
          "And": [
            {"Variable": "$.skip_lib_pin_drift_check", "IsPresent": true},
            {"Variable": "$.skip_lib_pin_drift_check", "BooleanEquals": true}
          ],
          "Next": "CheckMutexRole"
        }
      ],
      "Default": "LibPinDriftCheck"
    },
    "LibPinDriftCheck": {
      "Type": "Task",
      "Comment": "Preventive cross-repo alpha-engine-lib pin-drift gate (L4517). Runs BEFORE any spot launch: asserts backtester-pin == predictor-pin (co-install parity — the only multi-repo co-install site, the 2026-05-12 silent-downgrade incident) AND every Saturday-SF repo's pin >= MIN_LIB_VERSION (v0.39.0 floor = data's lowest INTENTIONAL pin). has_drift=true halts in seconds with a named offender instead of a co-install break ~12 min into a spot. FAIL-OPEN: a GitHub-fetch/parse miss sets has_drift=false (the probe's own degraded mode), and the Catch routes any Lambda failure (incl. an unknown action before predictor PR A deploys) straight to the pipeline — so the checker NEVER false-halts the weekly run.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-inference:live",
        "Payload": {
          "action": "check_lib_pin_drift"
        }
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 15,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Fail-open — the probe's own failure must not halt the weekly run; proceed to the pipeline.",
          "Next": "CheckMutexRole",
          "ResultPath": "$.libpin_drift_error"
        }
      ],
      "ResultPath": "$.libpin_drift_result",
      "Next": "LibPinDriftGate"
    },
    "LibPinDriftGate": {
      "Type": "Choice",
      "Comment": "Hard-fail when the lib-pin probe reports has_drift=true (a confirmed co-install parity break or below-floor regression). Surfaces cross-repo pin drift loudly before the SF spends on any spot launch.",
      "Choices": [
        {
          "Variable": "$.libpin_drift_result.Payload.has_drift",
          "BooleanEquals": true,
          "Next": "HandleFailure"
        }
      ],
      "Default": "CheckMutexRole"
    },
    "CheckMutexRole": {
      "Type": "Choice",
      "Comment": "L274 SF MutualExclusionGuard — gate at SF entry point. Allowlist cadence-roles (daily / weekly / eod / shell-run) acquire the DynamoDB mutex; absent/operator/recovery/smoke/backfill/operator-replay roles bypass entirely (operator-initiated runs are deliberately concurrent with cadence runs). Closes the architectural hole the L286a/b producer-side universe_writer_lock covers for manual daily_append invocations — that lock guards the data writer; this Choice guards the SF entry point. Together they cover both halves of single-writer-per-cadence-cell. Trigger of record: 2026-05-26 duplicate-EventBridge-target incident (PR #322 closed the SPECIFIC dup-target shape via CI; this mutex closes the broader class).",
      "Choices": [
        {
          "And": [
            {"Variable": "$.pipeline_role", "IsPresent": true},
            {
              "Or": [
                {"Variable": "$.pipeline_role", "StringEquals": "daily"},
                {"Variable": "$.pipeline_role", "StringEquals": "weekly"},
                {"Variable": "$.pipeline_role", "StringEquals": "eod"},
                {"Variable": "$.pipeline_role", "StringEquals": "shell-run"}
              ]
            }
          ],
          "Next": "AcquireMutex"
        }
      ],
      "Default": "CheckShellRun"
    },
    "AcquireMutex": {
      "Type": "Task",
      "Comment": "L274 — DynamoDB conditional PUT. mutex_key = '{state-machine-name}#{pipeline_role}#{YYYY-MM-DDTHH:MM}' (UTC minute bucket parsed from $$.Execution.StartTime). Two duplicate cron-fired executions started in the same minute produce identical keys; the second loses with ConditionalCheckFailedException → MutexConflict Fail. No TTL / no release: the date+minute in the key is itself the staleness window. Item accumulation ~<1000/yr; PAY_PER_REQUEST cost negligible.",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName": "alpha-engine-sf-execution-mutex",
        "Item": {
          "mutex_key": {
            "S.$": "States.Format('{}#{}#{}:{}', $$.StateMachine.Name, $.pipeline_role, States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, ':'), 0), States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, ':'), 1))"
          },
          "execution_arn": {"S.$": "$$.Execution.Id"},
          "started_at": {"S.$": "$$.Execution.StartTime"},
          "state_machine": {"S.$": "$$.StateMachine.Name"},
          "pipeline_role": {"S.$": "$.pipeline_role"}
        },
        "ConditionExpression": "attribute_not_exists(mutex_key)"
      },
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "Comment": "Mutex held by another concurrent execution in the same minute bucket — the duplicate-trigger case we are explicitly protecting against. Fail loud so the dup is visible in SF execution history + SNS alert.",
          "Next": "MutexConflict",
          "ResultPath": "$.mutex_conflict"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Fail-open: DynamoDB outage / IAM drift / transient SDK error must NOT block a real trading cadence run. The mutex is best-effort architectural insurance; per feedback_no_silent_fails 'secondary observability' carve-out, the primary deliverable survives a mutex-side failure. The error is captured in $.mutex_error for forensic review.",
          "Next": "CheckShellRun",
          "ResultPath": "$.mutex_error"
        }
      ],
      "ResultPath": "$.mutex_result",
      "Next": "CheckShellRun"
    },
    "MutexConflict": {
      "Type": "Fail",
      "Error": "MutexConflict",
      "Cause": "L274: another SF execution with the same state-machine + pipeline_role + start-minute already holds the mutex. Most likely cause: duplicate EventBridge target fan-out (PR #322 closes the specific CFN-vs-deploy-script shape; this Fail catches the broader class). Forensic: check execution history for the prior holder's executionArn via DynamoDB GetItem on the mutex_key in $.mutex_conflict."
    },
    "CheckShellRun": {
      "Type": "Choice",
      "Comment": "Friday-PM 'shell run' gate (ROADMAP 'Scheduled Friday-PM shell run'; spine landed #258, KEYSTONE landed feat/sf-shell-run-keystone). Input {\"shell_run\": true} (supplied by the event-driven alpha-engine-eod-success-friday-shell-trigger Lambda on Friday EOD-SF SUCCEEDED; the legacy cron rule alpha-engine-friday-shell-run was retired 2026-05-29 per ROADMAP L4055) routes to ApplyShellRunDefaults, which now sets the dry-path control vars (preflight_args=\" --preflight-only\" for the 7 spot states, Lambda dry flags for Research/DataPhase2/RegimeSubstrate/RegimeRetrospectiveEval) and hard-skips ONLY the 5 documented no-clean-dry-path exceptions — so the Friday run BOOTS + DRY-EXECUTES the workload instead of pure-skipping it (the keystone's whole point: exercise the real bootstrap/import/lib-pin/transport paths). shell_run absent OR false routes straight to CheckSkipMorningEnrich — BYTE-IDENTICAL to the pre-spine Saturday run (this is a strict superset; the real Sat 02:00 PT firing passes no shell_run, so this Choice always takes Default for it; with preflight_args defaulting to \"\" via InitializeInput every spot command string is char-for-char unchanged and every Lambda Payload behaviourally identical).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.shell_run",
              "IsPresent": true
            },
            {
              "Variable": "$.shell_run",
              "BooleanEquals": true
            }
          ],
          "Next": "ApplyShellRunDefaults"
        }
      ],
      "Default": "CheckSkipMorningEnrich"
    },
    "ApplyShellRunDefaults": {
      "Type": "Pass",
      "Comment": "shell_run=true ONLY (keystone + skip-exception rewire — every substantive workload now boots + runs DRY; ZERO skip-exceptions remain). Merges the dry-path control blob OVER the current state (States.JsonMerge($, shellDefaults, false) — second arg wins, so shellDefaults wins over $) so shell_run=true ACTUALLY enforces dry mode for every keystone control var. The prior arg order (States.JsonMerge(shellDefaults, $, false)) silently fell back to non-dry because InitializeInput unconditionally seeds preflight_args=\"\" + research_dry=false + data_phase2_dry=false + regime_action=\"produce\" into $ — so $ wins meant the seeded non-dry identities won over the dry shellDefaults, and the 2026-05-22 Friday-PM shell-run dry-pass (first execution past the prior trap break) ran full-fat instead of --preflight-only. Skip flags are unaffected (they're not in shellDefaults; the #258 Choice-gated skip_* mechanism handles {\"shell_run\": true, \"skip_backtester\": true} downstream regardless of merge order). The previously-documented user-override-from-input case ({\"shell_run\": true, \"preflight_args\": \"\"} runs spots full-fat) is now intentionally LOST: in practice nobody passes both flags together — passing shell_run=true means you want dry mode for ALL keystone control vars; the comment line saying otherwise was a footgun masking the actual semantic intent. SPOT states (MorningEnrich, DataPhase1, RAGIngestion, PredictorTraining, Backtester, Parity, Evaluator, AND DriftDetection) boot + run dry via preflight_args=\" --preflight-only\" (LEADING space inside the var; the spot states' final command is a States.Format whose {} is placed immediately after the mode token with NO literal space, so preflight_args=\"\" on the real run yields a byte-identical command — data #259 + #261 + predictor #175 + backtester #224 all expose --preflight-only verbatim, an orthogonal MODIFIER). LAMBDA states with a verified clean no-write dry path are routed dry, NOT skipped, via $.research_dry (the canonical shell-run LLM-dry signal, true here / false on the real run): Research + the EvalJudge chain (EvalJudgeSubmit{FirstSaturday,Weekly}/Poll/Process — dry_run_llm via research #202) + RationaleClustering (research #202) + ReplayConcordance + Counterfactual (backtester #225) all take dry_run_llm.$=$.research_dry; DataPhase2 (dry_run=true — alternative.collect returns ok_dry_run BEFORE any fetch/S3 write), RegimeSubstrate + RegimeRetrospectiveEval (action=dry_run — produce_*(write=False) returns payload before any put_object). The skip-exception rewire (this PR) flipped the prior 5 skip→dry: DriftDetection now uses the same commands.$/States.Format($.preflight_args) Option-C mechanism as the other spot states (data #261 exposed --preflight-only on spot_drift_detection.sh); the eval-judge / rationale-clustering / replay-concordance / counterfactual Lambdas now route dry via dry_run_llm.$=$.research_dry instead of being hard-skipped. ZERO skip-exceptions are force-set here. The #258 Choice-gated skip_* gates are LEFT INTACT and remain valid for targeted operator skips. The two health-check states have NO skip gate by design and run under shell_run (the bootstrap smoke) — their non-blocking Catch absorbs a stale-data sys.exit(1) so a missing-Friday-bar produces only a clearly-Friday-timestamped alert email, NOT a SF-fatal failure (ROADMAP owed-work item 5: a --shell-run-aware staleness tolerance in alpha-engine-dashboard/health_checker.py is a scoped cross-repo follow-on; not a SF-fatal spurious-fail, so deliberately out of this single-file SF PR).",
      "Parameters": {
        "merged.$": "States.JsonMerge($,States.StringToJson('{\"preflight_args\":\" --preflight-only\",\"research_dry\":true,\"data_phase2_dry\":true,\"regime_action\":\"dry_run\",\"pipeline_label\":\" Preflight\"}'),false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckSkipMorningEnrich"
    },
    "CheckSkipMorningEnrich": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_morning_enrich\": true} routes past the MorningEnrich state directly to the next skip-gate (CheckSkipDataPhase1). Missing flag = run as normal. MorningEnrich was split out of DataPhase1 by the preflight-task-split (2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md): morning-enrich (~28 min) and phase1 are independent preflight-bearing actions, so a phase1 failure must never re-run a completed morning-enrich. Useful for adhoc reruns where Friday's polygon-corrected daily_closes are already in ArcticDB but phase1 needs a re-run.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_morning_enrich",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_morning_enrich",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipDataPhase1"
        }
      ],
      "Default": "MorningEnrich"
    },
    "MorningEnrich": {
      "Type": "Task",
      "Comment": "Friday polygon-T+1 daily_closes fill (weekly_collector.py --morning-enrich) on a dedicated spot EC2. Split out of DataPhase1 by the preflight-task-split (2026-05-16): morning-enrich (~28 min) and phase1 are independent preflight-bearing actions, so a phase1 failure must never re-run this completed ~28-min step. Mirrors the RAGIngestion split precedent \u2014 its own spot, watchdog budget, per-state health marker, and a proper UNION entry preflight (preflight.py mode 'morning_enrich': polygon + FRED secrets + reachability + S3 writeable + ArcticDB libraries present; deliberately NO ArcticDB-freshness check \u2014 morning-enrich is part of what makes it fresh). ~7 min extra bootstrap vs the prior bundled design \u2014 accepted in exchange for never re-paying the 28-min morning-enrich on a downstream redrive.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','cd /home/ec2-user/alpha-engine-data','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug morning-enrich --log /var/log/morning-enrich.log -- bash infrastructure/spot_data_weekly.sh --morning-enrich-only{}',$.preflight_args))",
          "executionTimeout": [
            "5400"
          ]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.morning_enrich_result",
      "Next": "WaitForMorningEnrich"
    },
    "WaitForMorningEnrich": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.morning_enrich_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.morning_enrich_poll",
      "Next": "CheckMorningEnrichStatus"
    },
    "CheckMorningEnrichStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipDataPhase1"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningEnrichWait"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningEnrichWait"
        }
      ],
      "Default": "ExtractMorningEnrichError"
    },
    "MorningEnrichWait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForMorningEnrich"
    },
    "CheckSkipDataPhase1": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_data_phase1\": true} routes past DataPhase1 directly to the next skip-gate (CheckSkipRAGIngestion). Missing flag = run as normal.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_data_phase1",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_data_phase1",
              "BooleanEquals": true
            }
          ],
          "Next": "Scanner"
        }
      ],
      "Default": "DataPhase1"
    },
    "DataPhase1": {
      "Type": "Task",
      "Comment": "Weekly Phase 1 data collection + universe-prune (weekly_collector.py --phase 1 then builders.prune_delisted_tickers) on a dedicated spot EC2. MorningEnrich was split into its own preceding SF state by the preflight-task-split (2026-05-16): a failure here no longer re-runs the completed ~28-min morning-enrich. RAG ingestion lives in the separate RAGIngestion state (split 2026-05-06). Entry preflight is preflight.py mode 'phase1' (a strict superset of morning_enrich's dependency set \u2014 phase1 additionally builds the universe).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','cd /home/ec2-user/alpha-engine-data','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug data-weekly --log /var/log/data-weekly.log -- bash infrastructure/spot_data_weekly.sh --phase1-only{}',$.preflight_args))",
          "executionTimeout": [
            "5400"
          ]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_result",
      "Next": "WaitForDataPhase1"
    },
    "WaitForDataPhase1": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.data_phase1_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.data_phase1_poll",
      "Next": "CheckDataPhase1Status"
    },
    "CheckDataPhase1Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Success",
          "Next": "Scanner"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "InProgress",
          "Next": "DataPhase1Wait"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Pending",
          "Next": "DataPhase1Wait"
        }
      ],
      "Default": "ExtractDataPhase1Error"
    },
    "DataPhase1Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForDataPhase1"
    },
    "Scanner": {
      "Type": "Task",
      "Comment": "Standalone scanner Lambda (ROADMAP L1995 Phase 1 — alpha-engine-research #235). Reads constituents.json + feature store, runs the same run_quant_filter as Research Lambda's internal scanner, writes the candidates.json artifact for THIS run_date. Phase 2 posture: observe-only — runs UNCONDITIONALLY on every Saturday SF firing (the prior CheckEnableStandaloneScanner Choice gate was removed 2026-05-28 per feedback_observe_mode_unconditional_gates_govern_cutover — observation must not be flag-gated; absence-of-artifact is itself the failure mode the soak is meant to detect). Failure is NON-BLOCKING (Catch routes to CheckSkipRAGIngestion). The artifact is parallel-observe only; no consumer reads it yet (Phase 4 will switch RAG to read it, Phase 5 will switch Research) — the Phase 4/5 consumer-cutover flag belongs at the consumer side. Status contract OK / ERROR — no SKIPPED today (constituents.json + feature store are hard preconditions). dry_run_llm threads the Friday-Preflight shell-run signal so the Lambda boots+imports without S3 read on $.research_dry=true. First post-fix Saturday SF (2026-05-30) lands candidates.json structurally; compare candidates.json::scanner_tickers against signals.json::universe (minus population). Zero divergence is the Phase 3 → Phase 4 transition signal.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-research-scanner:live",
        "Payload": {
          "run_date.$": "$.run_date",
          "dry_run_llm.$": "$.research_dry"
        }
      },
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Phase 2 observe-only contract — scanner failure must NOT halt the pipeline. Research Lambda's internal scanner still runs in parallel and provides the load-bearing scanner output downstream; this artifact is parallel-observe and consumer-less today (Phase 4 will flip RAG to read it). Routes forward to CheckSkipRAGIngestion so the pipeline continues exactly as it would on flag=false.",
          "Next": "CheckSkipRAGIngestion",
          "ResultPath": "$.scanner_error"
        }
      ],
      "ResultPath": "$.scanner_result",
      "Next": "CheckSkipRAGIngestion"
    },
    "CheckSkipRAGIngestion": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_rag_ingestion\": true} routes past RAG ingestion directly to CheckSkipRegimeSubstrate. Missing flag = run as normal. Useful when DataPhase1 ran fresh but the RAG corpus is already current.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_rag_ingestion",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_rag_ingestion",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipRegimeSubstrate"
        }
      ],
      "Default": "RAGIngestion"
    },
    "RAGIngestion": {
      "Type": "Task",
      "Comment": "Weekly RAG ingestion (SEC filings, 8-Ks, earnings, theses) on its own spot EC2. Same dispatcher (always-on micro) that ran DataPhase1; a fresh spot instance is launched here so this state has its own watchdog budget and per-state health marker. ~7 min extra bootstrap vs the prior bundled design \u2014 accepted in exchange for failure isolation. Origin of split: 2026-05-06 SF run where alpha-engine-lib v0.3.0 had bare `from rag.X` imports inside retrieval.py that fired during RRC dedup; failure was labeled DataPhase1 even though the data layer was healthy.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main','cd /home/ec2-user/alpha-engine-data','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug rag-ingestion --log /var/log/rag-ingestion.log -- bash infrastructure/spot_data_weekly.sh --rag-only{}',$.preflight_args))",
          "executionTimeout": [
            "3600"
          ]
        },
        "TimeoutSeconds": 3600
      },
      "TimeoutSeconds": 3660,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.rag_ingestion_result",
      "Next": "WaitForRAGIngestion"
    },
    "WaitForRAGIngestion": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.rag_ingestion_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultSelector": {
        "Status.$": "$.Status",
        "ResponseCode.$": "$.ResponseCode",
        "StatusDetails.$": "$.StatusDetails",
        "StandardErrorContent.$": "$.StandardErrorContent"
      },
      "ResultPath": "$.rag_ingestion_poll",
      "Next": "CheckRAGIngestionStatus"
    },
    "CheckRAGIngestionStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipRegimeSubstrate"
        },
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "InProgress",
          "Next": "RAGIngestionWait"
        },
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "Pending",
          "Next": "RAGIngestionWait"
        }
      ],
      "Default": "ExtractRAGIngestionError"
    },
    "RAGIngestionWait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForRAGIngestion"
    },
    "CheckSkipRegimeSubstrate": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_regime_substrate\": true} bypasses the regime substrate Lambda and jumps to CheckSkipRegimeRetrospectiveEval (which independently honors its own skip flag). Independent of skip_research \u2014 operators can skip the HMM refit while still running research (or vice versa).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_regime_substrate",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_regime_substrate",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipRegimeRetrospectiveEval"
        }
      ],
      "Default": "RegimeSubstrate"
    },
    "RegimeSubstrate": {
      "Type": "Task",
      "Comment": "Regime substrate Lambda \u2014 fits a weekly 3-state HMM + composite z-score + BOCPD on macro feature history (FRED-sourced VIX/HYOAS/TNX/TWO + SPY), writes s3://alpha-engine-research/regime/{YYMMDDHHMM}.json + latest.json sidecar. The macro economist agent (Stage C) will consume this as a strong prior; macro agent remains the final regime authority. Observe-only at this stage \u2014 no production consumer reads the artifact yet. Failure is non-blocking (Catch routes to CheckSkipRegimeRetrospectiveEval, not HandleFailure) per the Stage A observe-only contract \u2014 a regime substrate failure during the 4-week observation period must not halt Research.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-regime-substrate:live",
        "Payload": {
          "action.$": "$.regime_action"
        }
      },
      "TimeoutSeconds": 360,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CheckSkipRegimeRetrospectiveEval",
          "ResultPath": "$.regime_substrate_error"
        }
      ],
      "ResultPath": "$.regime_substrate_result",
      "Next": "CheckSkipRegimeRetrospectiveEval"
    },
    "CheckSkipRegimeRetrospectiveEval": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_regime_retrospective_eval\": true} bypasses the T1 retrospective HMM smoothing eval and jumps to CheckSkipResearch. Independent of skip_regime_substrate \u2014 operator can run substrate without eval (or vice versa during ad-hoc replays).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_regime_retrospective_eval",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_regime_retrospective_eval",
              "BooleanEquals": true
            }
          ],
          "Next": "ResearchPredictorParallel"
        }
      ],
      "Default": "RegimeRetrospectiveEval"
    },
    "RegimeRetrospectiveEval": {
      "Type": "Task",
      "Comment": "Stage C.2 T1 retrospective HMM smoothing eval \u2014 pairs the macro agent's historical regime calls against the HMM forward-backward smoother's labels (8-week lag, asymmetric loss penalizing bear-misses 2\u00d7). Writes s3://alpha-engine-research/regime/retrospective/{YYMMDDHHMM}.json + latest.json sidecar carrying n_pairings + rolling 26-week agreement rate. Observe-only \u2014 feeds the dashboard's Regime page, does NOT gate anything. Failure is non-blocking (Catch routes to CheckSkipResearch) \u2014 a retrospective-eval failure must not halt Research. Returns n_pairings=0 cleanly during the cold-start window (~8 weeks after substrate Lambda starts running).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-regime-retrospective-eval:live",
        "Payload": {
          "action.$": "$.regime_action"
        }
      },
      "TimeoutSeconds": 660,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ResearchPredictorParallel",
          "ResultPath": "$.regime_retrospective_eval_error"
        }
      ],
      "ResultPath": "$.regime_retrospective_eval_result",
      "Next": "ResearchPredictorParallel"
    },
    "ResearchPredictorParallel": {
      "Type": "Parallel",
      "Comment": "Research and PredictorTraining are DATA-INDEPENDENT (no S3/db data flows between them \u2014 see CLAUDE.md Architecture). They previously ran sequentially ONLY to 'spread API load', a now-STALE rationale: predictor TRAINING (training/train_handler.py) reads ArcticDB + CPU LightGBM and makes NO Anthropic calls (the yfinance fallback was removed by predictor PR #6; train_handler yfinance docstrings are stale). Research's only heavy load is Anthropic. They do not contend on the rate-limited API, so they run in parallel here to decouple PredictorTraining from Research's variable <=75-min strict-retry runtime and shorten SF wall-clock. Branch A = the full Research-consuming chain (DataPhase2 + eval-judge chain + agent-justification triple), Branch B = the PredictorTraining quartet. PER-BRANCH ERROR ISOLATION: each branch ends in a branch-local Pass terminal (End:true) that records OK/FAILED as DATA \u2014 a branch NEVER throws, so SF Parallel's default cancel-all-siblings-on-error behaviour can never abandon or waste an in-flight (or completed+S3-promoted) sibling. The SF is failed AFTER the join by CheckBranchOutcomes if either branch recorded FAILED. The Parallel-level Catch is a defense-in-depth backstop for genuine SF-engine Parallel errors only (the branches themselves always succeed).",
      "Branches": [
        {
          "StartAt": "CheckSkipResearch",
          "States": {
            "CheckSkipResearch": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_research\": true} bypasses the research Lambda and jumps to DataPhase2's skip-gate.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_research",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_research",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipDataPhase2"
                }
              ],
              "Default": "Research"
            },
            "Research": {
              "Type": "Task",
              "Comment": "Research Lambda \u2014 generates signals.json. skip_dry_run_gate=true (L4464 perf): the scheduled production path skips the in-handler stub-LLM dry-run gate, which ran a FULL second graph pass (incl. a real ~4-min fetch_data) before the real pass \u2014 ~8 min of the 900s budget. Wiring is validated by CI + the Friday shell-run preflight; the gate stays available for manual/dev invokes (default off-skip). Composes with the L1995 Phase 5 universe reduction (research #256) which is the load-bearing timeout fix.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-runner:live",
                "Payload": {
                  "weekly_run": true,
                  "force": true,
                  "skip_dry_run_gate": true,
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 900,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchAFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.research_result",
              "Next": "CheckResearchStatus"
            },
            "CheckResearchStatus": {
              "Type": "Choice",
              "Comment": "Verify research returned OK (not ERROR)",
              "Choices": [
                {
                  "Variable": "$.research_result.Payload.status",
                  "StringEquals": "OK",
                  "Next": "CheckSkipDataPhase2"
                },
                {
                  "Variable": "$.research_result.Payload.status",
                  "StringEquals": "SKIPPED",
                  "Next": "CheckSkipDataPhase2"
                }
              ],
              "Default": "ExtractResearchError"
            },
            "CheckSkipDataPhase2": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_data_phase2\": true} bypasses the Phase 2 Lambda and jumps to the eval-judge skip-gate (post-2026-05-07 reorder \u2014 judge chain runs before predictor training so its results are available to evaluator's email).",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_data_phase2",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_data_phase2",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipEvalJudge"
                }
              ],
              "Default": "DataPhase2"
            },
            "DataPhase2": {
              "Type": "Task",
              "Comment": "Phase 2: alternative data for promoted tickers (Lambda). Successor is CheckSkipEvalJudge (post-2026-05-07 reorder) \u2014 judge + agent-justification triple run on Research's decision_artifacts/, no dependency on Predictor or Backtester output, so they run before predictor training to land their results in S3 before Evaluator generates the weekly email.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-data-collector:live",
                "Payload": {
                  "phase": 2,
                  "dry_run.$": "$.data_phase2_dry"
                }
              },
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchAFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.data_phase2_result",
              "Next": "CheckSkipEvalJudge"
            },
            "CheckSkipEvalJudge": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_eval_judge\": true} bypasses the LLM-as-judge eval step (typically used for ad-hoc reruns where eval cost is unwanted). Skipping the judge does NOT skip rationale clustering \u2014 they're independent observability paths (clustering reads decision_artifacts/, judge reads its own _eval/), so we route to CheckSkipRationaleClustering instead of bypassing both.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_eval_judge",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_eval_judge",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipRationaleClustering"
                }
              ],
              "Default": "ComputeEvalCadence"
            },
            "ComputeEvalCadence": {
              "Type": "Pass",
              "Comment": "Extract day-of-month + ISO date + submit timestamp from the SF execution start time. day_of_month <= 07 \u21d2 first Saturday of the month \u21d2 force_sonnet_pass=true (monthly Sonnet sweep per ROADMAP \u00a71626). All other Saturdays run Haiku-only batch + per-artifact Sonnet escalation tail inside the Process Lambda. submit_iso is propagated to EvalJudgePoll so it can compute elapsed-time against the 6h fail-soft cap.",
              "Parameters": {
                "day_of_month.$": "States.ArrayGetItem(States.StringSplit(States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0), '-'), 2)",
                "eval_date.$": "States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0)",
                "submit_iso.$": "$$.Execution.StartTime"
              },
              "ResultPath": "$.eval_cadence",
              "Next": "CheckMonthlyCadence"
            },
            "CheckMonthlyCadence": {
              "Type": "Choice",
              "Comment": "First-Saturday-of-the-month detection via lexicographic compare on the zero-padded day-of-month string ('01'..'07' < '08'). Lexicographic ordering is correct here because all values are zero-padded 2-char strings.",
              "Choices": [
                {
                  "Variable": "$.eval_cadence.day_of_month",
                  "StringLessThan": "08",
                  "Next": "EvalJudgeSubmitFirstSaturday"
                }
              ],
              "Default": "EvalJudgeSubmitWeekly"
            },
            "EvalJudgeSubmitFirstSaturday": {
              "Type": "Task",
              "Comment": "Submit phase, monthly Sonnet sweep \u2014 force_sonnet_pass=true. Builds the (artifact \u00d7 judge_model) batch payload covering both Haiku and Sonnet for every mapped artifact, submits as one Anthropic Message Batches API call, and writes the plan manifest to S3 keyed by batch_id. ROADMAP P1 \u00a71642. 50% cost discount per Anthropic's batch contract; structurally bypasses the 15-min Lambda timeout class that nearly fired on the 2026-05-06 manual midweek SF run.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-submit:live",
                "Payload": {
                  "force_sonnet_pass": true,
                  "date.$": "$.eval_cadence.eval_date",
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval is observability per ROADMAP \u00a71635 \u2014 submit failures must NOT halt the pipeline. EvalRollingMean still runs against historical data.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_submit",
              "Next": "EvalJudgePollChoice"
            },
            "EvalJudgeSubmitWeekly": {
              "Type": "Task",
              "Comment": "Submit phase, weekly Haiku-only batch + Sonnet escalation tail in Process. Submits Haiku entries for every mapped artifact in one batch; the Process Lambda runs Sonnet escalations synchronously after Haiku results arrive (typically 1-3 artifacts/run, well under Process's 15-min budget). Preserves the per-artifact <3 escalation gate so weekly cost stays bounded relative to the all-pairs first-Saturday batch.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-submit:live",
                "Payload": {
                  "force_sonnet_pass": false,
                  "date.$": "$.eval_cadence.eval_date",
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval is observability \u2014 submit failures must NOT halt the pipeline.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_submit",
              "Next": "EvalJudgePollChoice"
            },
            "EvalJudgePollChoice": {
              "Type": "Choice",
              "Comment": "Branch on Submit's processing_status. EMPTY (no captures or all empty-input skipped client-side) \u2192 route directly to Process so the empty-batch case still emits a clean SF result + downstream metric inputs. OK \u2192 enter the Wait/Poll loop. Anything else (ERROR, missing fields) routes to EvalRollingMean as a fail-soft.",
              "Choices": [
                {
                  "Variable": "$.eval_judge_submit.Payload.status",
                  "StringEquals": "EMPTY",
                  "Next": "EvalJudgeProcess"
                },
                {
                  "Variable": "$.eval_judge_submit.Payload.status",
                  "StringEquals": "OK",
                  "Next": "EvalJudgePollWait"
                }
              ],
              "Default": "EvalRollingMean"
            },
            "EvalJudgePollWait": {
              "Type": "Wait",
              "Comment": "60s pause between batch status polls. Anthropic's docs target sub-1h typical batch latency with 24h hard cap; 60s polls strike a balance between pickup latency and Lambda invocation cost over the typical wait.",
              "Seconds": 60,
              "Next": "EvalJudgePoll"
            },
            "EvalJudgePoll": {
              "Type": "Task",
              "Comment": "Poll phase. Calls anthropic.messages.batches.retrieve(batch_id) and returns processing_status + request_counts + elapsed_seconds. SF Choice that follows branches on processing_status: ended \u2192 Process; in_progress \u2192 loop back to Wait; exceeded_max_wait=true \u2192 fail-soft to EvalRollingMean.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-poll:live",
                "Payload": {
                  "batch_id.$": "$.eval_judge_submit.Payload.batch_id",
                  "submit_iso.$": "$.eval_cadence.submit_iso",
                  "max_wait_seconds": 21600,
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 60,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 2,
                  "IntervalSeconds": 30,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "A poll-level failure is recoverable \u2014 Anthropic retains batch results 29 days, so a transient poll Lambda failure can be re-run by a human if needed. Route to EvalRollingMean so the rest of the pipeline isn't blocked.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_poll",
              "Next": "EvalJudgePollDecision"
            },
            "EvalJudgePollDecision": {
              "Type": "Choice",
              "Comment": "Branch on poll status. processing_status='ended' \u2192 run Process. exceeded_max_wait=true \u2192 fail-soft (batch results stay retrievable for 29 days; an operator can re-run the chain offline). Anything else \u2192 loop back to Wait. Includes the synthetic 'ended_empty' status (Submit short-circuited an empty plan) so the empty case still hits Process.",
              "Choices": [
                {
                  "Or": [
                    {
                      "Variable": "$.eval_judge_poll.Payload.processing_status",
                      "StringEquals": "ended"
                    },
                    {
                      "Variable": "$.eval_judge_poll.Payload.processing_status",
                      "StringEquals": "ended_empty"
                    }
                  ],
                  "Next": "EvalJudgeProcess"
                },
                {
                  "Variable": "$.eval_judge_poll.Payload.exceeded_max_wait",
                  "BooleanEquals": true,
                  "Next": "EvalRollingMean"
                }
              ],
              "Default": "EvalJudgePollWait"
            },
            "EvalJudgeProcess": {
              "Type": "Task",
              "Comment": "Process phase. Streams the completed batch's results, parses each via the existing RubricEvalLLMOutput schema, persists per-artifact eval JSONs to decision_artifacts/_eval/{date}/, emits CW metrics under AlphaEngine/Eval, and runs the small synchronous Sonnet-escalation tail for any Haiku result that flagged a borderline dimension. Returns OK/PARTIAL/ERROR mirroring the legacy single-Lambda contract \u2014 no consumer (RationaleClustering, EvalRollingMean, dashboard) changes.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-process:live",
                "Payload": {
                  "batch_id.$": "$.eval_judge_submit.Payload.batch_id",
                  "plan_s3_key.$": "$.eval_judge_submit.Payload.plan_s3_key",
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 900,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval is observability \u2014 Process failures must NOT halt the pipeline. EvalRollingMean still runs against historical data.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_result",
              "Next": "EvalRollingMean"
            },
            "EvalRollingMean": {
              "Type": "Task",
              "Comment": "Rolling-4-week-mean derived metric Lambda (PR 4b) \u2014 runs after both eval-judge branches converge. Reads AlphaEngine/Eval/agent_quality_score for the trailing 28 days, computes the mean per (judged_agent_id, criterion, judge_model) combo, and emits agent_quality_score_4w_mean which a CloudWatch alarm fires against (per ROADMAP \u00a71634). Runs every Saturday \u2014 even on weeks where eval-judge had infra failures, the mean across the prior 4 weeks of available data is still the most-current calibration signal.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-rolling-mean:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 failures must NOT halt the pipeline.",
                  "Next": "CheckSkipRationaleClustering",
                  "ResultPath": "$.eval_rolling_mean_error"
                }
              ],
              "ResultPath": "$.eval_rolling_mean_result",
              "Next": "CheckSkipRationaleClustering"
            },
            "CheckSkipRationaleClustering": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_rationale_clustering\": true} bypasses the cross-week rationale clustering Lambda (used during ad-hoc reruns where corpus is in a known-bad state, while iterating on extraction logic, or for post-incident reruns where stale outputs shouldn't hit CloudWatch). Standalone invocation of the Lambda is always available regardless of this flag.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_rationale_clustering",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_rationale_clustering",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipReplayConcordance"
                }
              ],
              "Default": "RationaleClustering"
            },
            "RationaleClustering": {
              "Type": "Task",
              "Comment": "Cross-week rationale clustering Lambda (ROADMAP P0, 2026-05-05). Reads decision_artifacts/ for the trailing 8 weeks, clusters rationales per agent_id via TF-IDF char n-grams + greedy single-linkage with digit-normalization, emits CW metric agent_rationale_template_concentration (% of rationales in top-3 clusters; >0.7 indicates template-generation), and persists per-agent analysis JSON to decision_artifacts/_analysis/{agent_id}/{YYYY-WW}.json. Runs every Saturday after EvalRollingMean \u2014 same image-share + observability framing.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-rationale-clustering:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime",
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 failures must NOT halt the pipeline.",
                  "Next": "CheckSkipReplayConcordance",
                  "ResultPath": "$.rationale_clustering_error"
                }
              ],
              "ResultPath": "$.rationale_clustering_result",
              "Next": "CheckSkipReplayConcordance"
            },
            "CheckSkipReplayConcordance": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_replay_concordance\": true} bypasses the cheap-model concordance Lambda (used for ad-hoc reruns where Anthropic spend is unwanted, or while iterating on the comparison scorers in alpha-engine-backtester replay/comparison.py). Independent of skip_rationale_clustering and skip_counterfactual \u2014 the three are independent agent-justification signals. Standalone invocation of the Lambda is always available regardless of this flag.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_replay_concordance",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_replay_concordance",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipCounterfactual"
                }
              ],
              "Default": "ReplayConcordance"
            },
            "ReplayConcordance": {
              "Type": "Task",
              "Comment": "Weekly cheap-model concordance Lambda (ROADMAP P0, agent-justification gate signal #3). Replays each captured DecisionArtifact in the trailing 8-week window under the configured target model(s) via langchain_anthropic.with_structured_output against the canonical agent_schemas Pydantic contract; aggregates agreement_score per (agent_id_base, target_model); emits CW metric agent_cheap_model_concordance; persists per-target summary JSON to decision_artifacts/_replay_summary/{YYYY-MM-DD}/{target_model}.json. Default target: claude-haiku-4-5 (Sonnet\u2192Haiku concordance \u2248 \"is the larger model earning its cost?\"). Runs every Saturday after RationaleClustering.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-replay-concordance:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime",
                  "target_models": [
                    "claude-haiku-4-5"
                  ],
                  "window_days": 56,
                  "max_artifacts": 150,
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 900,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 concordance failure must NOT halt the pipeline. Same Catch pattern as eval-judge / eval-rolling-mean / rationale-clustering.",
                  "Next": "CheckSkipCounterfactual",
                  "ResultPath": "$.replay_concordance_error"
                }
              ],
              "ResultPath": "$.replay_concordance_result",
              "Next": "CheckSkipCounterfactual"
            },
            "CheckSkipCounterfactual": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_counterfactual\": true} bypasses the counterfactual rule fit Lambda (used for ad-hoc reruns while iterating on the per-agent feature extractors in alpha-engine-backtester replay/counterfactual.py). Independent of skip_rationale_clustering and skip_replay_concordance \u2014 the three are independent agent-justification signals. Standalone invocation of the Lambda is always available regardless of this flag. Post-2026-05-07 reorder, exits to CheckSkipPredictorTraining (was SaturdayHealthCheck) \u2014 the judge chain now runs before predictor so its results are available to evaluator's email.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_counterfactual",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_counterfactual",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipAggregateCosts"
                }
              ],
              "Default": "Counterfactual"
            },
            "Counterfactual": {
              "Type": "Task",
              "Comment": "Weekly counterfactual rule fit Lambda (ROADMAP P0, agent-justification gate signal #2 \u2014 does the agent reduce to a 3-deep decision tree?). Trains DecisionTreeClassifier(max_depth=3) per supported agent on (input \u2192 decision) pairs from the trailing 8-week decision_artifacts/ corpus; emits CW metric agent_counterfactual_rule_fit per (judged_agent_id); persists per-agent JSON to decision_artifacts/_counterfactual/{agent_id_base}/{YYYY-WW}.json including tree_text + feature_importances. v1 covers ic_cio + macro_economist; other agents emit UNSUPPORTED markers. $0 ongoing \u2014 no LLM calls. Post-2026-05-07 reorder, runs after ReplayConcordance and exits to CheckSkipPredictorTraining (was SaturdayHealthCheck), so its persisted artifacts are available to Evaluator downstream.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-replay-counterfactual:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime",
                  "window_days": 56,
                  "max_depth": 3,
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 counterfactual failure must NOT halt the pipeline. Same Catch pattern as the rest of the agent-justification triple. Routes to CheckSkipAggregateCosts so the cost-telemetry aggregation step still runs even when counterfactual fails (the JSONLs the aggregator reads were written by Research / eval-judge / rationale-clustering / replay-concordance / counterfactual independently; a counterfactual failure doesn't invalidate the upstream cost rows).",
                  "Next": "CheckSkipAggregateCosts",
                  "ResultPath": "$.counterfactual_error"
                }
              ],
              "ResultPath": "$.counterfactual_result",
              "Next": "CheckSkipAggregateCosts"
            },
            "CheckSkipAggregateCosts": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_aggregate_costs\": true} bypasses the daily cost-telemetry aggregation Lambda (used for ad-hoc reruns where the cost parquet for the date is already current, or when iterating on the aggregator script). Standalone invocation of the Lambda is always available via the deploy.sh aggregate_costs target. Independent of skip_rationale_clustering / skip_replay_concordance / skip_counterfactual \u2014 the four are independent observability paths.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_aggregate_costs",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_aggregate_costs",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "BranchAComplete"
                }
              ],
              "Default": "AggregateCosts"
            },
            "AggregateCosts": {
              "Type": "Task",
              "Comment": "Daily cost-telemetry aggregation Lambda (ROADMAP L1146 \u2014 SF-wire scripts/aggregate_costs.py CLI). Reads decision_artifacts/_cost_raw/{run_date}/*.jsonl (written by Research / eval-judge / rationale-clustering / replay-concordance / counterfactual during the upstream chain), writes the daily parquet at decision_artifacts/_cost/{run_date}/cost.parquet, emits per-agent CW metrics under AlphaEngine/Cost. Placed at end of Branch A so all LLM-emitting upstream states have written their cost JSONL rows by the time the aggregator runs. Failure is non-blocking (Catch routes to BranchAComplete) \u2014 cost telemetry is observability, NOT a primary deliverable; aggregator failure does NOT regress the alpha pipeline. Status contract OK / SKIPPED / ERROR mirrors data #295 + L3277 audit \u2014 SKIPPED on no _cost_raw partitions for the date is a legitimate upstream no-op and treated as success.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-aggregate-costs:live",
                "Payload": {
                  "date.$": "$.run_date",
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Cost-telemetry aggregation is observability \u2014 failure must NOT halt the pipeline. The next Saturday SF will retry over a fresh _cost_raw partition; the prior week's parquet (or the manual-trigger fallback via scripts/aggregate_costs.py) remains available.",
                  "Next": "BranchAComplete",
                  "ResultPath": "$.aggregate_costs_error"
                }
              ],
              "ResultPath": "$.aggregate_costs_result",
              "Next": "BranchAComplete"
            },
            "ExtractResearchError": {
              "Type": "Pass",
              "Comment": "Normalize Research Lambda soft-failure payload (status != OK) into $.error. Research handler always returns {status, date, error} on the ERROR path so copying the whole Payload is safe and preserves the real traceback string.",
              "Parameters": {
                "phase": "Research",
                "source": "CheckResearchStatus.Default",
                "payload.$": "$.research_result.Payload"
              },
              "ResultPath": "$.error",
              "Next": "PublishResearchFailureImmediate"
            },
            "PublishResearchFailureImmediate": {
              "Type": "Task",
              "Comment": "Fire an immediate SNS failure alert when the Research branch fails, BEFORE the sibling PredictorTraining branch completes its full ~12-min train + the parent SF's parallel-join aggregation. Closes the 2026-05-24 operator-confusion gap where a mid-parallel failure surfaced only after the sibling branch's work completed (the salvage-at-join design is correct; the visibility lag was the actual problem). Branch terminus is still BranchAFailed (Pass) so the salvage semantics are preserved: SF still fails at the join via CheckBranchOutcomes; the sibling branch's completed work still persists for the next redrive's skip-set. SNS publish failure is caught and routed forward — best-effort alert must NEVER prevent the branch from properly terminating.",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn.$": "$.sns_topic_arn",
                "Subject.$": "States.Format('Alpha Engine Saturday{} Pipeline — Research FAILED (early signal — SF will fail at join)', $.pipeline_label)",
                "Message.$": "States.Format('Research branch hard-failed inside ResearchPredictorParallel. The sibling PredictorTraining branch is still running and will complete its own work; the SF will fail at the parallel-join aggregation via CheckBranchOutcomes once both branches terminate. This is an EARLY-SIGNAL alert so you do not have to wait for the join. Error: {}', States.JsonToString($.error))"
              },
              "ResultPath": null,
              "Next": "BranchAFailed",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Comment": "Best-effort: a failed SNS publish must not prevent the branch from terminating cleanly. The branch still routes to BranchAFailed and the SF still fails at the join.",
                  "ResultPath": null,
                  "Next": "BranchAFailed"
                }
              ]
            },
            "BranchAComplete": {
              "Type": "Pass",
              "Comment": "Branch A (Research \u2192 DataPhase2 \u2192 eval-judge chain \u2192 EvalRollingMean \u2192 RationaleClustering \u2192 ReplayConcordance \u2192 Counterfactual) completed. Records branch_a_status=OK so the post-join AggregateBranchOutcomes can decide whether to halt the SF. End:true so the Parallel branch SUCCEEDS \u2014 it must never throw, because a thrown branch would cancel the sibling PredictorTraining branch (default SF Parallel semantics).",
              "Result": {
                "branch_a_status": "OK"
              },
              "ResultPath": "$.branch_a",
              "End": true
            },
            "BranchAFailed": {
              "Type": "Pass",
              "Comment": "Branch A hard-failed (strict-Research no-partial-output failure, DataPhase2 failure, or a soft-fail status normalized by ExtractResearchError). Records branch_a_status=FAILED + the captured $.error as DATA and End:true \u2014 the branch SUCCEEDS in SF terms so the sibling PredictorTraining branch is NEVER abandoned by Parallel's cancel-siblings default. The SF is failed AFTER the join by CheckBranchOutcomes. Recovery: if Branch B completed + promoted weights to S3, the re-run uses {\"skip_predictor_training\": true} (weights are already live) and re-runs only Branch A.",
              "Parameters": {
                "branch_a_status": "FAILED",
                "branch_a_error.$": "$.error"
              },
              "ResultPath": "$.branch_a",
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckSkipPredictorTraining",
          "States": {
            "CheckSkipPredictorTraining": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_predictor_training\": true} bypasses GBM retrain and jumps to DriftDetection's skip-gate.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_predictor_training",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_predictor_training",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "BranchBComplete"
                }
              ],
              "Default": "PredictorTraining"
            },
            "PredictorTraining": {
              "Type": "Task",
              "Comment": "GBM retrain on spot instance (launched from always-on EC2)",
              "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
              "Parameters": {
                "DocumentName": "AWS-RunShellScript",
                "InstanceIds.$": "$.ec2_instance_id",
                "Parameters": {
                  "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','sudo -u ec2-user cp /home/ec2-user/alpha-engine-config/predictor/predictor.yaml /home/ec2-user/alpha-engine-predictor/config/predictor.yaml','cd /home/ec2-user/alpha-engine-predictor','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug predictor-training --log /var/log/predictor-training.log -- bash infrastructure/spot_train.sh --full-only{}',$.preflight_args))",
                  "executionTimeout": [
                    "5400"
                  ]
                },
                "TimeoutSeconds": 5400
              },
              "TimeoutSeconds": 5460,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "States.Timeout"
                  ],
                  "MaxAttempts": 2,
                  "IntervalSeconds": 180,
                  "BackoffRate": 2.0,
                  "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry)"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchBFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.predictor_result",
              "Next": "WaitForPredictorTraining"
            },
            "WaitForPredictorTraining": {
              "Type": "Task",
              "Comment": "Poll SSM command until predictor training complete",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
              "Parameters": {
                "CommandId.$": "$.predictor_result.Command.CommandId",
                "InstanceId.$": "$.ec2_instance_id[0]"
              },
              "Retry": [
                {
                  "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
                  "MaxAttempts": 10,
                  "IntervalSeconds": 30,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchBFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.predictor_poll",
              "Next": "CheckPredictorStatus"
            },
            "CheckPredictorStatus": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.predictor_poll.Status",
                  "StringEquals": "Success",
                  "Next": "ModelZooRotation"
                },
                {
                  "Variable": "$.predictor_poll.Status",
                  "StringEquals": "InProgress",
                  "Next": "PredictorWait"
                },
                {
                  "Variable": "$.predictor_poll.Status",
                  "StringEquals": "Pending",
                  "Next": "PredictorWait"
                }
              ],
              "Default": "ExtractPredictorError"
            },
            "PredictorWait": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "WaitForPredictorTraining"
            },
            "ExtractPredictorError": {
              "Type": "Pass",
              "Comment": "Normalize PredictorTraining SSM non-Success poll into $.error.",
              "Parameters": {
                "phase": "PredictorTraining",
                "source": "CheckPredictorStatus.Default",
                "poll.$": "$.predictor_poll"
              },
              "ResultPath": "$.error",
              "Next": "PublishPredictorFailureImmediate"
            },
            "PublishPredictorFailureImmediate": {
              "Type": "Task",
              "Comment": "Fire an immediate SNS failure alert when PredictorTraining fails, BEFORE the sibling Research branch finishes its eval-judge / RollingMean / Counterfactual chain + the parent SF's parallel-join aggregation. Closes the 2026-05-24 operator-confusion gap where the predictor OOM surfaced only after the Research-eval chain completed (~10 min of misleading 'progress' visible while the run was already known-doomed). Branch terminus is still BranchBFailed (Pass) so the salvage semantics are preserved: SF still fails at the join via CheckBranchOutcomes; Research's eval-judge work still persists for the next redrive's skip-set. SNS publish failure is caught and routed forward — best-effort alert must NEVER prevent the branch from properly terminating.",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn.$": "$.sns_topic_arn",
                "Subject.$": "States.Format('Alpha Engine Saturday{} Pipeline — PredictorTraining FAILED (early signal — SF will fail at join)', $.pipeline_label)",
                "Message.$": "States.Format('PredictorTraining branch failed inside ResearchPredictorParallel. The sibling Research branch is still running and will complete its eval-judge / RollingMean / Counterfactual work independently; the SF will fail at the parallel-join aggregation via CheckBranchOutcomes once both branches terminate. This is an EARLY-SIGNAL alert so you do not have to wait for the join. Error: {}', States.JsonToString($.error))"
              },
              "ResultPath": null,
              "Next": "BranchBFailed",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Comment": "Best-effort: a failed SNS publish must not prevent the branch from terminating cleanly. The branch still routes to BranchBFailed and the SF still fails at the join.",
                  "ResultPath": null,
                  "Next": "BranchBFailed"
                }
              ]
            },
            "ModelZooRotation": {
              "Type": "Task",
              "Comment": "L4544: after the champion retrain SUCCEEDS, train the weekly model-zoo rotation (challenger variants) + immediate leak-free-CPCV selection on the SAME spot instance, off the live-trading path. Observe-first: writes predictor/model_zoo/leaderboard/{date}.json and only PROMOTES if MODEL_ZOO_AUTO_PROMOTE_WINNER is set. BEST-EFFORT: every failure path routes to BranchBComplete (the champion already trained+promoted; a rotation failure must NEVER fail the Saturday SF). Budget=1 challenger/week (predictor.yaml model_zoo_weekly_budget) round-robins the 3 specs; each is ~one full train, so this extends Branch B by ~one champion-train.",
              "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
              "Parameters": {
                "DocumentName": "AWS-RunShellScript",
                "InstanceIds.$": "$.ec2_instance_id",
                "Parameters": {
                  "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','sudo -u ec2-user cp /home/ec2-user/alpha-engine-config/predictor/predictor.yaml /home/ec2-user/alpha-engine-predictor/config/predictor.yaml','cd /home/ec2-user/alpha-engine-predictor','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug predictor-model-zoo --log /var/log/predictor-model-zoo.log -- bash infrastructure/spot_train.sh --model-zoo-weekly{}',$.preflight_args))",
                  "executionTimeout": [
                    "5400"
                  ]
                },
                "TimeoutSeconds": 5400
              },
              "TimeoutSeconds": 5460,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "States.Timeout"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 180,
                  "BackoffRate": 2.0,
                  "Comment": "Single best-effort retry (e.g. spot interruption); the rotation is non-critical so we do not over-retry."
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort: a rotation failure must NEVER fail the branch. The champion already trained+promoted.",
                  "Next": "BranchBComplete",
                  "ResultPath": "$.model_zoo_error"
                }
              ],
              "ResultPath": "$.model_zoo_result",
              "Next": "WaitForModelZoo"
            },
            "WaitForModelZoo": {
              "Type": "Task",
              "Comment": "Poll the model-zoo rotation SSM command until complete.",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
              "Parameters": {
                "CommandId.$": "$.model_zoo_result.Command.CommandId",
                "InstanceId.$": "$.ec2_instance_id[0]"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Ssm.InvocationDoesNotExistException",
                    "Ssm.InvocationDoesNotExist"
                  ],
                  "MaxAttempts": 10,
                  "IntervalSeconds": 30,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Best-effort: poll failure must not fail the branch.",
                  "Next": "BranchBComplete",
                  "ResultPath": "$.model_zoo_error"
                }
              ],
              "ResultPath": "$.model_zoo_poll",
              "Next": "CheckModelZooStatus"
            },
            "CheckModelZooStatus": {
              "Type": "Choice",
              "Comment": "Any non-success routes to BranchBComplete — the rotation is best-effort and its failure is logged on the box (predictor-model-zoo.log); the champion is already live.",
              "Choices": [
                {
                  "Variable": "$.model_zoo_poll.Status",
                  "StringEquals": "InProgress",
                  "Next": "ModelZooWait"
                },
                {
                  "Variable": "$.model_zoo_poll.Status",
                  "StringEquals": "Pending",
                  "Next": "ModelZooWait"
                }
              ],
              "Default": "BranchBComplete"
            },
            "ModelZooWait": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "WaitForModelZoo"
            },
            "BranchBComplete": {
              "Type": "Pass",
              "Comment": "Branch B (PredictorTraining quartet) completed (training success OR skipped via skip_predictor_training; the L4544 model-zoo rotation, if it ran, is best-effort and converges here regardless of outcome). Records branch_b_status=OK. End:true so the branch SUCCEEDS and never cancels the sibling Research branch.",
              "Result": {
                "branch_b_status": "OK"
              },
              "ResultPath": "$.branch_b",
              "End": true
            },
            "BranchBFailed": {
              "Type": "Pass",
              "Comment": "Branch B (PredictorTraining) failed/timed-out (SSM non-Success normalized by ExtractPredictorError, or a Task Catch). Records branch_b_status=FAILED + $.error as DATA, End:true so the branch SUCCEEDS and the sibling Research branch runs to its own completion \u2014 a completed Research branch's signals.json / decision_artifacts are NOT silently discarded. The SF is failed AFTER the join by CheckBranchOutcomes. NOTE: if PredictorTraining promoted weights to S3 before failing a later poll, those weights persist; the recovery re-run skips the genuinely-completed branch.",
              "Parameters": {
                "branch_b_status": "FAILED",
                "branch_b_error.$": "$.error"
              },
              "ResultPath": "$.branch_b",
              "End": true
            }
          }
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 0,
          "Comment": "MaxAttempts:0 \u2014 branches self-terminate as success and record failure as data; there is nothing to retry at the Parallel level. Explicit no-op Retry documents intent and prevents an accidental default retry from re-running a completed PredictorTraining."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Backstop ONLY for a genuine SF-engine Parallel error (branches never throw \u2014 they end success with status data). Routes to the shared HandleFailure, mirroring the existing per-state Catch->HandleFailure convention; does NOT introduce a new error channel.",
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.parallel_result",
      "Next": "AggregateBranchOutcomes"
    },
    "AggregateBranchOutcomes": {
      "Type": "Pass",
      "Comment": "Parallel join sync point. $.parallel_result is the 2-element array of each branch's final effective input (branch order matches the Branches array: [0]=Research branch, [1]=PredictorTraining branch). Each branch terminal wrote its status under $.branch_a / $.branch_b, so hoist both statuses to a flat path for the Choice. This is the natural Backtester sync point \u2014 Backtester needs BOTH Research signal history AND PredictorTraining weights.",
      "Parameters": {
        "branch_a_status.$": "$.parallel_result[0].branch_a.branch_a_status",
        "branch_b_status.$": "$.parallel_result[1].branch_b.branch_b_status"
      },
      "ResultPath": "$.branch_outcomes",
      "Next": "CheckBranchOutcomes"
    },
    "CheckBranchOutcomes": {
      "Type": "Choice",
      "Comment": "Fail the SF AFTER the join if EITHER branch recorded FAILED \u2014 so the OTHER branch's completed work (Research signals.json / decision_artifacts, OR PredictorTraining's already-S3-promoted weights) persists and the recovery re-run's skip-set can skip whichever branch genuinely completed. Research-fail + Predictor-done \u2192 recovery re-run with {\"skip_predictor_training\": true}. Predictor-fail + Research-done \u2192 recovery re-run with {\"skip_research\": true, ... per the live-SF-derived skip-set practice}. Only when BOTH branches are OK does the pipeline continue to DriftDetection -> Backtester -> Parity -> Evaluator.",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.branch_outcomes.branch_a_status",
              "StringEquals": "FAILED"
            },
            {
              "Variable": "$.branch_outcomes.branch_b_status",
              "StringEquals": "FAILED"
            }
          ],
          "Next": "ExtractParallelBranchError"
        }
      ],
      "Default": "CheckSkipDriftDetection"
    },
    "ExtractParallelBranchError": {
      "Type": "Pass",
      "Comment": "Normalize a post-join branch failure into $.error for HandleFailure's States.Format/JsonToString template. Carries both branch statuses + each branch's recorded error so the FAILED SNS alert names which branch(es) failed and which completed (drives the recovery skip-set: a completed branch is skipped on the re-run). Mirrors the existing Extract*Error \u2192 HandleFailure convention; no new error channel.",
      "Parameters": {
        "phase": "ResearchPredictorParallel",
        "source": "CheckBranchOutcomes",
        "branch_a_status.$": "$.branch_outcomes.branch_a_status",
        "branch_b_status.$": "$.branch_outcomes.branch_b_status",
        "branch_a.$": "$.parallel_result[0].branch_a",
        "branch_b.$": "$.parallel_result[1].branch_b"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "CheckSkipDriftDetection": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_drift_detection\": true} bypasses drift detection and jumps to Backtester's skip-gate.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_drift_detection",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_drift_detection",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipBacktester"
        }
      ],
      "Default": "DriftDetection"
    },
    "DriftDetection": {
      "Type": "Task",
      "Comment": "Feature + prediction drift check on spot EC2 (non-blocking). Micro is the dispatcher; launcher clones data + predictor on a fresh spot, runs monitoring.drift_detector, terminates.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main','cd /home/ec2-user/alpha-engine-data','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug drift-detection --log /var/log/drift-detection.log -- bash infrastructure/spot_drift_detection.sh{}',$.preflight_args))",
          "executionTimeout": [
            "1200"
          ]
        },
        "TimeoutSeconds": 1200
      },
      "TimeoutSeconds": 1260,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Drift detection is non-blocking \u2014 continue to backtester",
          "Next": "CheckSkipBacktester",
          "ResultPath": "$.drift_error"
        }
      ],
      "ResultPath": "$.drift_result",
      "Next": "CheckSkipBacktester"
    },
    "CheckSkipBacktester": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_backtester\": true} bypasses BOTH the Backtester (backtest stage) and Parity states \u2014 it routes straight to CheckSkipEvaluator, skipping the whole backtest+parity pair (the parity stage was split into its own Parity SF state by the preflight-task-split 2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md; skip_backtester retains its original whole-pair semantics for backward compat). The Evaluator state still runs and gracefully degrades on missing same-cohort artifacts (evaluate.py logs a WARNING and continues \u2014 verified against the 2026-05-07 v1 validation run, where `Simulation artifact not found in S3: backtest/2026-05-07/sweep_df.parquet \u2014 evaluator will run without it` shows up cleanly). Routes to CheckSkipEvaluator so {\"skip_evaluator\": true} composes orthogonally: (a) neither flag \u2192 backtest+parity+evaluator run, (b) skip_backtester only \u2192 Evaluator runs against any pre-existing backtest/{date}/ artifacts, (c) skip_evaluator only \u2192 backtest+parity run without grading, (d) both \u2192 all skipped. To skip ONLY parity (keep the backtest), use {\"skip_parity\": true} on the new CheckSkipParity gate. Eval-judge chain downstream is preserved in all cases via CheckSkipEvaluator \u2192 CheckSkipEvalJudge (the 2026-05-03 silent-bypass fix is still pinned \u2014 both CheckSkipEvaluator paths converge to CheckSkipEvalJudge). The legacy {\"freeze_evaluator\": true} input is not honored; freeze-evaluator is a spot CLI flag (--freeze-evaluator) invoked manually outside the SF.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_backtester",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_backtester",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipEvaluator"
        }
      ],
      "Default": "Backtester"
    },
    "Backtester": {
      "Type": "Task",
      "Comment": "Backtest SIMULATION-ONLY stage (10y simulate + param sweep) on spot instance, after predictor training. L4472 phase-split (2026-05-31, ROADMAP L4472): the monolithic Backtester state ran simulate+param_sweep+predictor-backtest+Phase4+optimizer/cov/gamma in ONE SSM command whose SUMMED runtime exceeded the SSM execution timeout on a fresh date (L4470). This state now runs ONLY the simulation pipeline via --mode=param-sweep; the predictor-backtest+Phase4 block runs in the new PredictorBacktest state and the optimizer/cov/gamma block in PortfolioOptimizerBacktest, each with its own SSM timeout + independent redrive. --no-pit-parity here so pit_parity runs exactly once (in PredictorBacktest, where it belongs). State name kept as Backtester (lower-churn \u2014 preserves DriftDetection's Next/Catch edges + skip_backtester gate semantics; skip_backtester still skips the whole backtest-family by routing past CheckSkipParity to CheckSkipEvaluator). Mirrors the 2026-05-07/05-16 simulate/parity/evaluator split precedent (plans evaluator-split-260507.md + preflight-task-split-260516.md). All states key off the same backtest/{date}/ S3 prefix. If this state fails, PredictorBacktest is NOT entered (preserves the 4/24 anti-auto-promote-garbage rule).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "7200"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug backtester --log /var/log/backtester.log -- bash infrastructure/spot_backtest.sh --mode=param-sweep --no-pit-parity --skip-stages=parity,evaluator{}',$.preflight_args))"
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_result",
      "Next": "WaitForBacktester"
    },
    "WaitForBacktester": {
      "Type": "Task",
      "Comment": "Poll SSM command until backtester complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.backtester_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_poll",
      "Next": "CheckBacktesterStatus"
    },
    "CheckBacktesterStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Success",
          "Next": "PredictorBacktest"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "InProgress",
          "Next": "BacktesterWait"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Pending",
          "Next": "BacktesterWait"
        }
      ],
      "Default": "ExtractBacktesterError"
    },
    "BacktesterWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForBacktester"
    },
    "PredictorBacktest": {
      "Type": "Task",
      "Comment": "Predictor-backtest + Phase 4a/b/c stage on a fresh spot SSM command, after the simulation-only Backtester state. L4472 phase-split (2026-05-31): runs spot_backtest.sh --mode=predictor-backtest, which executes the predictor_pipeline (GBM inference + 10y ArcticDB read + predictor param sweep) and Phase 4a/b/c — the block that, bundled with simulate + the optimizer sweeps in the old single Backtester state, summed past the SSM execution timeout on a fresh date (L4470). pit_parity runs HERE (default ON; Backtester + PortfolioOptimizerBacktest pass --no-pit-parity) so the observational walk-forward parity fires exactly once. Reads the backtest/{date}/ artifacts the Backtester state just wrote and writes its own predictor_sweep_df.parquet + predictor_stats.json to the same prefix. Per the L4472 executor-apply fix (backtester backtest.py::_run_predictor_pipeline gated on mode==all), this --mode=predictor-backtest run does NOT write the from_executor_optimizer.json recommendation artifact — the Backtester (param-sweep) state is its sole writer, so the assembler sees sim-based executor params (monolithic semantics preserved). If this state fails, PortfolioOptimizerBacktest is NOT entered (anti-auto-promote-garbage).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "7200"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug predictor-backtest --log /var/log/predictor-backtest.log -- bash infrastructure/spot_backtest.sh --mode=predictor-backtest --no-pit-parity --skip-stages=parity,evaluator{}',$.preflight_args))"
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry). Mirrors Backtester retry posture."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_backtest_result",
      "Next": "WaitForPredictorBacktest"
    },
    "WaitForPredictorBacktest": {
      "Type": "Task",
      "Comment": "Poll SSM command until predictor-backtest complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.predictor_backtest_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.predictor_backtest_poll",
      "Next": "CheckPredictorBacktestStatus"
    },
    "CheckPredictorBacktestStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.predictor_backtest_poll.Status",
          "StringEquals": "Success",
          "Next": "PortfolioOptimizerBacktest"
        },
        {
          "Variable": "$.predictor_backtest_poll.Status",
          "StringEquals": "InProgress",
          "Next": "PredictorBacktestWait"
        },
        {
          "Variable": "$.predictor_backtest_poll.Status",
          "StringEquals": "Pending",
          "Next": "PredictorBacktestWait"
        }
      ],
      "Default": "ExtractPredictorBacktestError"
    },
    "PredictorBacktestWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForPredictorBacktest"
    },
    "PortfolioOptimizerBacktest": {
      "Type": "Task",
      "Comment": "Portfolio-optimizer block (portfolio_optimizer_gate + cov_estimator_sweep + gamma_sweep) on a fresh spot SSM command, after PredictorBacktest. L4472 phase-split (2026-05-31): runs spot_backtest.sh --mode=portfolio-optimizer-backtest. Each of these three phases re-runs the predictor pipeline (GBM inference + 10y ArcticDB read) internally; bundled with simulate + predictor-backtest in the old single state their summed runtime blew the SSM execution timeout on a fresh date (L4470). --no-pit-parity (pit_parity already ran in PredictorBacktest). Reads/writes the same backtest/{date}/ prefix. On Success routes to CheckSkipParity so the downstream Parity -> Evaluator chain is unchanged. If this state fails, Parity is NOT entered (anti-auto-promote-garbage).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "7200"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug portfolio-optimizer --log /var/log/portfolio-optimizer.log -- bash infrastructure/spot_backtest.sh --mode=portfolio-optimizer-backtest --no-pit-parity --skip-stages=parity,evaluator{}',$.preflight_args))"
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout — handles spot interruption (new instance on retry). Mirrors Backtester retry posture."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.portfolio_optimizer_result",
      "Next": "WaitForPortfolioOptimizerBacktest"
    },
    "WaitForPortfolioOptimizerBacktest": {
      "Type": "Task",
      "Comment": "Poll SSM command until portfolio-optimizer block complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.portfolio_optimizer_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.portfolio_optimizer_poll",
      "Next": "CheckPortfolioOptimizerBacktestStatus"
    },
    "CheckPortfolioOptimizerBacktestStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.portfolio_optimizer_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipParity"
        },
        {
          "Variable": "$.portfolio_optimizer_poll.Status",
          "StringEquals": "InProgress",
          "Next": "PortfolioOptimizerBacktestWait"
        },
        {
          "Variable": "$.portfolio_optimizer_poll.Status",
          "StringEquals": "Pending",
          "Next": "PortfolioOptimizerBacktestWait"
        }
      ],
      "Default": "ExtractPortfolioOptimizerBacktestError"
    },
    "PortfolioOptimizerBacktestWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForPortfolioOptimizerBacktest"
    },
    "CheckSkipParity": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_parity\": true} bypasses ONLY the Parity state (backtester\u2194executor parity check) and routes to CheckSkipEvaluator \u2014 the completed backtest artifacts stay intact and Evaluator still runs against them. Missing flag = run as normal. Parity was split out of the old combined Backtester state by the preflight-task-split (2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md): backtest (~121 min) and parity are independent preflight-bearing actions, so a parity failure must never re-run the 121-min backtest. To skip the whole backtest+parity pair, use {\"skip_backtester\": true} on CheckSkipBacktester instead. Mirrors the skip_backtester / skip_evaluator shape.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_parity",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_parity",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipEvaluator"
        }
      ],
      "Default": "Parity"
    },
    "Parity": {
      "Type": "Task",
      "Comment": "Backtester\u2194executor parity check on spot instance, after the backtest stage. Split out of the old combined Backtester state by the preflight-task-split (2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md): backtest (~121 min, 10y simulate + param sweep) and parity are independent preflight-bearing actions, so a parity failure must never re-run the 121-min backtest. spot_backtest.sh is invoked with --skip-stages=backtest,evaluator so this state runs ONLY the parity stage, reading the same backtest/{date}/ S3 prefix the Backtester state just wrote. ~7 min extra spot bootstrap vs the prior bundled design \u2014 accepted in exchange for never re-paying the 121-min backtest on a parity redrive. Timeout/heartbeat budget copied from the old combined Backtester state (not under-sized \u2014 same Retry/Catch/Timeout pattern). If this state fails, Evaluator is NOT entered (preserves the 4/24 anti-auto-promote-garbage rule).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "7200"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug parity --log /var/log/parity.log -- bash infrastructure/spot_backtest.sh --pit-parity-enabled=1 --skip-stages=backtest,evaluator{}',$.preflight_args))"
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.parity_result",
      "Next": "WaitForParity"
    },
    "WaitForParity": {
      "Type": "Task",
      "Comment": "Poll SSM command until parity complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.parity_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.parity_poll",
      "Next": "CheckParityStatus"
    },
    "CheckParityStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parity_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipEvaluator"
        },
        {
          "Variable": "$.parity_poll.Status",
          "StringEquals": "InProgress",
          "Next": "ParityWait"
        },
        {
          "Variable": "$.parity_poll.Status",
          "StringEquals": "Pending",
          "Next": "ParityWait"
        }
      ],
      "Default": "ExtractParityError"
    },
    "ParityWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForParity"
    },
    "CheckSkipEvaluator": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_evaluator\": true} bypasses ONLY the Evaluator state (evaluate.py against today's backtest+parity artifacts) and routes to SaturdayHealthCheck. Post-2026-05-07 reorder, the eval-judge chain runs BEFORE predictor (after DataPhase2), so by the time we reach this skip-gate, judge results are already in S3 and Evaluator either consumed them (default path) or is being skipped. To skip the entire backtester+evaluator pair, use {\"skip_backtester\": true} on CheckSkipBacktester instead.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_evaluator",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_evaluator",
              "BooleanEquals": true
            }
          ],
          "Next": "SaturdayHealthCheck"
        }
      ],
      "Default": "Evaluator"
    },
    "Evaluator": {
      "Type": "Task",
      "Comment": "Evaluator on a separate spot instance (split from Backtester 2026-05-07 \u2014 plan: alpha-engine-docs/private/evaluator-split-260507.md). Reads s3://alpha-engine-research/backtest/{RUN_DATE}/ artifacts produced by the prior Backtester state and runs evaluate.py --mode all --upload, which sends the per-signal grading email and auto-applies optimizer configs. Reuses spot_backtest.sh with --skip-stages=backtest,parity; the script is the canonical dispatch surface (existing CSV vocabulary). Live-apply mode by default; for diagnostic-only off-cycle runs, invoke spot_backtest.sh manually with --freeze-evaluator and --skip-stages=backtest,parity.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "3600"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('/home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m alpha_engine_lib.ssm_log_capture run --slug evaluator --log /var/log/evaluator.log -- bash infrastructure/spot_backtest.sh --skip-stages=backtest,parity{}',$.preflight_args))"
        },
        "TimeoutSeconds": 3600
      },
      "TimeoutSeconds": 3660,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry). Mirrors Backtester retry posture for symmetry."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.evaluator_result",
      "Next": "WaitForEvaluator"
    },
    "WaitForEvaluator": {
      "Type": "Task",
      "Comment": "Poll SSM command until evaluator complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.evaluator_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.evaluator_poll",
      "Next": "CheckEvaluatorStatus"
    },
    "CheckEvaluatorStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Success",
          "Next": "SaturdayHealthCheck"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "InProgress",
          "Next": "EvaluatorWait"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Pending",
          "Next": "EvaluatorWait"
        }
      ],
      "Default": "ExtractEvaluatorError"
    },
    "EvaluatorWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForEvaluator"
    },
    "SaturdayHealthCheck": {
      "Type": "Task",
      "Comment": "Check data freshness after full pipeline \u2014 non-blocking (alerts on failure but does not halt). Runs from alpha-engine-dashboard post-2026-04-16 health_checker migration.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-dashboard pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "trap 'aws s3 cp /var/log/health-check.log \"s3://alpha-engine-research/_ssm_logs/health-check/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python health_checker.py --alert 2>&1 | tee /var/log/health-check.log"
          ],
          "executionTimeout": [
            "60"
          ]
        },
        "TimeoutSeconds": 60
      },
      "TimeoutSeconds": 90,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Health check failure is non-blocking \u2014 continue to notify",
          "Next": "NotifyComplete",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_result",
      "Next": "WaitForSaturdayHealthCheck"
    },
    "WaitForSaturdayHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.health_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Non-blocking \u2014 continue to substrate check even if freshness polling fails. SaturdayHealthCheck (artifact freshness) and WeeklySubstrateHealthCheck (row-driven inventory validation) are independent observability paths; both must run.",
          "Next": "WeeklySubstrateHealthCheck",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_poll",
      "Next": "WeeklySubstrateHealthCheck"
    },
    "WeeklySubstrateHealthCheck": {
      "Type": "Task",
      "Comment": "Phase 2 \u2192 3 transparency-substrate health check. Validates every row of the transparency inventory (alpha-engine-lib transparency_inventory.yaml) \u2014 agent decisions, predictor decisions, trade lineage, risk events, P&L attribution, config changes, data quality, agent quality, pipeline execution. Per-row CloudWatch metrics emit to AlphaEngine/Substrate so individual rows have their own alarms. Non-blocking (alerts on failure but does not halt pipeline) \u2014 same pattern as SaturdayHealthCheck. The Sat SF passes --cadence weekly which sweeps weekly + daily rows; the weekday EOD SF runs --cadence daily on the daily-only subset (PR #178 \u2014 DailySubstrateHealthCheck state).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-dashboard pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "pip install --quiet --upgrade -r requirements.txt",
            "trap 'aws s3 cp /var/log/substrate-health-check.log \"s3://alpha-engine-research/_ssm_logs/substrate-health-check/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python -m alpha_engine_lib.transparency --cadence weekly --alert 2>&1 | tee /var/log/substrate-health-check.log",
            "echo '--- constituents drift check ---' | tee -a /var/log/substrate-health-check.log",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data && /home/ec2-user/alpha-engine-dashboard/.venv/bin/python -m validators.constituents_drift_check 2>&1 | tee -a /var/log/substrate-health-check.log || true"
          ],
          "executionTimeout": [
            "240"
          ]
        },
        "TimeoutSeconds": 180
      },
      "TimeoutSeconds": 240,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Substrate check failure is non-blocking \u2014 continue to notify. Per-row CloudWatch alarms catch row-level failures; this Catch only fires on infra/SSM failure.",
          "Next": "NotifyComplete",
          "ResultPath": "$.substrate_check_error"
        }
      ],
      "ResultPath": "$.substrate_check_result",
      "Next": "WaitForWeeklySubstrateHealthCheck"
    },
    "WaitForWeeklySubstrateHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.substrate_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException",
            "Ssm.InvocationDoesNotExist"
          ],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Non-blocking \u2014 continue even if polling fails. Row-level alarms still page on failure regardless of polling outcome.",
          "Next": "NotifyComplete",
          "ResultPath": "$.substrate_check_error"
        }
      ],
      "ResultPath": "$.substrate_check_poll",
      "Next": "ReportCard"
    },
    "ReportCard": {
      "Type": "Task",
      "Comment": "Evaluator Report Card v2 (Layer B, Option B) — builds s3://alpha-engine-research/evaluator/{date}/report_card.json from the persisted per-module artifacts (the 7-tile MetricRecord substrate the Director will consume). Runs here, after the Evaluator + substrate health checks, so it reads fresh grades. NON-FATAL: its own Catch routes to CheckShellRunNotify so an advisory grading failure never breaks the run that produced the real trading artifacts. PREFLIGHT-AWARE (ROADMAP L4504): dry_run.$=$.research_dry (the canonical shell-run-dry signal — false on the real Saturday run, true on the Friday-PM Preflight Pipeline). On the preflight the handler still exercises the full read+compute path (container boot, lib/numpy/pandas imports, S3-read IAM/transport, the tile compute) but does NOT persist the degenerate, mostly-N/A preflight card — mirrors how the other advisory Lambdas (eval-judge / rationale-clustering / replay-concordance / counterfactual) run dry rather than skip, per the shell-run keystone's 'dry-execute, don't skip' principle.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-evaluator:live",
        "Payload": {
          "date.$": "$.run_date",
          "dry_run.$": "$.research_dry"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Advisory grading is non-fatal — continue to the terminal notify regardless.",
          "Next": "CheckShellRunNotify",
          "ResultPath": "$.report_card_error"
        }
      ],
      "ResultPath": "$.report_card_result",
      "Next": "Director"
    },
    "Director": {
      "Type": "Task",
      "Comment": "Director (Layer C, Part II) — the FINAL Saturday-SF task. A single structured Opus call over the fresh Report Card v2 (evaluator/{date}/report_card.json) produces an advisory DirectorWeeklyActionPlan at director/{date}/action_plan.json + updates the carry-over ledger. Runs only after a SUCCESSFUL ReportCard (a failed ReportCard skips straight to notify — no card to weigh). FLAG-GATED: the alpha-engine-evaluator-director Lambda is a no-op (status=disabled) until DIRECTOR_ENABLED is flipped on. NON-FATAL: its own Catch routes to CheckShellRunNotify so an advisory failure never breaks the run that produced the real trading artifacts. PREFLIGHT-AWARE (ROADMAP L4504): dry_run.$=$.research_dry. On the Friday-PM Preflight Pipeline (research_dry=true) the handler runs a no-Opus / no-write PROBE — it constructs the real Opus client (exercising the langchain-anthropic import + the SSM ANTHROPIC_API_KEY fetch / ReadAnthropicSecret IAM grant) and reads the carry-over ledger, then STOPS short of the paid .invoke() and writes NOTHING (no action_plan, no ledger mutation). This is load-bearing: the carry-over ledger is shared + non-date-scoped (director/carryover_ledger.json), so a preflight write would pollute the real Saturday run. A broken import / revoked key grant surfaces as a caught preflight failure ~18h before the real Saturday Director would hit it.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-evaluator-director:live",
        "Payload": {
          "date.$": "$.run_date",
          "dry_run.$": "$.research_dry"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 30,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Advisory Director is non-fatal — continue to the terminal notify regardless.",
          "Next": "CheckShellRunNotify",
          "ResultPath": "$.director_error"
        }
      ],
      "ResultPath": "$.director_result",
      "Next": "CheckShellRunNotify"
    },
    "CheckShellRunNotify": {
      "Type": "Choice",
      "Comment": "Consolidated Friday-PM shell-run result notify. Reuses the EXISTING NotifyComplete SNS-publish substrate (same alpha-engine-alerts topic, same arn:aws:states:::sns:publish Resource) with a shell_run-tagged Subject/Message so the operator can tell a Friday dry-pass result apart from a real Saturday SUCCESS in their inbox. shell_run absent/false \u2192 NotifyComplete (BYTE-IDENTICAL to pre-spine). shell_run=true \u2192 NotifyShellRunComplete. No new SNS topic / Lambda / infra \u2014 the consolidated per-state pass/fail report (ROADMAP design point 5) is a scoped follow-on; the spine delivers a single shell-run-tagged success signal by reusing NotifyComplete's pattern.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.shell_run",
              "IsPresent": true
            },
            {
              "Variable": "$.shell_run",
              "BooleanEquals": true
            }
          ],
          "Next": "NotifyShellRunComplete"
        }
      ],
      "Default": "NotifyComplete"
    },
    "NotifyShellRunComplete": {
      "Type": "Task",
      "Comment": "Friday-PM Preflight Pipeline success notification via SNS. Mirrors NotifyComplete exactly (same topic, Resource, ResultPath, End) with a 'Saturday Preflight Pipeline' Subject so a green Friday dry-pass is distinguishable from a real Saturday SUCCESS in the operator inbox. The 'Preflight' label is the consumer-facing rename of what was internally called 'shell run' (2026-05-23 rename per Brian directive: the operational meaning is preflight validation of the Saturday SF; 'shell run' was internal mechanism-language that obscured the intent in alerts). A FAILED Preflight run still routes through HandleFailure, which now also surfaces 'Saturday Preflight Pipeline \u2014 FAILED' Subject via States.Format($.pipeline_label) \u2014 see HandleFailure's parameterized Subject.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Preflight Pipeline \u2014 SUCCESS",
        "Message": "Friday-PM Preflight Pipeline of the Saturday SF completed: all workload states ran in --preflight-only / dry mode, health/substrate checks ran. No Saturday-fatal bootstrap break detected for tomorrow's 02:00 PT real run. Check dashboard / execution history for per-state detail."
      },
      "ResultPath": "$.notify_result",
      "End": true
    },
    "NotifyComplete": {
      "Type": "Task",
      "Comment": "Success notification via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline \u2014 SUCCESS",
        "Message": "All steps completed successfully. Check dashboard for results."
      },
      "ResultPath": "$.notify_result",
      "End": true
    },
    "ExtractMorningEnrichError": {
      "Type": "Pass",
      "Comment": "Normalize MorningEnrich SSM non-Success poll into $.error. Mirrors ExtractDataPhase1Error \u2014 the soft-failure path from CheckMorningEnrichStatus.Default does not populate $.error, only Task Catch blocks do.",
      "Parameters": {
        "phase": "MorningEnrich",
        "source": "CheckMorningEnrichStatus.Default",
        "poll.$": "$.morning_enrich_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractDataPhase1Error": {
      "Type": "Pass",
      "Comment": "Normalize DataPhase1 SSM non-Success poll into $.error so HandleFailure's States.Format template has something to serialize (the soft-failure path from CheckDataPhase1Status.Default does not populate $.error \u2014 only Task Catch blocks do).",
      "Parameters": {
        "phase": "DataPhase1",
        "source": "CheckDataPhase1Status.Default",
        "poll.$": "$.data_phase1_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractRAGIngestionError": {
      "Type": "Pass",
      "Comment": "Normalize RAGIngestion SSM non-Success poll into $.error. Mirrors ExtractDataPhase1Error \u2014 the soft-failure path from CheckRAGIngestionStatus.Default does not populate $.error, only Task Catch blocks do.",
      "Parameters": {
        "phase": "RAGIngestion",
        "source": "CheckRAGIngestionStatus.Default",
        "poll.$": "$.rag_ingestion_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractBacktesterError": {
      "Type": "Pass",
      "Comment": "Normalize Backtester SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Backtester",
        "source": "CheckBacktesterStatus.Default",
        "poll.$": "$.backtester_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractParityError": {
      "Type": "Pass",
      "Comment": "Normalize Parity SSM non-Success poll into $.error. Mirrors ExtractBacktesterError \u2014 the soft-failure path from CheckParityStatus.Default does not populate $.error, only Task Catch blocks do.",
      "Parameters": {
        "phase": "Parity",
        "source": "CheckParityStatus.Default",
        "poll.$": "$.parity_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractPredictorBacktestError": {
      "Type": "Pass",
      "Comment": "Normalize PredictorBacktest SSM non-Success poll into $.error. Mirrors ExtractBacktesterError \u2014 the soft-failure path from CheckPredictorBacktestStatus.Default does not populate $.error, only Task Catch blocks do. Added by the L4472 phase-split.",
      "Parameters": {
        "phase": "PredictorBacktest",
        "source": "CheckPredictorBacktestStatus.Default",
        "poll.$": "$.predictor_backtest_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractPortfolioOptimizerBacktestError": {
      "Type": "Pass",
      "Comment": "Normalize PortfolioOptimizerBacktest SSM non-Success poll into $.error. Mirrors ExtractBacktesterError \u2014 the soft-failure path from CheckPortfolioOptimizerBacktestStatus.Default does not populate $.error, only Task Catch blocks do. Added by the L4472 phase-split.",
      "Parameters": {
        "phase": "PortfolioOptimizerBacktest",
        "source": "CheckPortfolioOptimizerBacktestStatus.Default",
        "poll.$": "$.portfolio_optimizer_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractEvaluatorError": {
      "Type": "Pass",
      "Comment": "Normalize Evaluator SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Evaluator",
        "source": "CheckEvaluatorStatus.Default",
        "poll.$": "$.evaluator_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS \u2014 pipeline halts. Subject + Message are parameterized via States.Format on $.pipeline_label so a Preflight Pipeline failure surfaces 'Saturday Preflight Pipeline \u2014 FAILED' (shell_run=true \u2192 ApplyShellRunDefaults sets $.pipeline_label=' Preflight') while a real Saturday SF failure surfaces 'Saturday Pipeline \u2014 FAILED' ($.pipeline_label='' from InitializeInput defaults). 2026-05-23 rename arc: 'shell_run' is internal mechanism-language; alerts surface the user-facing 'Preflight' label.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject.$": "States.Format('Alpha Engine Saturday{} Pipeline \u2014 FAILED', $.pipeline_label)",
        "Message.$": "States.Format('Saturday{} Pipeline failed. Error: {}. Use Step Functions console to redrive from failed step.', $.pipeline_label, States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },
    "FailExecution": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline steps failed. Check CloudWatch logs and redrive from the Step Functions console."
    }
  }
}