infrastructure/step_function_groom.json
{
  "Comment": "Backlog groom dispatch (config#1472, restructured config#2129, end-of-SF sweep config#2201) — wraps the EventBridge Scheduler -> Lambda -> EC2-spot-via-SSM dispatch chain in a Step Function so the fleet's existing Fleet-SF Watch resilience/observability agent covers groom runs the SAME way it covers the Saturday/weekday/EOD pipelines. config#2129 TWO-PHASE REDESIGN: the OLD version invoked the scheduled-groom-dispatcher Lambda ONCE per trigger and tried to poll a SINGLE CommandId/InstanceId — that worked for a single-tier launch, but config#1933's 'demand-all' symmetric triggers made ALL 3 tiers co-launch on every recorded trigger (2026-07-08..10), and the Lambda's demand-all response is a `launches: [...]` ARRAY with no top-level launched/instance_id/command_id. CheckLaunched/PollGroomCommand's Choice/Task Parameters referenced that missing singular shape and failed with States.Runtime on ~83% of real triggers (5 of the last 6 executions checked 2026-07-10) — the SF reported FAILED (or never even reached PollGroomCommand) on runs where the real EC2 boxes launched and worked FINE; Fleet-SF-Watch had zero real visibility into them. This is now: DecideLaunches (Lambda op=decide_only — enumerate + decide WITHOUT launching, returns 0..3 launch decisions) -> CheckAnyLaunches -> a Map state, ONE ITERATION PER DECISION, each independently launching (Lambda op=launch_decided) and polling via the SAME per-box states the old single-launch design already had (LaunchGroomSpot/PollGroomCommand/CheckGroomStatus/.../GroomSucceeded/GroomSkipped/FailExecution, now scoped inside the Map's ItemProcessor instead of the top level). A Standard Map state's default semantics (ToleratedFailurePercentage=0) mean ANY iteration reaching its own FailExecution fails the whole Map — and hence the whole SF execution — which is the correct 'fail loud' extension of the old single-box behavior to N co-launched boxes. config#1645's bounded auto-relaunch (spot-interruption recovery via the S3 completion-marker check) is UNCHANGED, just now per-iteration instead of per-execution — each co-launched tier can independently die mid-run and independently relaunch up to max_retries times without affecting its siblings. config#2201 END-OF-SF SWEEP (Brian design 2026-07-10): after the Map fully winds down — and equally on the zero-launches path — a final DispatchEndOfSfSweep state launches ONE Haiku run_mode=sweep spot box covering the full org PR set. This replaces the config#2129 per-box partitioned sweeps (the partition machinery is retired in the dispatcher + config driver): sweeps now run unconditionally every trigger cycle (the drain-the-backlog end state can never starve them) and AFTER all groomers finish (catching the PRs they just opened). The sweep dispatch is fire-and-forget (no polling loop — Brian removed the wait): a sweep-launch failure is RECORDED in the execution output + SNS-notified but never fails the SF (the groom boxes are the primary deliverable; the next trigger's sweep covers the tail).",
  "StartAt": "InitRunState",
  "States": {
    "InitRunState": {
      "Type": "Pass",
      "Comment": "Seed schedInput (the raw EventBridge Scheduler input, e.g. {run_mode, trigger, pr_budget, schedule} — unchanged contract) and a literal decide_only marker merged into DecideLaunches's Payload below (States.JsonMerge arguments must be real JSONPaths, so the literal lives here rather than inline in the merge call).",
      "Parameters": {
        "schedInput.$": "$",
        "decideMarker": {"decide_only": true}
      },
      "Next": "DecideLaunches"
    },
    "DecideLaunches": {
      "Type": "Task",
      "Comment": "config#2129: invoke the Lambda's NEW decide_only operation — enumerates the backlog (or applies the pre-boot pace gate) and returns 0..3 launch DECISIONS without launching anything. Each decision carries model/issue_filter(+pr_budget when applicable) — the config#2129 per-decision sweep-partition fields are retired (config#2201: one end-of-SF sweep box replaces per-box partitioned sweeps). Payload is schedInput merged with the decide_only marker — same pass-through-wrapper contract the old LaunchGroomSpot had, just decide instead of decide-and-launch.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-scheduled-groom-dispatcher",
        "Payload.$": "States.JsonMerge($.schedInput, $.decideMarker, false)"
      },
      "TimeoutSeconds": 360,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "A genuine invoke-level failure (throttle, IAM, unhandled exception) — distinct from a clean 'nothing to launch' decide response (pace-gate skip / demand-gate skip / fail-safe enumeration-error skip), which CheckAnyLaunches below routes to AllSkipped, not here.",
          "Next": "HandleDecideFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.decideResult",
      "Next": "CheckAnyLaunches"
    },
    "CheckAnyLaunches": {
      "Type": "Choice",
      "Comment": "IsPresent on launches[0] is the standard ASL idiom for 'array non-empty' (no native length operator). Empty covers: pace-gate skip, demand-gate skip (light queue), and the fail-safe enumeration-error skip — all clean, zero-spend, non-failure outcomes.",
      "Choices": [
        {
          "Variable": "$.decideResult.Payload.decide.launches[0]",
          "IsPresent": true,
          "Next": "MapLaunches"
        }
      ],
      "Default": "AllSkipped"
    },
    "AllSkipped": {
      "Type": "Pass",
      "Comment": "No tier cleared the demand floor this trigger, OR the pre-boot pace gate skipped, OR enumeration transiently failed (fail-safe skip) — see $.decideResult.Payload.decide.reason (present on the skip shapes; NOT referenced here via JSONPath because a plain light-backlog decide response carries launches:[] with no reason field). Zero groom spot/WET spend; not a failure. config#2201: no longer a terminal Succeed — the zero-launches path MUST still reach DispatchEndOfSfSweep (unconditional sweep coverage is the whole point of the end-of-SF design: the drain-the-backlog end state can never starve the PR sweep).",
      "Result": {"all_skipped": true},
      "ResultPath": "$.allSkipped",
      "Next": "DispatchEndOfSfSweep"
    },
    "MapLaunches": {
      "Type": "Map",
      "Comment": "config#2129: one iteration per launch decision — up to 3 (low/mid/high co-launch is the observed steady state). Each iteration independently launches (op=launch_decided) and runs the FULL per-box lifecycle (launch -> poll -> bounded spot-interruption relaunch -> terminal) that used to be the whole SF's top level. MaxConcurrency=3 matches the real bound (never more than one decision per tier).",
      "ItemsPath": "$.decideResult.Payload.decide.launches",
      "MaxConcurrency": 3,
      "ItemSelector": {
        "schedInput.$": "$.schedInput",
        "launchDecision.$": "$$.Map.Item.Value",
        "retry_count": 0,
        "max_retries": 2,
        "fod": {"force_on_demand": false, "launch_decided": true}
      },
      "ItemProcessor": {
        "ProcessorConfig": {"Mode": "INLINE"},
        "StartAt": "LaunchGroomSpot",
        "States": {
          "LaunchGroomSpot": {
            "Type": "Task",
            "Comment": "config#2129: invoke the Lambda's launch_decided operation with EXACTLY this iteration's already-made decision (model/issue_filter[/pr_budget]) merged with schedInput (run_mode/schedule/soft_limit_min) and fod (force_on_demand + the launch_decided marker, both literal so no pace-gate re-check and no re-decision). Returns the SAME singular {launched, instance_id, command_id, run_token, ...} shape the polling states below already expect.",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "alpha-engine-scheduled-groom-dispatcher",
              "Payload.$": "States.JsonMerge(States.JsonMerge($.schedInput, $.launchDecision, false), $.fod, false)"
            },
            "TimeoutSeconds": 360,
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                "MaxAttempts": 1,
                "IntervalSeconds": 60,
                "BackoffRate": 1.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Comment": "A launch failure (spot+on-demand exhaustion, SSM send failure, etc.) — the Lambda itself already terminates any partially-launched box before re-raising, so no cleanup needed here. Not retried by this SF: an exhausted-on-demand launch failure is a genuine capacity/IAM problem, not the mid-run-interruption case config#1645 handles.",
                "Next": "HandleFailure",
                "ResultPath": "$.error"
              }
            ],
            "ResultPath": "$.groomLaunch",
            "Next": "RelaunchNotifyGate"
          },
          "RelaunchNotifyGate": {
            "Type": "Choice",
            "Comment": "Relaunch-first, notify-second (2026-07-06): only ping SNS after a successful re-launch (retry_count>0). First launch (retry_count==0) skips straight to polling. NotifyRelaunch failures must not block polling — its Catch routes to CheckLaunched.",
            "Choices": [
              {
                "Variable": "$.retry_count",
                "NumericGreaterThan": 0,
                "Next": "NotifyRelaunch"
              }
            ],
            "Default": "CheckLaunched"
          },
          "CheckLaunched": {
            "Type": "Choice",
            "Comment": "GROOM_DISPATCH_ENABLED=false is an intentional kill-switch skip; config#1979's concurrent-same-tier skip is also a clean no-launch — both route to a clean Succeed rather than polling a box that was never launched.",
            "Choices": [
              {
                "Variable": "$.groomLaunch.Payload.groom.launched",
                "BooleanEquals": true,
                "Next": "PollGroomCommand"
              }
            ],
            "Default": "GroomSkipped"
          },
          "PollGroomCommand": {
            "Type": "Task",
            "Comment": "Poll the async SSM command to a terminal state. No attempt-cap/counter here (mirrors the fleet's existing poll-loop convention, e.g. step_function_eod.json's PostMarketData/WaitForPostMarketData) — the underlying command is itself bounded by groom_spot_bootstrap.sh's own hard watchdog (MAX_RUNTIME_SECONDS, default 21600s/6h) plus the spot-orphan-reaper's 6.5h fleet cap, so this loop always resolves to a terminal SSM status without needing its own ceiling.",
            "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
            "Parameters": {
              "CommandId.$": "$.groomLaunch.Payload.groom.command_id",
              "InstanceId.$": "$.groomLaunch.Payload.groom.instance_id"
            },
            "Retry": [
              {
                "ErrorEquals": ["Ssm.InvocationDoesNotExistException", "Ssm.InvocationDoesNotExist"],
                "MaxAttempts": 10,
                "IntervalSeconds": 10,
                "BackoffRate": 1.5
              },
              {
                "ErrorEquals": [
                  "Ssm.SdkClientException",
                  "States.Timeout"
                ],
                "MaxAttempts": 2,
                "IntervalSeconds": 5,
                "BackoffRate": 1.5
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "HandleFailure",
                "ResultPath": "$.error"
              }
            ],
            "ResultSelector": {
              "Status.$": "$.Status",
              "ResponseCode.$": "$.ResponseCode",
              "StatusDetails.$": "$.StatusDetails",
              "CommandId.$": "$.CommandId",
              "InstanceId.$": "$.InstanceId"
            },
            "ResultPath": "$.groomPoll",
            "Next": "CheckGroomStatus"
          },
          "CheckGroomStatus": {
            "Type": "Choice",
            "Comment": "Default (config#1645) routes to CheckCompletionMarker rather than straight to failure — any non-Success/InProgress/Pending/Delayed SSM status (Failed, Cancelled, TimedOut, Undeliverable, ...) might mean 'the box died mid-run', which is potentially recoverable via relaunch, not necessarily a genuine failure.",
            "Choices": [
              {"Variable": "$.groomPoll.Status", "StringEquals": "Success", "Next": "GroomSucceeded"},
              {"Variable": "$.groomPoll.Status", "StringEquals": "InProgress", "Next": "GroomWait"},
              {"Variable": "$.groomPoll.Status", "StringEquals": "Pending", "Next": "GroomWait"},
              {"Variable": "$.groomPoll.Status", "StringEquals": "Delayed", "Next": "GroomWait"}
            ],
            "Default": "CheckCompletionMarker"
          },
          "GroomWait": {
            "Type": "Wait",
            "Seconds": 15,
            "Next": "PollGroomCommand"
          },
          "CheckCompletionMarker": {
            "Type": "Task",
            "Comment": "config#1645: groom_run.sh writes s3://alpha-engine-research/groom/_control/completed/<run_token>.json as the LAST action of every one of its own exit paths (budget-skip / clean success / classified failure). Its existence — regardless of what SSM's own status says — is the authoritative signal that the script reached its own terminal state (and, on a real failure, already self-alerted via Telegram/GH issue). Absence means the box disappeared before the script ever finished: safe and correct to relaunch, since groom_driver.py re-derives its issue queue from live GitHub state each launch (no checkpointing needed).",
            "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
            "Parameters": {
              "Bucket": "alpha-engine-research",
              "Key.$": "States.Format('groom/_control/completed/{}.json', $.groomLaunch.Payload.groom.run_token)"
            },
            "ResultPath": "$.markerCheck",
            "Next": "GroomStatusError",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Comment": "Marker missing (NoSuchKey) OR any other S3 error — conservatively treated the same way: the box's own script never confirmed it finished, so this is the mid-run-death case config#1645 exists to recover from.",
                "Next": "CheckRetryBudget",
                "ResultPath": "$.markerCheckError"
              }
            ]
          },
          "CheckRetryBudget": {
            "Type": "Choice",
            "Comment": "config#1645: marker is absent (box died mid-run) — relaunch if attempts remain, else give up and alert. Bounded to max_retries (2, i.e. up to 3 total launch attempts per iteration) so a genuinely bad AWS day can't spot-cycle indefinitely.",
            "Choices": [
              {
                "Variable": "$.retry_count",
                "NumericLessThanPath": "$.max_retries",
                "Next": "PrepRelaunch"
              }
            ],
            "Default": "GroomRetriesExhausted"
          },
          "PrepRelaunch": {
            "Type": "Pass",
            "Comment": "config#1645: bump the counter for the next attempt (each relaunch calls the Lambda fresh, which mints its own new run_token — the old attempt's absent marker is never confused with the new attempt's). MUST preserve groomPoll/groomLaunch/launchDecision through the relaunch path — NotifyRelaunch (best-effort) and audit trails reference groomPoll/groomLaunch; LaunchGroomSpot's Payload merge references launchDecision on every attempt, not just the first.",
            "Parameters": {
              "schedInput.$": "$.schedInput",
              "launchDecision.$": "$.launchDecision",
              "retry_count.$": "States.MathAdd($.retry_count, 1)",
              "max_retries.$": "$.max_retries",
              "fod.$": "$.fod",
              "groomPoll.$": "$.groomPoll",
              "groomLaunch.$": "$.groomLaunch"
            },
            "Next": "CheckForceOnDemand"
          },
          "CheckForceOnDemand": {
            "Type": "Choice",
            "Comment": "config#1645: if this relaunch is the LAST allowed attempt (retry_count now equals max_retries), force on-demand so a bad spot-capacity window still guarantees completion instead of trying the same flaky market a third time.",
            "Choices": [
              {
                "Variable": "$.retry_count",
                "NumericEqualsPath": "$.max_retries",
                "Next": "SetForceOnDemand"
              }
            ],
            "Default": "LaunchGroomSpot"
          },
          "SetForceOnDemand": {
            "Type": "Pass",
            "Comment": "Final relaunch attempt — escalate to on-demand. Preserves groomPoll/groomLaunch/launchDecision for downstream visibility and the next LaunchGroomSpot's Payload merge.",
            "Parameters": {
              "schedInput.$": "$.schedInput",
              "launchDecision.$": "$.launchDecision",
              "retry_count.$": "$.retry_count",
              "max_retries.$": "$.max_retries",
              "fod": {"force_on_demand": true, "launch_decided": true},
              "groomPoll.$": "$.groomPoll",
              "groomLaunch.$": "$.groomLaunch"
            },
            "Next": "LaunchGroomSpot"
          },
          "NotifyRelaunch": {
            "Type": "Task",
            "Comment": "config#1645: best-effort WARNING-level ping AFTER the relaunch box is already launching (LaunchGroomSpot -> RelaunchNotifyGate -> here). A States.Format intrinsic error in Parameters is NOT catchable (States.Runtime) — groomPoll is preserved through PrepRelaunch/SetForceOnDemand for this message. SNS publish failures ARE catchable and route to CheckLaunched so a notify hiccup never blocks polling the new run.",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "TopicArn": "arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts",
              "Subject": "Alpha Engine Backlog Groom — spot interrupted, auto-relaunching",
              "Message.$": "States.Format('Backlog groom box died mid-run (SSM status={}, no completion marker). Relaunched automatically: attempt {} of {} (force_on_demand={}).', $.groomPoll.Status, $.retry_count, $.max_retries, States.JsonToString($.fod.force_on_demand))"
            },
            "ResultPath": "$.relaunch_notify",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "CheckLaunched",
                "ResultPath": "$.relaunch_notify_error"
              }
            ],
            "Next": "CheckLaunched"
          },
          "GroomStatusError": {
            "Type": "Pass",
            "Comment": "Reached when the completion marker EXISTS despite a non-Success SSM status — groom_run.sh reached its own terminal state (a genuine app-level outcome, already self-alerted via Telegram/GH issue) OR this is the pre-existing SSM shutdown/status-report race (config#1472) where the run actually succeeded. Either way: no relaunch. This iteration still reports FAILED for Fleet-SF-Watch visibility (accurate enough — the rare race-condition false-negative is a pre-existing, separately-tracked residual, not newly introduced here).",
            "Parameters": {
              "source": "groom_status",
              "reason": "marker_present_no_relaunch",
              "status.$": "$.groomPoll.Status",
              "status_details.$": "$.groomPoll.StatusDetails",
              "response_code.$": "$.groomPoll.ResponseCode",
              "command_id.$": "$.groomPoll.CommandId",
              "instance_id.$": "$.groomPoll.InstanceId"
            },
            "ResultPath": "$.error",
            "Next": "HandleFailure"
          },
          "GroomRetriesExhausted": {
            "Type": "Pass",
            "Comment": "config#1645: the completion marker was absent on every attempt (box died mid-run each time) and the bounded relaunch budget (including the forced-on-demand final attempt) is spent — a genuine escalation, not a routine spot hiccup.",
            "Parameters": {
              "source": "groom_status",
              "reason": "spot_interruption_retries_exhausted",
              "status.$": "$.groomPoll.Status",
              "status_details.$": "$.groomPoll.StatusDetails",
              "retry_count.$": "$.retry_count",
              "max_retries.$": "$.max_retries",
              "command_id.$": "$.groomLaunch.Payload.groom.command_id",
              "instance_id.$": "$.groomLaunch.Payload.groom.instance_id"
            },
            "ResultPath": "$.error",
            "Next": "HandleFailure"
          },
          "HandleFailure": {
            "Type": "Task",
            "Comment": "Failure alert via SNS (same topic the fleet SFs already use). No force-stop step is needed here — unlike the persistent trading instance the EOD SF guards, the groom spot box tears itself down via groom_spot_bootstrap.sh's own EXIT trap regardless of what this SF observes; there is no idle-cost risk to guard against.",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "TopicArn": "arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts",
              "Subject": "Alpha Engine Backlog Groom — FAILED",
              "Message.$": "States.Format('Backlog groom dispatch failed. Error: {}', States.JsonToString($.error))"
            },
            "ResultPath": "$.failure_notify",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Comment": "Defense-in-depth: an SNS publish failure must not block the SF from reaching its own FAILED terminal state (which is what Fleet-SF Watch's EventBridge pattern actually listens for).",
                "Next": "FailExecution",
                "ResultPath": "$.failure_notify_error"
              }
            ],
            "Next": "FailExecution"
          },
          "FailExecution": {
            "Type": "Fail",
            "Error": "GroomDispatchFailure",
            "Cause": "Backlog groom dispatch failed for this launch decision — see the SNS alert / groom-spot CloudWatch log group for detail."
          },
          "GroomSucceeded": {
            "Type": "Succeed"
          },
          "GroomSkipped": {
            "Type": "Succeed",
            "Comment": "GROOM_DISPATCH_ENABLED=false kill-switch, or config#1979's concurrent-same-tier skip — intentional no-op, not a failure."
          }
        }
      },
      "ResultPath": "$.mapOutcome",
      "Next": "DispatchEndOfSfSweep"
    },
    "DispatchEndOfSfSweep": {
      "Type": "Task",
      "Comment": "config#2201: ONE Haiku run_mode=sweep spot box per trigger cycle, launched AFTER every groom box has fully wound down (this state is only reached when every Map iteration hit its own GroomSucceeded/GroomSkipped — any FailExecution fails the whole Map, and hence the execution, before reaching here) — and equally via AllSkipped when zero groom boxes launched. Payload is a LITERAL launch_decided event (no pace/demand re-check — the sweep is unconditional by design; issue_filter is inert for run_mode=sweep but the launch path validates it, so the mid-only default is passed explicitly). The dispatcher tags sweep boxes groom-issue-filter=sweep — distinct from every groom tier tag — so its config#1979 concurrent guard skips ONLY when a prior cycle's sweep box is still live (launched:false, reason=concurrent_tier_skip, recorded in $.sweep), never colliding with a live mid-only groom box. Fire-and-forget: the Lambda returns as soon as the async SSM command is delivered; no polling loop here (Brian removed the wait — the sweep box self-terminates and writes its own S3 run artifact + completion marker). NON-FATAL: a sweep-launch failure must never fail the groom SF execution — Catch records it in the execution output (no-silent-caps) + SNS-notifies, then the SF still succeeds.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-scheduled-groom-dispatcher",
        "Payload": {
          "run_mode": "sweep",
          "launch_decided": true,
          "model": "claude-haiku-4-5",
          "issue_filter": "mid-only",
          "schedule": "end-of-sf-sweep"
        }
      },
      "TimeoutSeconds": 360,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Sweep-launch failure (spot+on-demand exhaustion, SSM send failure, Lambda error) — recorded + notified below, NEVER fatal to the groom SF: the groom boxes already ran/skipped cleanly by the time this state executes, and the next trigger cycle's sweep covers the tail. The Lambda itself already terminates any partially-launched box before re-raising.",
          "Next": "RecordSweepDispatchFailure",
          "ResultPath": "$.sweepDispatchError"
        }
      ],
      "ResultPath": "$.sweep",
      "Next": "GroomDispatchComplete"
    },
    "RecordSweepDispatchFailure": {
      "Type": "Pass",
      "Comment": "config#2201 no-silent-caps: shape an explicit dispatched:false record into $.sweep so a skipped sweep is visible in the SF execution output (a cycle that ends with neither a sweep launch record nor this marker is a wiring bug, not a quiet cap). The raw error stays alongside in $.sweepDispatchError.",
      "Parameters": {
        "dispatched": false,
        "reason": "sweep_dispatch_failed",
        "error.$": "$.sweepDispatchError"
      },
      "ResultPath": "$.sweep",
      "Next": "NotifySweepDispatchFailure"
    },
    "NotifySweepDispatchFailure": {
      "Type": "Task",
      "Comment": "Best-effort WARNING ping — the sweep miss must page (no-silent-caps) but must not fail the SF; an SNS publish failure routes straight to the terminal Succeed (the $.sweep record above already persisted into the execution output).",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts",
        "Subject": "Alpha Engine Backlog Groom — end-of-SF PR sweep NOT dispatched",
        "Message.$": "States.Format('End-of-SF PR-sweep box failed to launch (config#2201) — the groom boxes themselves completed/skipped cleanly and this execution still SUCCEEDS, but this cycle has NO PR merge-readiness sweep. Next trigger cycle covers the tail. Error: {}', States.JsonToString($.sweepDispatchError))"
      },
      "ResultPath": "$.sweep_notify",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "GroomDispatchComplete",
          "ResultPath": "$.sweep_notify_error"
        }
      ],
      "Next": "GroomDispatchComplete"
    },
    "GroomDispatchComplete": {
      "Type": "Succeed",
      "Comment": "Terminal success for BOTH paths (config#2201): every co-launched iteration reached its own GroomSucceeded/GroomSkipped (a Standard Map state's default ToleratedFailurePercentage=0 means ANY iteration reaching its own FailExecution fails the whole Map — and hence this whole execution — instead, the correct 'fail loud' extension of the old single-box behavior to N co-launched boxes), OR the zero-launches AllSkipped path — and in EITHER case the end-of-SF sweep dispatch was attempted, with its outcome recorded in $.sweep (launched box, concurrent-sweep skip, kill-switch skip, or dispatched:false failure record)."
    },
    "HandleDecideFailure": {
      "Type": "Task",
      "Comment": "Top-level failure alert — reached ONLY by DecideLaunches's Catch (a genuine invoke-level failure computing the decision itself, before any box exists). Per-iteration launch/poll/relaunch failures use their OWN copy of HandleFailure/FailExecution inside MapLaunches's ItemProcessor, scoped to that one tier — ASL requires globally-unique state names even across a Map's nested ItemProcessor, hence the distinct Decide-prefixed names here.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts",
        "Subject": "Alpha Engine Backlog Groom — FAILED",
        "Message.$": "States.Format('Backlog groom dispatch decide-phase failed. Error: {}', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Comment": "Defense-in-depth: an SNS publish failure must not block the SF from reaching its own FAILED terminal state (which is what Fleet-SF Watch's EventBridge pattern actually listens for).",
          "Next": "DecideFailExecution",
          "ResultPath": "$.failure_notify_error"
        }
      ],
      "Next": "DecideFailExecution"
    },
    "DecideFailExecution": {
      "Type": "Fail",
      "Error": "GroomDispatchFailure",
      "Cause": "Backlog groom dispatch failed during the decide phase — see the SNS alert / Lambda logs for detail."
    }
  }
}
