infrastructure/step_function.json
{
  "Comment": "Alpha Engine Saturday Pipeline \u2014 orchestrates weekly data collection, RAG ingestion, research, eval-judge + agent-justification triple, predictor training, backtesting, and evaluation sequentially with fail-fast error handling. MorningEnrich, DataPhase1 and RAGIngestion are independent SF states (RAG split 2026-05-06 after a RAG-side import bug failed under the DataPhase1 label, masking that the data layer was healthy; MorningEnrich split out of DataPhase1 2026-05-16 by the preflight-task-split so a phase1 failure never re-runs the completed ~28-min morning-enrich \u2014 plan alpha-engine-docs/private/preflight-task-split-260516.md). Backtester and Evaluator are independent SF states (split 2026-05-07 \u2014 plan: alpha-engine-docs/private/evaluator-split-260507.md \u2014 for failure isolation, per-stage email, and independent CW heartbeats). The eval-judge chain (EvalJudge \u2192 EvalRollingMean \u2192 RationaleClustering \u2192 ReplayConcordance \u2192 Counterfactual) runs after DataPhase2 and BEFORE PredictorTraining (reorder shipped 2026-05-07 evening) so its persisted S3 artifacts (decision_artifacts/_eval/, _clustering/, _concordance/, _counterfactual/) are available when Evaluator generates the weekly email \u2014 pre-reorder the judge chain ran AFTER Evaluator, so its results were never visible in the operator's primary review surface. Each spot-bearing state runs on its own spot \u2014 accepts +1 bootstrap cycle (~7 min) per split in exchange for failure isolation, redrive granularity, and per-step health markers. RAG still runs before Research so the knowledge base is fresh. Judge chain only reads decision_artifacts/ written by Research, so it has no dependency on Predictor or Backtester output. Backtester runs AFTER predictor training (depends on model weights); Evaluator runs after Backtester (reads same-cohort backtest artifacts). Supports partial execution via boolean skip_* flags on input (e.g. {\"skip_data_phase1\": true, \"skip_rag_ingestion\": true, \"skip_evaluator\": true}); a missing flag is treated as false, so scheduled runs are unaffected.",
  "StartAt": "InitializeInput",
  "States": {
    "InitializeInput": {
      "Type": "Pass",
      "Comment": "Layer defaults under the execution input so manual invocations don't have to pass every field. Scheduled EventBridge runs pass sns_topic_arn + ec2_instance_id explicitly; manual runs for partial-execution testing often omit sns_topic_arn, which previously caused HandleFailure/NotifyComplete to error on missing JSONPath. States.JsonMerge with user-input as the second arg lets explicit values win. | 2026-05-17: also stamps run_date = date($$.Execution.StartTime) so every spot stage of one execution keys backtest/{date}/ off ONE date (fixes the Backtester=05-17 vs Evaluator=05-18 UTC-midnight split). User-passed run_date still wins. | 2026-05-18 (shell-run keystone): also seeds the dry-path control vars at their NON-DRY identity values — preflight_args=\"\" (empty spot-command suffix), research_dry=false, data_phase2_dry=false, regime_action=\"produce\". These exist on EVERY run so the spot States.Format / Lambda Payload .$ references always resolve; on the real Saturday run (no shell_run) they hold these identity values, making every spot command string byte-identical to pre-keystone and every Lambda Payload behaviourally identical (handlers default dry_run_llm/dry_run to false; regime action 'produce' is the pre-keystone hardcoded value). ApplyShellRunDefaults (shell_run=true only) overrides them with the dry values. innermost defaults blob is merged UNDER run_date which is merged UNDER sns_topic_arn which is merged UNDER the user input, so user/ApplyShellRunDefaults values always win.",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.JsonMerge(States.StringToJson('{\"preflight_args\":\"\",\"research_dry\":false,\"data_phase2_dry\":false,\"regime_action\":\"produce\",\"sns_topic_arn\":\"arn:aws:sns:us-east-1:711398986525:alpha-engine-alerts\"}'),States.StringToJson(States.Format('\\{\"run_date\":\"{}\"\\}',States.ArrayGetItem(States.StringSplit($$.Execution.StartTime,'T'),0))),false),$$.Execution.Input,false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckShellRun"
    },
    "CheckShellRun": {
      "Type": "Choice",
      "Comment": "Friday-PM 'shell run' gate (ROADMAP 'Scheduled Friday-PM shell run'; spine landed #258, KEYSTONE landed feat/sf-shell-run-keystone). Input {\"shell_run\": true} (supplied by the DISABLED-by-default Friday EventBridge rule alpha-engine-friday-shell-run) routes to ApplyShellRunDefaults, which now sets the dry-path control vars (preflight_args=\" --preflight-only\" for the 7 spot states, Lambda dry flags for Research/DataPhase2/RegimeSubstrate/RegimeRetrospectiveEval) and hard-skips ONLY the 5 documented no-clean-dry-path exceptions — so the Friday run BOOTS + DRY-EXECUTES the workload instead of pure-skipping it (the keystone's whole point: exercise the real bootstrap/import/lib-pin/transport paths). shell_run absent OR false routes straight to CheckSkipMorningEnrich — BYTE-IDENTICAL to the pre-spine Saturday run (this is a strict superset; the real Sat 02:00 PT firing passes no shell_run, so this Choice always takes Default for it; with preflight_args defaulting to \"\" via InitializeInput every spot command string is char-for-char unchanged and every Lambda Payload behaviourally identical).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.shell_run",
              "IsPresent": true
            },
            {
              "Variable": "$.shell_run",
              "BooleanEquals": true
            }
          ],
          "Next": "ApplyShellRunDefaults"
        }
      ],
      "Default": "CheckSkipMorningEnrich"
    },
    "ApplyShellRunDefaults": {
      "Type": "Pass",
      "Comment": "shell_run=true ONLY (keystone — replaces #258's pure-skip with dry EXECUTION). Merges the dry-path control blob UNDER the current state (States.JsonMerge(shellDefaults, $, false) — second arg wins) so an explicit per-flag override in the execution input still takes effect (e.g. {\"shell_run\": true, \"skip_backtester\": true} still skips Backtester; {\"shell_run\": true, \"preflight_args\": \"\"} would run the spots full-fat). Mirrors InitializeInput's defaults-under-input JsonMerge pattern exactly. SPOT states (MorningEnrich, DataPhase1, RAGIngestion, PredictorTraining, Backtester, Parity, Evaluator) boot + run dry via preflight_args=\" --preflight-only\" (LEADING space inside the var; the spot states' final command is a States.Format whose {} is placed immediately after the mode token with NO literal space, so preflight_args=\"\" on the real run yields a byte-identical command — data #259 + predictor #175 + backtester #224 all expose --preflight-only verbatim, an orthogonal MODIFIER). LAMBDA states with a verified clean no-write dry path are routed dry, NOT skipped: Research (dry_run_llm=true — post-#195 install_dry_run_stubs no-ops archive_writer/email_sender/upload_db/write_signals_json/save_sector_team_run/save_agent_run), DataPhase2 (dry_run=true — alternative.collect returns ok_dry_run BEFORE any fetch/S3 write), RegimeSubstrate + RegimeRetrospectiveEval (action=dry_run — produce_*(write=False) returns payload before any put_object). DOCUMENTED EXCEPTIONS still hard-skipped via the #258 mechanism (no verified clean no-write dry path): skip_drift_detection (spot_drift_detection.sh has NO --preflight-only flag), skip_eval_judge (submit handler always _persist_client_side_skips + Anthropic Batch create — no handler-level dry param), skip_rationale_clustering (_persist_analysis S3 put_object is NOT gated by dry_run — only the CloudWatch metric is), skip_replay_concordance + skip_counterfactual (alpha-engine-replay-concordance/counterfactual handler source not present in any cloned repo — cannot verify a clean dry path; routing to an unverified one is forbidden). The #258 skip_* gates are LEFT INTACT and remain valid for targeted operator skips. The two health-check states have NO skip gate by design and run under shell_run (the bootstrap smoke) — their non-blocking Catch absorbs a stale-data sys.exit(1) so a missing-Friday-bar produces only a clearly-Friday-timestamped alert email, NOT a SF-fatal failure (ROADMAP owed-work item 5: a --shell-run-aware staleness tolerance in alpha-engine-dashboard/health_checker.py is a scoped cross-repo follow-on; not a SF-fatal spurious-fail, so deliberately out of this single-file SF PR).",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.StringToJson('{\"preflight_args\":\" --preflight-only\",\"research_dry\":true,\"data_phase2_dry\":true,\"regime_action\":\"dry_run\",\"skip_drift_detection\":true,\"skip_eval_judge\":true,\"skip_rationale_clustering\":true,\"skip_replay_concordance\":true,\"skip_counterfactual\":true}'),$,false)"
      },
      "OutputPath": "$.merged",
      "Next": "CheckSkipMorningEnrich"
    },
    "CheckSkipMorningEnrich": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_morning_enrich\": true} routes past the MorningEnrich state directly to the next skip-gate (CheckSkipDataPhase1). Missing flag = run as normal. MorningEnrich was split out of DataPhase1 by the preflight-task-split (2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md): morning-enrich (~28 min) and phase1 are independent preflight-bearing actions, so a phase1 failure must never re-run a completed morning-enrich. Useful for adhoc reruns where Friday's polygon-corrected daily_closes are already in ArcticDB but phase1 needs a re-run.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_morning_enrich",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_morning_enrich",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipDataPhase1"
        }
      ],
      "Default": "MorningEnrich"
    },
    "MorningEnrich": {
      "Type": "Task",
      "Comment": "Friday polygon-T+1 daily_closes fill (weekly_collector.py --morning-enrich) on a dedicated spot EC2. Split out of DataPhase1 by the preflight-task-split (2026-05-16): morning-enrich (~28 min) and phase1 are independent preflight-bearing actions, so a phase1 failure must never re-run this completed ~28-min step. Mirrors the RAGIngestion split precedent \u2014 its own spot, watchdog budget, per-state health marker, and a proper UNION entry preflight (preflight.py mode 'morning_enrich': polygon + FRED secrets + reachability + S3 writeable + ArcticDB libraries present; deliberately NO ArcticDB-freshness check \u2014 morning-enrich is part of what makes it fresh). ~7 min extra bootstrap vs the prior bundled design \u2014 accepted in exchange for never re-paying the 28-min morning-enrich on a downstream redrive.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','cd /home/ec2-user/alpha-engine-data','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a','trap \\'aws s3 cp /var/log/morning-enrich.log \"s3://alpha-engine-research/_ssm_logs/morning-enrich/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true\\' EXIT',States.Format('bash infrastructure/spot_data_weekly.sh --morning-enrich-only{} 2>&1 | tee /var/log/morning-enrich.log',$.preflight_args))",
          "executionTimeout": [
            "5400"
          ]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.morning_enrich_result",
      "Next": "WaitForMorningEnrich"
    },
    "WaitForMorningEnrich": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.morning_enrich_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.morning_enrich_poll",
      "Next": "CheckMorningEnrichStatus"
    },
    "CheckMorningEnrichStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipDataPhase1"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "InProgress",
          "Next": "MorningEnrichWait"
        },
        {
          "Variable": "$.morning_enrich_poll.Status",
          "StringEquals": "Pending",
          "Next": "MorningEnrichWait"
        }
      ],
      "Default": "ExtractMorningEnrichError"
    },
    "MorningEnrichWait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForMorningEnrich"
    },
    "CheckSkipDataPhase1": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_data_phase1\": true} routes past DataPhase1 directly to the next skip-gate (CheckSkipRAGIngestion). Missing flag = run as normal.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_data_phase1",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_data_phase1",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipRAGIngestion"
        }
      ],
      "Default": "DataPhase1"
    },
    "DataPhase1": {
      "Type": "Task",
      "Comment": "Weekly Phase 1 data collection + universe-prune (weekly_collector.py --phase 1 then builders.prune_delisted_tickers) on a dedicated spot EC2. MorningEnrich was split into its own preceding SF state by the preflight-task-split (2026-05-16): a failure here no longer re-runs the completed ~28-min morning-enrich. RAG ingestion lives in the separate RAGIngestion state (split 2026-05-06). Entry preflight is preflight.py mode 'phase1' (a strict superset of morning_enrich's dependency set \u2014 phase1 additionally builds the universe).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','cd /home/ec2-user/alpha-engine-data','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a','trap \\'aws s3 cp /var/log/data-weekly.log \"s3://alpha-engine-research/_ssm_logs/data-weekly/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true\\' EXIT',States.Format('bash infrastructure/spot_data_weekly.sh --phase1-only{} 2>&1 | tee /var/log/data-weekly.log',$.preflight_args))",
          "executionTimeout": [
            "5400"
          ]
        },
        "TimeoutSeconds": 5400
      },
      "TimeoutSeconds": 5460,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_result",
      "Next": "WaitForDataPhase1"
    },
    "WaitForDataPhase1": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.data_phase1_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.data_phase1_poll",
      "Next": "CheckDataPhase1Status"
    },
    "CheckDataPhase1Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipRAGIngestion"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "InProgress",
          "Next": "DataPhase1Wait"
        },
        {
          "Variable": "$.data_phase1_poll.Status",
          "StringEquals": "Pending",
          "Next": "DataPhase1Wait"
        }
      ],
      "Default": "ExtractDataPhase1Error"
    },
    "DataPhase1Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForDataPhase1"
    },
    "CheckSkipRAGIngestion": {
      "Type": "Choice",
      "Comment": "Skip-gate. Input like {\"skip_rag_ingestion\": true} routes past RAG ingestion directly to CheckSkipRegimeSubstrate. Missing flag = run as normal. Useful when DataPhase1 ran fresh but the RAG corpus is already current.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_rag_ingestion",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_rag_ingestion",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipRegimeSubstrate"
        }
      ],
      "Default": "RAGIngestion"
    },
    "RAGIngestion": {
      "Type": "Task",
      "Comment": "Weekly RAG ingestion (SEC filings, 8-Ks, earnings, theses) on its own spot EC2. Same dispatcher (always-on micro) that ran DataPhase1; a fresh spot instance is launched here so this state has its own watchdog budget and per-state health marker. ~7 min extra bootstrap vs the prior bundled design \u2014 accepted in exchange for failure isolation. Origin of split: 2026-05-06 SF run where alpha-engine-lib v0.3.0 had bare `from rag.X` imports inside retrieval.py that fired during RRC dedup; failure was labeled DataPhase1 even though the data layer was healthy.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main','cd /home/ec2-user/alpha-engine-data','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a','trap \\'aws s3 cp /var/log/rag-ingestion.log \"s3://alpha-engine-research/_ssm_logs/rag-ingestion/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true\\' EXIT',States.Format('bash infrastructure/spot_data_weekly.sh --rag-only{} 2>&1 | tee /var/log/rag-ingestion.log',$.preflight_args))",
          "executionTimeout": [
            "3600"
          ]
        },
        "TimeoutSeconds": 3600
      },
      "TimeoutSeconds": 3660,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.rag_ingestion_result",
      "Next": "WaitForRAGIngestion"
    },
    "WaitForRAGIngestion": {
      "Type": "Task",
      "Comment": "Poll SSM command until complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.rag_ingestion_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.rag_ingestion_poll",
      "Next": "CheckRAGIngestionStatus"
    },
    "CheckRAGIngestionStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipRegimeSubstrate"
        },
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "InProgress",
          "Next": "RAGIngestionWait"
        },
        {
          "Variable": "$.rag_ingestion_poll.Status",
          "StringEquals": "Pending",
          "Next": "RAGIngestionWait"
        }
      ],
      "Default": "ExtractRAGIngestionError"
    },
    "RAGIngestionWait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "WaitForRAGIngestion"
    },
    "CheckSkipRegimeSubstrate": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_regime_substrate\": true} bypasses the regime substrate Lambda and jumps to CheckSkipRegimeRetrospectiveEval (which independently honors its own skip flag). Independent of skip_research \u2014 operators can skip the HMM refit while still running research (or vice versa).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_regime_substrate",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_regime_substrate",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipRegimeRetrospectiveEval"
        }
      ],
      "Default": "RegimeSubstrate"
    },
    "RegimeSubstrate": {
      "Type": "Task",
      "Comment": "Regime substrate Lambda \u2014 fits a weekly 3-state HMM + composite z-score + BOCPD on macro feature history (FRED-sourced VIX/HYOAS/TNX/TWO + SPY), writes s3://alpha-engine-research/regime/{YYMMDDHHMM}.json + latest.json sidecar. The macro economist agent (Stage C) will consume this as a strong prior; macro agent remains the final regime authority. Observe-only at this stage \u2014 no production consumer reads the artifact yet. Failure is non-blocking (Catch routes to CheckSkipRegimeRetrospectiveEval, not HandleFailure) per the Stage A observe-only contract \u2014 a regime substrate failure during the 4-week observation period must not halt Research.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-regime-substrate:live",
        "Payload": {
          "action.$": "$.regime_action"
        }
      },
      "TimeoutSeconds": 360,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CheckSkipRegimeRetrospectiveEval",
          "ResultPath": "$.regime_substrate_error"
        }
      ],
      "ResultPath": "$.regime_substrate_result",
      "Next": "CheckSkipRegimeRetrospectiveEval"
    },
    "CheckSkipRegimeRetrospectiveEval": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_regime_retrospective_eval\": true} bypasses the T1 retrospective HMM smoothing eval and jumps to CheckSkipResearch. Independent of skip_regime_substrate \u2014 operator can run substrate without eval (or vice versa during ad-hoc replays).",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_regime_retrospective_eval",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_regime_retrospective_eval",
              "BooleanEquals": true
            }
          ],
          "Next": "ResearchPredictorParallel"
        }
      ],
      "Default": "RegimeRetrospectiveEval"
    },
    "RegimeRetrospectiveEval": {
      "Type": "Task",
      "Comment": "Stage C.2 T1 retrospective HMM smoothing eval \u2014 pairs the macro agent's historical regime calls against the HMM forward-backward smoother's labels (8-week lag, asymmetric loss penalizing bear-misses 2\u00d7). Writes s3://alpha-engine-research/regime/retrospective/{YYMMDDHHMM}.json + latest.json sidecar carrying n_pairings + rolling 26-week agreement rate. Observe-only \u2014 feeds the dashboard's Regime page, does NOT gate anything. Failure is non-blocking (Catch routes to CheckSkipResearch) \u2014 a retrospective-eval failure must not halt Research. Returns n_pairings=0 cleanly during the cold-start window (~8 weeks after substrate Lambda starts running).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "alpha-engine-predictor-regime-retrospective-eval:live",
        "Payload": {
          "action.$": "$.regime_action"
        }
      },
      "TimeoutSeconds": 660,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "MaxAttempts": 1,
          "IntervalSeconds": 60,
          "BackoffRate": 1.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ResearchPredictorParallel",
          "ResultPath": "$.regime_retrospective_eval_error"
        }
      ],
      "ResultPath": "$.regime_retrospective_eval_result",
      "Next": "ResearchPredictorParallel"
    },
    "ResearchPredictorParallel": {
      "Type": "Parallel",
      "Comment": "Research and PredictorTraining are DATA-INDEPENDENT (no S3/db data flows between them \u2014 see CLAUDE.md Architecture). They previously ran sequentially ONLY to 'spread API load', a now-STALE rationale: predictor TRAINING (training/train_handler.py) reads ArcticDB + CPU LightGBM and makes NO Anthropic calls (the yfinance fallback was removed by predictor PR #6; train_handler yfinance docstrings are stale). Research's only heavy load is Anthropic. They do not contend on the rate-limited API, so they run in parallel here to decouple PredictorTraining from Research's variable <=75-min strict-retry runtime and shorten SF wall-clock. Branch A = the full Research-consuming chain (DataPhase2 + eval-judge chain + agent-justification triple), Branch B = the PredictorTraining quartet. PER-BRANCH ERROR ISOLATION: each branch ends in a branch-local Pass terminal (End:true) that records OK/FAILED as DATA \u2014 a branch NEVER throws, so SF Parallel's default cancel-all-siblings-on-error behaviour can never abandon or waste an in-flight (or completed+S3-promoted) sibling. The SF is failed AFTER the join by CheckBranchOutcomes if either branch recorded FAILED. The Parallel-level Catch is a defense-in-depth backstop for genuine SF-engine Parallel errors only (the branches themselves always succeed).",
      "Branches": [
        {
          "StartAt": "CheckSkipResearch",
          "States": {
            "CheckSkipResearch": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_research\": true} bypasses the research Lambda and jumps to DataPhase2's skip-gate.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_research",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_research",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipDataPhase2"
                }
              ],
              "Default": "Research"
            },
            "Research": {
              "Type": "Task",
              "Comment": "Research Lambda \u2014 generates signals.json",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-runner:live",
                "Payload": {
                  "weekly_run": true,
                  "force": true,
                  "dry_run_llm.$": "$.research_dry"
                }
              },
              "TimeoutSeconds": 900,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchAFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.research_result",
              "Next": "CheckResearchStatus"
            },
            "CheckResearchStatus": {
              "Type": "Choice",
              "Comment": "Verify research returned OK (not ERROR)",
              "Choices": [
                {
                  "Variable": "$.research_result.Payload.status",
                  "StringEquals": "OK",
                  "Next": "CheckSkipDataPhase2"
                },
                {
                  "Variable": "$.research_result.Payload.status",
                  "StringEquals": "SKIPPED",
                  "Next": "CheckSkipDataPhase2"
                }
              ],
              "Default": "ExtractResearchError"
            },
            "CheckSkipDataPhase2": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_data_phase2\": true} bypasses the Phase 2 Lambda and jumps to the eval-judge skip-gate (post-2026-05-07 reorder \u2014 judge chain runs before predictor training so its results are available to evaluator's email).",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_data_phase2",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_data_phase2",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipEvalJudge"
                }
              ],
              "Default": "DataPhase2"
            },
            "DataPhase2": {
              "Type": "Task",
              "Comment": "Phase 2: alternative data for promoted tickers (Lambda). Successor is CheckSkipEvalJudge (post-2026-05-07 reorder) \u2014 judge + agent-justification triple run on Research's decision_artifacts/, no dependency on Predictor or Backtester output, so they run before predictor training to land their results in S3 before Evaluator generates the weekly email.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-data-collector:live",
                "Payload": {
                  "phase": 2,
                  "dry_run.$": "$.data_phase2_dry"
                }
              },
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchAFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.data_phase2_result",
              "Next": "CheckSkipEvalJudge"
            },
            "CheckSkipEvalJudge": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_eval_judge\": true} bypasses the LLM-as-judge eval step (typically used for ad-hoc reruns where eval cost is unwanted). Skipping the judge does NOT skip rationale clustering \u2014 they're independent observability paths (clustering reads decision_artifacts/, judge reads its own _eval/), so we route to CheckSkipRationaleClustering instead of bypassing both.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_eval_judge",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_eval_judge",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipRationaleClustering"
                }
              ],
              "Default": "ComputeEvalCadence"
            },
            "ComputeEvalCadence": {
              "Type": "Pass",
              "Comment": "Extract day-of-month + ISO date + submit timestamp from the SF execution start time. day_of_month <= 07 \u21d2 first Saturday of the month \u21d2 force_sonnet_pass=true (monthly Sonnet sweep per ROADMAP \u00a71626). All other Saturdays run Haiku-only batch + per-artifact Sonnet escalation tail inside the Process Lambda. submit_iso is propagated to EvalJudgePoll so it can compute elapsed-time against the 6h fail-soft cap.",
              "Parameters": {
                "day_of_month.$": "States.ArrayGetItem(States.StringSplit(States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0), '-'), 2)",
                "eval_date.$": "States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0)",
                "submit_iso.$": "$$.Execution.StartTime"
              },
              "ResultPath": "$.eval_cadence",
              "Next": "CheckMonthlyCadence"
            },
            "CheckMonthlyCadence": {
              "Type": "Choice",
              "Comment": "First-Saturday-of-the-month detection via lexicographic compare on the zero-padded day-of-month string ('01'..'07' < '08'). Lexicographic ordering is correct here because all values are zero-padded 2-char strings.",
              "Choices": [
                {
                  "Variable": "$.eval_cadence.day_of_month",
                  "StringLessThan": "08",
                  "Next": "EvalJudgeSubmitFirstSaturday"
                }
              ],
              "Default": "EvalJudgeSubmitWeekly"
            },
            "EvalJudgeSubmitFirstSaturday": {
              "Type": "Task",
              "Comment": "Submit phase, monthly Sonnet sweep \u2014 force_sonnet_pass=true. Builds the (artifact \u00d7 judge_model) batch payload covering both Haiku and Sonnet for every mapped artifact, submits as one Anthropic Message Batches API call, and writes the plan manifest to S3 keyed by batch_id. ROADMAP P1 \u00a71642. 50% cost discount per Anthropic's batch contract; structurally bypasses the 15-min Lambda timeout class that nearly fired on the 2026-05-06 manual midweek SF run.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-submit:live",
                "Payload": {
                  "force_sonnet_pass": true,
                  "date.$": "$.eval_cadence.eval_date"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval is observability per ROADMAP \u00a71635 \u2014 submit failures must NOT halt the pipeline. EvalRollingMean still runs against historical data.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_submit",
              "Next": "EvalJudgePollChoice"
            },
            "EvalJudgeSubmitWeekly": {
              "Type": "Task",
              "Comment": "Submit phase, weekly Haiku-only batch + Sonnet escalation tail in Process. Submits Haiku entries for every mapped artifact in one batch; the Process Lambda runs Sonnet escalations synchronously after Haiku results arrive (typically 1-3 artifacts/run, well under Process's 15-min budget). Preserves the per-artifact <3 escalation gate so weekly cost stays bounded relative to the all-pairs first-Saturday batch.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-submit:live",
                "Payload": {
                  "force_sonnet_pass": false,
                  "date.$": "$.eval_cadence.eval_date"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval is observability \u2014 submit failures must NOT halt the pipeline.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_submit",
              "Next": "EvalJudgePollChoice"
            },
            "EvalJudgePollChoice": {
              "Type": "Choice",
              "Comment": "Branch on Submit's processing_status. EMPTY (no captures or all empty-input skipped client-side) \u2192 route directly to Process so the empty-batch case still emits a clean SF result + downstream metric inputs. OK \u2192 enter the Wait/Poll loop. Anything else (ERROR, missing fields) routes to EvalRollingMean as a fail-soft.",
              "Choices": [
                {
                  "Variable": "$.eval_judge_submit.Payload.status",
                  "StringEquals": "EMPTY",
                  "Next": "EvalJudgeProcess"
                },
                {
                  "Variable": "$.eval_judge_submit.Payload.status",
                  "StringEquals": "OK",
                  "Next": "EvalJudgePollWait"
                }
              ],
              "Default": "EvalRollingMean"
            },
            "EvalJudgePollWait": {
              "Type": "Wait",
              "Comment": "60s pause between batch status polls. Anthropic's docs target sub-1h typical batch latency with 24h hard cap; 60s polls strike a balance between pickup latency and Lambda invocation cost over the typical wait.",
              "Seconds": 60,
              "Next": "EvalJudgePoll"
            },
            "EvalJudgePoll": {
              "Type": "Task",
              "Comment": "Poll phase. Calls anthropic.messages.batches.retrieve(batch_id) and returns processing_status + request_counts + elapsed_seconds. SF Choice that follows branches on processing_status: ended \u2192 Process; in_progress \u2192 loop back to Wait; exceeded_max_wait=true \u2192 fail-soft to EvalRollingMean.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-poll:live",
                "Payload": {
                  "batch_id.$": "$.eval_judge_submit.Payload.batch_id",
                  "submit_iso.$": "$.eval_cadence.submit_iso",
                  "max_wait_seconds": 21600
                }
              },
              "TimeoutSeconds": 60,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 2,
                  "IntervalSeconds": 30,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "A poll-level failure is recoverable \u2014 Anthropic retains batch results 29 days, so a transient poll Lambda failure can be re-run by a human if needed. Route to EvalRollingMean so the rest of the pipeline isn't blocked.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_poll",
              "Next": "EvalJudgePollDecision"
            },
            "EvalJudgePollDecision": {
              "Type": "Choice",
              "Comment": "Branch on poll status. processing_status='ended' \u2192 run Process. exceeded_max_wait=true \u2192 fail-soft (batch results stay retrievable for 29 days; an operator can re-run the chain offline). Anything else \u2192 loop back to Wait. Includes the synthetic 'ended_empty' status (Submit short-circuited an empty plan) so the empty case still hits Process.",
              "Choices": [
                {
                  "Or": [
                    {
                      "Variable": "$.eval_judge_poll.Payload.processing_status",
                      "StringEquals": "ended"
                    },
                    {
                      "Variable": "$.eval_judge_poll.Payload.processing_status",
                      "StringEquals": "ended_empty"
                    }
                  ],
                  "Next": "EvalJudgeProcess"
                },
                {
                  "Variable": "$.eval_judge_poll.Payload.exceeded_max_wait",
                  "BooleanEquals": true,
                  "Next": "EvalRollingMean"
                }
              ],
              "Default": "EvalJudgePollWait"
            },
            "EvalJudgeProcess": {
              "Type": "Task",
              "Comment": "Process phase. Streams the completed batch's results, parses each via the existing RubricEvalLLMOutput schema, persists per-artifact eval JSONs to decision_artifacts/_eval/{date}/, emits CW metrics under AlphaEngine/Eval, and runs the small synchronous Sonnet-escalation tail for any Haiku result that flagged a borderline dimension. Returns OK/PARTIAL/ERROR mirroring the legacy single-Lambda contract \u2014 no consumer (RationaleClustering, EvalRollingMean, dashboard) changes.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-judge-process:live",
                "Payload": {
                  "batch_id.$": "$.eval_judge_submit.Payload.batch_id",
                  "plan_s3_key.$": "$.eval_judge_submit.Payload.plan_s3_key"
                }
              },
              "TimeoutSeconds": 900,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval is observability \u2014 Process failures must NOT halt the pipeline. EvalRollingMean still runs against historical data.",
                  "Next": "EvalRollingMean",
                  "ResultPath": "$.eval_judge_error"
                }
              ],
              "ResultPath": "$.eval_judge_result",
              "Next": "EvalRollingMean"
            },
            "EvalRollingMean": {
              "Type": "Task",
              "Comment": "Rolling-4-week-mean derived metric Lambda (PR 4b) \u2014 runs after both eval-judge branches converge. Reads AlphaEngine/Eval/agent_quality_score for the trailing 28 days, computes the mean per (judged_agent_id, criterion, judge_model) combo, and emits agent_quality_score_4w_mean which a CloudWatch alarm fires against (per ROADMAP \u00a71634). Runs every Saturday \u2014 even on weeks where eval-judge had infra failures, the mean across the prior 4 weeks of available data is still the most-current calibration signal.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-eval-rolling-mean:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 failures must NOT halt the pipeline.",
                  "Next": "CheckSkipRationaleClustering",
                  "ResultPath": "$.eval_rolling_mean_error"
                }
              ],
              "ResultPath": "$.eval_rolling_mean_result",
              "Next": "CheckSkipRationaleClustering"
            },
            "CheckSkipRationaleClustering": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_rationale_clustering\": true} bypasses the cross-week rationale clustering Lambda (used during ad-hoc reruns where corpus is in a known-bad state, while iterating on extraction logic, or for post-incident reruns where stale outputs shouldn't hit CloudWatch). Standalone invocation of the Lambda is always available regardless of this flag.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_rationale_clustering",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_rationale_clustering",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipReplayConcordance"
                }
              ],
              "Default": "RationaleClustering"
            },
            "RationaleClustering": {
              "Type": "Task",
              "Comment": "Cross-week rationale clustering Lambda (ROADMAP P0, 2026-05-05). Reads decision_artifacts/ for the trailing 8 weeks, clusters rationales per agent_id via TF-IDF char n-grams + greedy single-linkage with digit-normalization, emits CW metric agent_rationale_template_concentration (% of rationales in top-3 clusters; >0.7 indicates template-generation), and persists per-agent analysis JSON to decision_artifacts/_analysis/{agent_id}/{YYYY-WW}.json. Runs every Saturday after EvalRollingMean \u2014 same image-share + observability framing.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-research-rationale-clustering:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime"
                }
              },
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 failures must NOT halt the pipeline.",
                  "Next": "CheckSkipReplayConcordance",
                  "ResultPath": "$.rationale_clustering_error"
                }
              ],
              "ResultPath": "$.rationale_clustering_result",
              "Next": "CheckSkipReplayConcordance"
            },
            "CheckSkipReplayConcordance": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_replay_concordance\": true} bypasses the cheap-model concordance Lambda (used for ad-hoc reruns where Anthropic spend is unwanted, or while iterating on the comparison scorers in alpha-engine-backtester replay/comparison.py). Independent of skip_rationale_clustering and skip_counterfactual \u2014 the three are independent agent-justification signals. Standalone invocation of the Lambda is always available regardless of this flag.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_replay_concordance",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_replay_concordance",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "CheckSkipCounterfactual"
                }
              ],
              "Default": "ReplayConcordance"
            },
            "ReplayConcordance": {
              "Type": "Task",
              "Comment": "Weekly cheap-model concordance Lambda (ROADMAP P0, agent-justification gate signal #3). Replays each captured DecisionArtifact in the trailing 8-week window under the configured target model(s) via langchain_anthropic.with_structured_output against the canonical agent_schemas Pydantic contract; aggregates agreement_score per (agent_id_base, target_model); emits CW metric agent_cheap_model_concordance; persists per-target summary JSON to decision_artifacts/_replay_summary/{YYYY-MM-DD}/{target_model}.json. Default target: claude-haiku-4-5 (Sonnet\u2192Haiku concordance \u2248 \"is the larger model earning its cost?\"). Runs every Saturday after RationaleClustering.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-replay-concordance:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime",
                  "target_models": [
                    "claude-haiku-4-5"
                  ],
                  "window_days": 56,
                  "max_artifacts": 150
                }
              },
              "TimeoutSeconds": 900,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 concordance failure must NOT halt the pipeline. Same Catch pattern as eval-judge / eval-rolling-mean / rationale-clustering.",
                  "Next": "CheckSkipCounterfactual",
                  "ResultPath": "$.replay_concordance_error"
                }
              ],
              "ResultPath": "$.replay_concordance_result",
              "Next": "CheckSkipCounterfactual"
            },
            "CheckSkipCounterfactual": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_counterfactual\": true} bypasses the counterfactual rule fit Lambda (used for ad-hoc reruns while iterating on the per-agent feature extractors in alpha-engine-backtester replay/counterfactual.py). Independent of skip_rationale_clustering and skip_replay_concordance \u2014 the three are independent agent-justification signals. Standalone invocation of the Lambda is always available regardless of this flag. Post-2026-05-07 reorder, exits to CheckSkipPredictorTraining (was SaturdayHealthCheck) \u2014 the judge chain now runs before predictor so its results are available to evaluator's email.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_counterfactual",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_counterfactual",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "BranchAComplete"
                }
              ],
              "Default": "Counterfactual"
            },
            "Counterfactual": {
              "Type": "Task",
              "Comment": "Weekly counterfactual rule fit Lambda (ROADMAP P0, agent-justification gate signal #2 \u2014 does the agent reduce to a 3-deep decision tree?). Trains DecisionTreeClassifier(max_depth=3) per supported agent on (input \u2192 decision) pairs from the trailing 8-week decision_artifacts/ corpus; emits CW metric agent_counterfactual_rule_fit per (judged_agent_id); persists per-agent JSON to decision_artifacts/_counterfactual/{agent_id_base}/{YYYY-WW}.json including tree_text + feature_importances. v1 covers ic_cio + macro_economist; other agents emit UNSUPPORTED markers. $0 ongoing \u2014 no LLM calls. Post-2026-05-07 reorder, runs after ReplayConcordance and exits to CheckSkipPredictorTraining (was SaturdayHealthCheck), so its persisted artifacts are available to Evaluator downstream.",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "alpha-engine-replay-counterfactual:live",
                "Payload": {
                  "end_time_iso.$": "$$.Execution.StartTime",
                  "window_days": 56,
                  "max_depth": 3
                }
              },
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 1,
                  "IntervalSeconds": 60,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Eval observability layer \u2014 counterfactual failure must NOT halt the pipeline. Same Catch pattern as the rest of the agent-justification triple. Routes to CheckSkipPredictorTraining (post-2026-05-07 reorder).",
                  "Next": "BranchAComplete",
                  "ResultPath": "$.counterfactual_error"
                }
              ],
              "ResultPath": "$.counterfactual_result",
              "Next": "BranchAComplete"
            },
            "ExtractResearchError": {
              "Type": "Pass",
              "Comment": "Normalize Research Lambda soft-failure payload (status != OK) into $.error. Research handler always returns {status, date, error} on the ERROR path so copying the whole Payload is safe and preserves the real traceback string.",
              "Parameters": {
                "phase": "Research",
                "source": "CheckResearchStatus.Default",
                "payload.$": "$.research_result.Payload"
              },
              "ResultPath": "$.error",
              "Next": "BranchAFailed"
            },
            "BranchAComplete": {
              "Type": "Pass",
              "Comment": "Branch A (Research \u2192 DataPhase2 \u2192 eval-judge chain \u2192 EvalRollingMean \u2192 RationaleClustering \u2192 ReplayConcordance \u2192 Counterfactual) completed. Records branch_a_status=OK so the post-join AggregateBranchOutcomes can decide whether to halt the SF. End:true so the Parallel branch SUCCEEDS \u2014 it must never throw, because a thrown branch would cancel the sibling PredictorTraining branch (default SF Parallel semantics).",
              "Result": {
                "branch_a_status": "OK"
              },
              "ResultPath": "$.branch_a",
              "End": true
            },
            "BranchAFailed": {
              "Type": "Pass",
              "Comment": "Branch A hard-failed (strict-Research no-partial-output failure, DataPhase2 failure, or a soft-fail status normalized by ExtractResearchError). Records branch_a_status=FAILED + the captured $.error as DATA and End:true \u2014 the branch SUCCEEDS in SF terms so the sibling PredictorTraining branch is NEVER abandoned by Parallel's cancel-siblings default. The SF is failed AFTER the join by CheckBranchOutcomes. Recovery: if Branch B completed + promoted weights to S3, the re-run uses {\"skip_predictor_training\": true} (weights are already live) and re-runs only Branch A.",
              "Parameters": {
                "branch_a_status": "FAILED",
                "branch_a_error.$": "$.error"
              },
              "ResultPath": "$.branch_a",
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckSkipPredictorTraining",
          "States": {
            "CheckSkipPredictorTraining": {
              "Type": "Choice",
              "Comment": "Skip-gate. {\"skip_predictor_training\": true} bypasses GBM retrain and jumps to DriftDetection's skip-gate.",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.skip_predictor_training",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.skip_predictor_training",
                      "BooleanEquals": true
                    }
                  ],
                  "Next": "BranchBComplete"
                }
              ],
              "Default": "PredictorTraining"
            },
            "PredictorTraining": {
              "Type": "Task",
              "Comment": "GBM retrain on spot instance (launched from always-on EC2)",
              "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
              "Parameters": {
                "DocumentName": "AWS-RunShellScript",
                "InstanceIds.$": "$.ec2_instance_id",
                "Parameters": {
                  "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-predictor pull --ff-only origin main','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-config pull --ff-only origin main','sudo -u ec2-user cp /home/ec2-user/alpha-engine-config/predictor/predictor.yaml /home/ec2-user/alpha-engine-predictor/config/predictor.yaml','cd /home/ec2-user/alpha-engine-predictor','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a','trap \\'aws s3 cp /var/log/predictor-training.log \"s3://alpha-engine-research/_ssm_logs/predictor-training/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true\\' EXIT',States.Format('bash infrastructure/spot_train.sh --full-only{} 2>&1 | tee /var/log/predictor-training.log',$.preflight_args))",
                  "executionTimeout": [
                    "5400"
                  ]
                },
                "TimeoutSeconds": 5400
              },
              "TimeoutSeconds": 5460,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed",
                    "States.Timeout"
                  ],
                  "MaxAttempts": 2,
                  "IntervalSeconds": 180,
                  "BackoffRate": 2.0,
                  "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry)"
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchBFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.predictor_result",
              "Next": "WaitForPredictorTraining"
            },
            "WaitForPredictorTraining": {
              "Type": "Task",
              "Comment": "Poll SSM command until predictor training complete",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
              "Parameters": {
                "CommandId.$": "$.predictor_result.Command.CommandId",
                "InstanceId.$": "$.ec2_instance_id[0]"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Ssm.InvocationDoesNotExistException"
                  ],
                  "MaxAttempts": 10,
                  "IntervalSeconds": 30,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "BranchBFailed",
                  "ResultPath": "$.error"
                }
              ],
              "ResultPath": "$.predictor_poll",
              "Next": "CheckPredictorStatus"
            },
            "CheckPredictorStatus": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.predictor_poll.Status",
                  "StringEquals": "Success",
                  "Next": "BranchBComplete"
                },
                {
                  "Variable": "$.predictor_poll.Status",
                  "StringEquals": "InProgress",
                  "Next": "PredictorWait"
                },
                {
                  "Variable": "$.predictor_poll.Status",
                  "StringEquals": "Pending",
                  "Next": "PredictorWait"
                }
              ],
              "Default": "ExtractPredictorError"
            },
            "PredictorWait": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "WaitForPredictorTraining"
            },
            "ExtractPredictorError": {
              "Type": "Pass",
              "Comment": "Normalize PredictorTraining SSM non-Success poll into $.error.",
              "Parameters": {
                "phase": "PredictorTraining",
                "source": "CheckPredictorStatus.Default",
                "poll.$": "$.predictor_poll"
              },
              "ResultPath": "$.error",
              "Next": "BranchBFailed"
            },
            "BranchBComplete": {
              "Type": "Pass",
              "Comment": "Branch B (PredictorTraining quartet) completed (training success OR skipped via skip_predictor_training). Records branch_b_status=OK. End:true so the branch SUCCEEDS and never cancels the sibling Research branch.",
              "Result": {
                "branch_b_status": "OK"
              },
              "ResultPath": "$.branch_b",
              "End": true
            },
            "BranchBFailed": {
              "Type": "Pass",
              "Comment": "Branch B (PredictorTraining) failed/timed-out (SSM non-Success normalized by ExtractPredictorError, or a Task Catch). Records branch_b_status=FAILED + $.error as DATA, End:true so the branch SUCCEEDS and the sibling Research branch runs to its own completion \u2014 a completed Research branch's signals.json / decision_artifacts are NOT silently discarded. The SF is failed AFTER the join by CheckBranchOutcomes. NOTE: if PredictorTraining promoted weights to S3 before failing a later poll, those weights persist; the recovery re-run skips the genuinely-completed branch.",
              "Parameters": {
                "branch_b_status": "FAILED",
                "branch_b_error.$": "$.error"
              },
              "ResultPath": "$.branch_b",
              "End": true
            }
          }
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 0,
          "Comment": "MaxAttempts:0 \u2014 branches self-terminate as success and record failure as data; there is nothing to retry at the Parallel level. Explicit no-op Retry documents intent and prevents an accidental default retry from re-running a completed PredictorTraining."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Backstop ONLY for a genuine SF-engine Parallel error (branches never throw \u2014 they end success with status data). Routes to the shared HandleFailure, mirroring the existing per-state Catch->HandleFailure convention; does NOT introduce a new error channel.",
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.parallel_result",
      "Next": "AggregateBranchOutcomes"
    },
    "AggregateBranchOutcomes": {
      "Type": "Pass",
      "Comment": "Parallel join sync point. $.parallel_result is the 2-element array of each branch's final effective input (branch order matches the Branches array: [0]=Research branch, [1]=PredictorTraining branch). Each branch terminal wrote its status under $.branch_a / $.branch_b, so hoist both statuses to a flat path for the Choice. This is the natural Backtester sync point \u2014 Backtester needs BOTH Research signal history AND PredictorTraining weights.",
      "Parameters": {
        "branch_a_status.$": "$.parallel_result[0].branch_a.branch_a_status",
        "branch_b_status.$": "$.parallel_result[1].branch_b.branch_b_status"
      },
      "ResultPath": "$.branch_outcomes",
      "Next": "CheckBranchOutcomes"
    },
    "CheckBranchOutcomes": {
      "Type": "Choice",
      "Comment": "Fail the SF AFTER the join if EITHER branch recorded FAILED \u2014 so the OTHER branch's completed work (Research signals.json / decision_artifacts, OR PredictorTraining's already-S3-promoted weights) persists and the recovery re-run's skip-set can skip whichever branch genuinely completed. Research-fail + Predictor-done \u2192 recovery re-run with {\"skip_predictor_training\": true}. Predictor-fail + Research-done \u2192 recovery re-run with {\"skip_research\": true, ... per the live-SF-derived skip-set practice}. Only when BOTH branches are OK does the pipeline continue to DriftDetection -> Backtester -> Parity -> Evaluator.",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.branch_outcomes.branch_a_status",
              "StringEquals": "FAILED"
            },
            {
              "Variable": "$.branch_outcomes.branch_b_status",
              "StringEquals": "FAILED"
            }
          ],
          "Next": "ExtractParallelBranchError"
        }
      ],
      "Default": "CheckSkipDriftDetection"
    },
    "ExtractParallelBranchError": {
      "Type": "Pass",
      "Comment": "Normalize a post-join branch failure into $.error for HandleFailure's States.Format/JsonToString template. Carries both branch statuses + each branch's recorded error so the FAILED SNS alert names which branch(es) failed and which completed (drives the recovery skip-set: a completed branch is skipped on the re-run). Mirrors the existing Extract*Error \u2192 HandleFailure convention; no new error channel.",
      "Parameters": {
        "phase": "ResearchPredictorParallel",
        "source": "CheckBranchOutcomes",
        "branch_a_status.$": "$.branch_outcomes.branch_a_status",
        "branch_b_status.$": "$.branch_outcomes.branch_b_status",
        "branch_a.$": "$.parallel_result[0].branch_a",
        "branch_b.$": "$.parallel_result[1].branch_b"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "CheckSkipDriftDetection": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_drift_detection\": true} bypasses drift detection and jumps to Backtester's skip-gate.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_drift_detection",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_drift_detection",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipBacktester"
        }
      ],
      "Default": "DriftDetection"
    },
    "DriftDetection": {
      "Type": "Task",
      "Comment": "Feature + prediction drift check on spot EC2 (non-blocking). Micro is the dispatcher; launcher clones data + predictor on a fresh spot, runs monitoring.drift_detector, terminates.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-data pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-data",
            "export HOME=/home/ec2-user",
            "set -a && source /home/ec2-user/.alpha-engine.env && set +a",
            "trap 'aws s3 cp /var/log/drift-detection.log \"s3://alpha-engine-research/_ssm_logs/drift-detection/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "bash infrastructure/spot_drift_detection.sh 2>&1 | tee /var/log/drift-detection.log"
          ],
          "executionTimeout": [
            "1200"
          ]
        },
        "TimeoutSeconds": 1200
      },
      "TimeoutSeconds": 1260,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Drift detection is non-blocking \u2014 continue to backtester",
          "Next": "CheckSkipBacktester",
          "ResultPath": "$.drift_error"
        }
      ],
      "ResultPath": "$.drift_result",
      "Next": "CheckSkipBacktester"
    },
    "CheckSkipBacktester": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_backtester\": true} bypasses BOTH the Backtester (backtest stage) and Parity states \u2014 it routes straight to CheckSkipEvaluator, skipping the whole backtest+parity pair (the parity stage was split into its own Parity SF state by the preflight-task-split 2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md; skip_backtester retains its original whole-pair semantics for backward compat). The Evaluator state still runs and gracefully degrades on missing same-cohort artifacts (evaluate.py logs a WARNING and continues \u2014 verified against the 2026-05-07 v1 validation run, where `Simulation artifact not found in S3: backtest/2026-05-07/sweep_df.parquet \u2014 evaluator will run without it` shows up cleanly). Routes to CheckSkipEvaluator so {\"skip_evaluator\": true} composes orthogonally: (a) neither flag \u2192 backtest+parity+evaluator run, (b) skip_backtester only \u2192 Evaluator runs against any pre-existing backtest/{date}/ artifacts, (c) skip_evaluator only \u2192 backtest+parity run without grading, (d) both \u2192 all skipped. To skip ONLY parity (keep the backtest), use {\"skip_parity\": true} on the new CheckSkipParity gate. Eval-judge chain downstream is preserved in all cases via CheckSkipEvaluator \u2192 CheckSkipEvalJudge (the 2026-05-03 silent-bypass fix is still pinned \u2014 both CheckSkipEvaluator paths converge to CheckSkipEvalJudge). The legacy {\"freeze_evaluator\": true} input is not honored; freeze-evaluator is a spot CLI flag (--freeze-evaluator) invoked manually outside the SF.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_backtester",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_backtester",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipEvaluator"
        }
      ],
      "Default": "Backtester"
    },
    "Backtester": {
      "Type": "Task",
      "Comment": "Backtest (10y simulate + param sweep, ~121 min) on spot instance, after predictor training. The parity stage was split into a separate Parity SF state by the preflight-task-split (2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md): backtest and parity are independent preflight-bearing actions, so a parity failure must never re-run the ~121-min backtest. Post-2026-05-07 the evaluator stage was already its own state (plan: alpha-engine-docs/private/evaluator-split-260507.md). spot_backtest.sh is invoked with --skip-stages=parity,evaluator so this state runs ONLY the backtest stage; the Parity state runs --skip-stages=backtest,evaluator and the Evaluator state runs --skip-stages=backtest,parity, all against the same backtest/{date}/ S3 prefix. State name kept as Backtester (lower-churn vs renaming to Backtest \u2014 preserves DriftDetection's Next/Catch edges and all inbound wiring). If this state fails, Parity is NOT entered (preserves the 4/24 anti-auto-promote-garbage rule).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "7200"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a','trap \\'aws s3 cp /var/log/backtester.log \"s3://alpha-engine-research/_ssm_logs/backtester/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true\\' EXIT',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('bash infrastructure/spot_backtest.sh --skip-stages=parity,evaluator{} 2>&1 | tee /var/log/backtester.log',$.preflight_args))"
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_result",
      "Next": "WaitForBacktester"
    },
    "WaitForBacktester": {
      "Type": "Task",
      "Comment": "Poll SSM command until backtester complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.backtester_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.backtester_poll",
      "Next": "CheckBacktesterStatus"
    },
    "CheckBacktesterStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipParity"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "InProgress",
          "Next": "BacktesterWait"
        },
        {
          "Variable": "$.backtester_poll.Status",
          "StringEquals": "Pending",
          "Next": "BacktesterWait"
        }
      ],
      "Default": "ExtractBacktesterError"
    },
    "BacktesterWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForBacktester"
    },
    "CheckSkipParity": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_parity\": true} bypasses ONLY the Parity state (backtester\u2194executor parity check) and routes to CheckSkipEvaluator \u2014 the completed backtest artifacts stay intact and Evaluator still runs against them. Missing flag = run as normal. Parity was split out of the old combined Backtester state by the preflight-task-split (2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md): backtest (~121 min) and parity are independent preflight-bearing actions, so a parity failure must never re-run the 121-min backtest. To skip the whole backtest+parity pair, use {\"skip_backtester\": true} on CheckSkipBacktester instead. Mirrors the skip_backtester / skip_evaluator shape.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_parity",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_parity",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSkipEvaluator"
        }
      ],
      "Default": "Parity"
    },
    "Parity": {
      "Type": "Task",
      "Comment": "Backtester\u2194executor parity check on spot instance, after the backtest stage. Split out of the old combined Backtester state by the preflight-task-split (2026-05-16, plan alpha-engine-docs/private/preflight-task-split-260516.md): backtest (~121 min, 10y simulate + param sweep) and parity are independent preflight-bearing actions, so a parity failure must never re-run the 121-min backtest. spot_backtest.sh is invoked with --skip-stages=backtest,evaluator so this state runs ONLY the parity stage, reading the same backtest/{date}/ S3 prefix the Backtester state just wrote. ~7 min extra spot bootstrap vs the prior bundled design \u2014 accepted in exchange for never re-paying the 121-min backtest on a parity redrive. Timeout/heartbeat budget copied from the old combined Backtester state (not under-sized \u2014 same Retry/Catch/Timeout pattern). If this state fails, Evaluator is NOT entered (preserves the 4/24 anti-auto-promote-garbage rule).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "7200"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a','trap \\'aws s3 cp /var/log/parity.log \"s3://alpha-engine-research/_ssm_logs/parity/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true\\' EXIT',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('bash infrastructure/spot_backtest.sh --skip-stages=backtest,evaluator{} 2>&1 | tee /var/log/parity.log',$.preflight_args))"
        },
        "TimeoutSeconds": 7200
      },
      "TimeoutSeconds": 7260,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.parity_result",
      "Next": "WaitForParity"
    },
    "WaitForParity": {
      "Type": "Task",
      "Comment": "Poll SSM command until parity complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.parity_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.parity_poll",
      "Next": "CheckParityStatus"
    },
    "CheckParityStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parity_poll.Status",
          "StringEquals": "Success",
          "Next": "CheckSkipEvaluator"
        },
        {
          "Variable": "$.parity_poll.Status",
          "StringEquals": "InProgress",
          "Next": "ParityWait"
        },
        {
          "Variable": "$.parity_poll.Status",
          "StringEquals": "Pending",
          "Next": "ParityWait"
        }
      ],
      "Default": "ExtractParityError"
    },
    "ParityWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForParity"
    },
    "CheckSkipEvaluator": {
      "Type": "Choice",
      "Comment": "Skip-gate. {\"skip_evaluator\": true} bypasses ONLY the Evaluator state (evaluate.py against today's backtest+parity artifacts) and routes to SaturdayHealthCheck. Post-2026-05-07 reorder, the eval-judge chain runs BEFORE predictor (after DataPhase2), so by the time we reach this skip-gate, judge results are already in S3 and Evaluator either consumed them (default path) or is being skipped. To skip the entire backtester+evaluator pair, use {\"skip_backtester\": true} on CheckSkipBacktester instead.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.skip_evaluator",
              "IsPresent": true
            },
            {
              "Variable": "$.skip_evaluator",
              "BooleanEquals": true
            }
          ],
          "Next": "SaturdayHealthCheck"
        }
      ],
      "Default": "Evaluator"
    },
    "Evaluator": {
      "Type": "Task",
      "Comment": "Evaluator on a separate spot instance (split from Backtester 2026-05-07 \u2014 plan: alpha-engine-docs/private/evaluator-split-260507.md). Reads s3://alpha-engine-research/backtest/{RUN_DATE}/ artifacts produced by the prior Backtester state and runs evaluate.py --mode all --upload, which sends the per-signal grading email and auto-applies optimizer configs. Reuses spot_backtest.sh with --skip-stages=backtest,parity; the script is the canonical dispatch surface (existing CSV vocabulary). Live-apply mode by default; for diagnostic-only off-cycle runs, invoke spot_backtest.sh manually with --freeze-evaluator and --skip-stages=backtest,parity.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "executionTimeout": [
            "3600"
          ],
          "commands.$": "States.Array('set -eo pipefail','sudo -u ec2-user git -C /home/ec2-user/alpha-engine-backtester pull --ff-only origin main','cd /home/ec2-user/alpha-engine-backtester','export HOME=/home/ec2-user','set -a && source /home/ec2-user/.alpha-engine.env && set +a','trap \\'aws s3 cp /var/log/evaluator.log \"s3://alpha-engine-research/_ssm_logs/evaluator/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true\\' EXIT',States.Format('export RUN_DATE=\\'{}\\'',$.run_date),States.Format('bash infrastructure/spot_backtest.sh --skip-stages=backtest,parity{} 2>&1 | tee /var/log/evaluator.log',$.preflight_args))"
        },
        "TimeoutSeconds": 3600
      },
      "TimeoutSeconds": 3660,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "MaxAttempts": 2,
          "IntervalSeconds": 180,
          "BackoffRate": 2.0,
          "Comment": "Retry on failure/timeout \u2014 handles spot interruption (new instance on retry). Mirrors Backtester retry posture for symmetry."
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.evaluator_result",
      "Next": "WaitForEvaluator"
    },
    "WaitForEvaluator": {
      "Type": "Task",
      "Comment": "Poll SSM command until evaluator complete",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.evaluator_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 10,
          "IntervalSeconds": 30,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFailure",
          "ResultPath": "$.error"
        }
      ],
      "ResultPath": "$.evaluator_poll",
      "Next": "CheckEvaluatorStatus"
    },
    "CheckEvaluatorStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Success",
          "Next": "SaturdayHealthCheck"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "InProgress",
          "Next": "EvaluatorWait"
        },
        {
          "Variable": "$.evaluator_poll.Status",
          "StringEquals": "Pending",
          "Next": "EvaluatorWait"
        }
      ],
      "Default": "ExtractEvaluatorError"
    },
    "EvaluatorWait": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "WaitForEvaluator"
    },
    "SaturdayHealthCheck": {
      "Type": "Task",
      "Comment": "Check data freshness after full pipeline \u2014 non-blocking (alerts on failure but does not halt). Runs from alpha-engine-dashboard post-2026-04-16 health_checker migration.",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-dashboard pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "trap 'aws s3 cp /var/log/health-check.log \"s3://alpha-engine-research/_ssm_logs/health-check/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python health_checker.py --alert 2>&1 | tee /var/log/health-check.log"
          ],
          "executionTimeout": [
            "60"
          ]
        },
        "TimeoutSeconds": 60
      },
      "TimeoutSeconds": 90,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Health check failure is non-blocking \u2014 continue to notify",
          "Next": "NotifyComplete",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_result",
      "Next": "WaitForSaturdayHealthCheck"
    },
    "WaitForSaturdayHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.health_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Non-blocking \u2014 continue to substrate check even if freshness polling fails. SaturdayHealthCheck (artifact freshness) and WeeklySubstrateHealthCheck (row-driven inventory validation) are independent observability paths; both must run.",
          "Next": "WeeklySubstrateHealthCheck",
          "ResultPath": "$.health_check_error"
        }
      ],
      "ResultPath": "$.health_check_poll",
      "Next": "WeeklySubstrateHealthCheck"
    },
    "WeeklySubstrateHealthCheck": {
      "Type": "Task",
      "Comment": "Phase 2 \u2192 3 transparency-substrate health check. Validates every row of the transparency inventory (alpha-engine-lib transparency_inventory.yaml) \u2014 agent decisions, predictor decisions, trade lineage, risk events, P&L attribution, config changes, data quality, agent quality, pipeline execution. Per-row CloudWatch metrics emit to AlphaEngine/Substrate so individual rows have their own alarms. Non-blocking (alerts on failure but does not halt pipeline) \u2014 same pattern as SaturdayHealthCheck. The Sat SF passes --cadence weekly which sweeps weekly + daily rows; the weekday EOD SF runs --cadence daily on the daily-only subset (PR #178 \u2014 DailySubstrateHealthCheck state).",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds.$": "$.ec2_instance_id",
        "Parameters": {
          "commands": [
            "set -eo pipefail",
            "sudo -u ec2-user git -C /home/ec2-user/alpha-engine-dashboard pull --ff-only origin main",
            "cd /home/ec2-user/alpha-engine-dashboard",
            "source .venv/bin/activate",
            "pip install --quiet --upgrade -r requirements.txt",
            "trap 'aws s3 cp /var/log/substrate-health-check.log \"s3://alpha-engine-research/_ssm_logs/substrate-health-check/$(date -u +%Y-%m-%d)/$(hostname)-$(date -u +%H%M%SZ).log\" --only-show-errors || true' EXIT",
            "python -m alpha_engine_lib.transparency --cadence weekly --alert 2>&1 | tee /var/log/substrate-health-check.log"
          ],
          "executionTimeout": [
            "180"
          ]
        },
        "TimeoutSeconds": 180
      },
      "TimeoutSeconds": 240,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Substrate check failure is non-blocking \u2014 continue to notify. Per-row CloudWatch alarms catch row-level failures; this Catch only fires on infra/SSM failure.",
          "Next": "NotifyComplete",
          "ResultPath": "$.substrate_check_error"
        }
      ],
      "ResultPath": "$.substrate_check_result",
      "Next": "WaitForWeeklySubstrateHealthCheck"
    },
    "WaitForWeeklySubstrateHealthCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.substrate_check_result.Command.CommandId",
        "InstanceId.$": "$.ec2_instance_id[0]"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Ssm.InvocationDoesNotExistException"
          ],
          "MaxAttempts": 5,
          "IntervalSeconds": 5,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Non-blocking \u2014 continue even if polling fails. Row-level alarms still page on failure regardless of polling outcome.",
          "Next": "NotifyComplete",
          "ResultPath": "$.substrate_check_error"
        }
      ],
      "ResultPath": "$.substrate_check_poll",
      "Next": "CheckShellRunNotify"
    },
    "CheckShellRunNotify": {
      "Type": "Choice",
      "Comment": "Consolidated Friday-PM shell-run result notify. Reuses the EXISTING NotifyComplete SNS-publish substrate (same alpha-engine-alerts topic, same arn:aws:states:::sns:publish Resource) with a shell_run-tagged Subject/Message so the operator can tell a Friday dry-pass result apart from a real Saturday SUCCESS in their inbox. shell_run absent/false \u2192 NotifyComplete (BYTE-IDENTICAL to pre-spine). shell_run=true \u2192 NotifyShellRunComplete. No new SNS topic / Lambda / infra \u2014 the consolidated per-state pass/fail report (ROADMAP design point 5) is a scoped follow-on; the spine delivers a single shell-run-tagged success signal by reusing NotifyComplete's pattern.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.shell_run",
              "IsPresent": true
            },
            {
              "Variable": "$.shell_run",
              "BooleanEquals": true
            }
          ],
          "Next": "NotifyShellRunComplete"
        }
      ],
      "Default": "NotifyComplete"
    },
    "NotifyShellRunComplete": {
      "Type": "Task",
      "Comment": "Friday-PM shell-run success notification via SNS. Mirrors NotifyComplete exactly (same topic, Resource, ResultPath, End) with a SHELL RUN-tagged Subject so a green Friday dry-pass is distinguishable from a real Saturday SUCCESS. A FAILED shell run still routes through the unchanged HandleFailure (a 'FAILED' alert whose execution timestamp/ID is clearly the Friday run is still the actionable signal the operator needs inside the Friday fix window \u2014 re-pointing HandleFailure's 20 inbound edges to a shell-run variant was deliberately NOT done: high churn, zero added operator value, and it would perturb the real Saturday failure path's risk surface).",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline \u2014 SHELL RUN PASSED (Friday dry-pass)",
        "Message": "Friday-PM shell run of the Saturday pipeline completed: all workload states no-op'd via shell_run, health/substrate checks ran. No Saturday-fatal bootstrap break detected for tomorrow's 02:00 PT real run. Check dashboard / execution history for per-state detail."
      },
      "ResultPath": "$.notify_result",
      "End": true
    },
    "NotifyComplete": {
      "Type": "Task",
      "Comment": "Success notification via SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline \u2014 SUCCESS",
        "Message": "All steps completed successfully. Check dashboard for results."
      },
      "ResultPath": "$.notify_result",
      "End": true
    },
    "ExtractMorningEnrichError": {
      "Type": "Pass",
      "Comment": "Normalize MorningEnrich SSM non-Success poll into $.error. Mirrors ExtractDataPhase1Error \u2014 the soft-failure path from CheckMorningEnrichStatus.Default does not populate $.error, only Task Catch blocks do.",
      "Parameters": {
        "phase": "MorningEnrich",
        "source": "CheckMorningEnrichStatus.Default",
        "poll.$": "$.morning_enrich_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractDataPhase1Error": {
      "Type": "Pass",
      "Comment": "Normalize DataPhase1 SSM non-Success poll into $.error so HandleFailure's States.Format template has something to serialize (the soft-failure path from CheckDataPhase1Status.Default does not populate $.error \u2014 only Task Catch blocks do).",
      "Parameters": {
        "phase": "DataPhase1",
        "source": "CheckDataPhase1Status.Default",
        "poll.$": "$.data_phase1_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractRAGIngestionError": {
      "Type": "Pass",
      "Comment": "Normalize RAGIngestion SSM non-Success poll into $.error. Mirrors ExtractDataPhase1Error \u2014 the soft-failure path from CheckRAGIngestionStatus.Default does not populate $.error, only Task Catch blocks do.",
      "Parameters": {
        "phase": "RAGIngestion",
        "source": "CheckRAGIngestionStatus.Default",
        "poll.$": "$.rag_ingestion_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractBacktesterError": {
      "Type": "Pass",
      "Comment": "Normalize Backtester SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Backtester",
        "source": "CheckBacktesterStatus.Default",
        "poll.$": "$.backtester_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractParityError": {
      "Type": "Pass",
      "Comment": "Normalize Parity SSM non-Success poll into $.error. Mirrors ExtractBacktesterError \u2014 the soft-failure path from CheckParityStatus.Default does not populate $.error, only Task Catch blocks do.",
      "Parameters": {
        "phase": "Parity",
        "source": "CheckParityStatus.Default",
        "poll.$": "$.parity_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "ExtractEvaluatorError": {
      "Type": "Pass",
      "Comment": "Normalize Evaluator SSM non-Success poll into $.error.",
      "Parameters": {
        "phase": "Evaluator",
        "source": "CheckEvaluatorStatus.Default",
        "poll.$": "$.evaluator_poll"
      },
      "ResultPath": "$.error",
      "Next": "HandleFailure"
    },
    "HandleFailure": {
      "Type": "Task",
      "Comment": "Failure alert via SNS \u2014 pipeline halts",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.sns_topic_arn",
        "Subject": "Alpha Engine Saturday Pipeline \u2014 FAILED",
        "Message.$": "States.Format('Pipeline failed. Error: {}. Use Step Functions console to redrive from failed step.', States.JsonToString($.error))"
      },
      "ResultPath": "$.failure_notify",
      "Next": "FailExecution"
    },
    "FailExecution": {
      "Type": "Fail",
      "Error": "PipelineFailure",
      "Cause": "One or more pipeline steps failed. Check CloudWatch logs and redrive from the Step Functions console."
    }
  }
}